Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: admin-api-client-data-provider, admin-api-client, admin-api-paths, cli-runner, config, core, cypress-commands, logger, main, nested-collections, plugin-admin-api, plugin-inquirer-cli, plugin-openapi, plugin-proxy

style: Fix imports style
  packages/core/src/mock/Mock.ts
  packages/core/src/mock/collections/Collection.ts
  packages/plugin-admin-api/src/routes/Root.ts
  packages/plugin-admin-api/src/routes/api/About.ts
  packages/plugin-admin-api/src/routes/swagger/Swagger.ts
  packages/plugin-admin-api/src/support/Routers.ts
  packages/plugin-openapi/test/support/helpers.js
Due: core, plugin-admin-api, plugin-openapi

chore: Enable lint
  .github/workflows/build.yml
Due: none

chore: Upgrade actions
  .github/workflows/build.yml
Due: none

chore: Control concurrency
  .github/workflows/affected-projects.yml
  .github/workflows/check-affected.yml
Due: none

fix: Fis route definition types
  packages/core/src/mock/definitions/RouteDefinitions.types.ts
  packages/core/src/variant-handlers/handlers/File.types.ts
  packages/core/src/variant-handlers/handlers/Json.types.ts
  packages/core/src/variant-handlers/handlers/Middleware.types.ts
  packages/core/src/variant-handlers/handlers/Static.types.ts
  packages/core/src/variant-handlers/handlers/Status.types.ts
  packages/core/src/variant-handlers/handlers/Text.types.ts
  packages/plugin-proxy/src/ProxyVariantHandler.types.ts
Due: core, plugin-proxy

chore: Strict Mocks Server config type
  packages/admin-api-client/package.json
  packages/admin-api-client/src/AdminApiClient.ts
  packages/admin-api-client/src/AdminApiClient.types.ts
  packages/config/src/Options.types.ts
  packages/config/src/types.ts
  packages/core/src/Core.ts
  packages/core/src/Core.types.ts
  packages/cypress-commands/package.json
  packages/cypress-commands/src/AdminApiClient.ts
  packages/cypress-commands/src/AdminApiClient.types.ts
  packages/cypress-commands/src/Commands.ts
  packages/cypress-commands/src/Commands.types.ts
  packages/cypress-commands/src/Cypress.types.ts
  packages/main/src/CreateServer.ts
  packages/plugin-admin-api/src/routes/api/Config.ts
  pnpm-lock.yaml
Due: admin-api-client, config, core, cypress-commands, main, plugin-admin-api

chore: Upgrade versions
  packages/admin-api-client/package.json
  packages/admin-api-client/sonar-project.properties
  packages/config/package.json
  packages/config/sonar-project.properties
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/cypress-commands/package.json
  packages/cypress-commands/sonar-project.properties
  packages/logger/package.json
  packages/logger/sonar-project.properties
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/nested-collections/package.json
  packages/nested-collections/sonar-project.properties
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
  packages/plugin-inquirer-cli/package.json
  packages/plugin-inquirer-cli/sonar-project.properties
  packages/plugin-openapi/package.json
  packages/plugin-openapi/sonar-project.properties
  packages/plugin-proxy/package.json
  packages/plugin-proxy/sonar-project.properties
Due: admin-api-client, config, core, cypress-commands, logger, main, nested-collections, plugin-admin-api, plugin-inquirer-cli, plugin-openapi, plugin-proxy

chore: Upgrade node and pnpm versions
  .github/workflows/affected-projects.yml
  .github/workflows/build.yml
  .github/workflows/check-affected.yml
  .github/workflows/publish-to-github.yml
  .github/workflows/publish-to-npm.yml
  pnpm-lock.yaml
Due: none

chore(deps): Downgrade pnpm version
  .github/workflows/build.yml
  .github/workflows/check-affected.yml
  .github/workflows/publish-to-github.yml
  .github/workflows/publish-to-npm.yml
  pnpm-lock.yaml
Due: none

chore: Fix eslint command
  package.json
  packages/core/test/components/variant-handlers/handlers/File.spec.js
  pnpm-lock.yaml
Due: core

chore: Fix react-scripts in node 18
  mocks/admin-api-client-data-provider-e2e-react-app/package.json
Due: none

feat: extract example from schemas
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/src/types.ts
Due: plugin-openapi

test: add example in schema tests
  packages/plugin-openapi/test/example-in-schema.spec.js
  packages/plugin-openapi/test/fixtures/example-in-schema/openapi/api.js
Due: plugin-openapi

feat:
  packages/plugin-openapi/src/openapi.ts
Due: plugin-openapi

test: add tests for format property
  packages/plugin-openapi/test/example-in-schema.spec.js
  packages/plugin-openapi/test/fixtures/example-in-schema/openapi/api.js
Due: plugin-openapi

Path conditions:
  admin-api-client-data-provider: any of: packages/admin-api-client-data-provider/**
  admin-api-client: any of: packages/admin-api-client/**
  admin-api-paths: any of: packages/admin-api-paths/**
  cli-runner: any of: packages/cli-runner/**
  config: any of: packages/config/**
  core: any of: packages/core/**
  cypress-commands: any of: packages/cypress-commands/**
  logger: any of: packages/logger/**
  main: any of: packages/main/**
  nested-collections: any of: packages/nested-collections/**
  plugin-admin-api: any of: packages/plugin-admin-api/**
  plugin-inquirer-cli: any of: packages/plugin-inquirer-cli/**
  plugin-openapi: any of: packages/plugin-openapi/**
  plugin-proxy: any of: packages/plugin-proxy/**
