Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: core, cypress-commands, main, plugin-inquirer-cli, plugin-proxy

chore: make script compatible with Windows
  .github/workflows/build.yml
  packages/main/package.json
Due: main

chore: trace paths
  scripts/projects/utils.js
Due: none

chore: trace paths
  scripts/common/paths.js
Due: none

chore: try to fix root path in windows
  scripts/common/paths.js
Due: none

chore: try to fix dirName on windows
  scripts/common/utils.js
Due: none

chore: Fix cypress:run command in windows
  scripts/common/paths.js
  scripts/projects/utils.js
  test/admin-api-client-data-provider-e2e-specs/package.json
Due: none

chore: Remove unneded cross-env
  test/admin-api-client-data-provider-e2e-specs/package.json
Due: none

chore: Remove if-node-version because it does not work on Windows. Set env var in workflow
  .github/workflows/build.yml
  mocks/admin-api-client-data-provider-e2e-react-app/package.json
  package.json
  pnpm-lock.yaml
  test/admin-api-client-data-provider-e2e-specs/package.json
Due: none

test: Unset env var after running tests. Use path sep in assertions
  .github/workflows/build.yml
  test/plugin-inquirer-cli-e2e/src/main/v1/support/utils.js
  test/plugin-inquirer-cli-e2e/src/main/v1/web-tutorial-files-watch.spec.js
  test/plugin-inquirer-cli-e2e/src/main/v2/files-watch.spec.js
  test/plugin-inquirer-cli-e2e/src/main/v2/support/helpers.js
Due: none

test: Fix assertion
  test/plugin-inquirer-cli-e2e/src/main/v1/web-tutorial-files-watch.spec.js
Due: none

chore: Add Cypress cache
  .github/workflows/build.yml
Due: none

chore(workflow): install windows dependencies in previous step to cache Cypress
  .github/workflows/build.yml
Due: none

chore(release): Upgrade versions
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/README.md
  packages/admin-api-client-data-provider/package.json
  packages/admin-api-client-data-provider/sonar-project.properties
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/package.json
  packages/admin-api-client/sonar-project.properties
  packages/admin-api-paths/CHANGELOG.md
  packages/admin-api-paths/package.json
  packages/admin-api-paths/sonar-project.properties
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/package.json
  packages/cypress-commands/sonar-project.properties
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/package.json
  packages/plugin-inquirer-cli/sonar-project.properties
  packages/plugin-proxy/CHANGELOG.md
  packages/plugin-proxy/package.json
  packages/plugin-proxy/sonar-project.properties
Due: core, cypress-commands, main, plugin-inquirer-cli, plugin-proxy

chore(deps): update dependency typescript to v4.6.3
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update actions/upload-artifact action to v3
  .github/workflows/build.yml
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v21.1.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency lint-staged to v12.3.8
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency prettier to v2.6.2
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency sinon to v13.0.2
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update babel monorepo
  package.json
  packages/core/package.json
  packages/main/package.json
  pnpm-lock.yaml
Due: core, main

fix(deps): update dependency express to v4.17.3
  packages/core/package.json
  packages/plugin-admin-api/package.json
  pnpm-lock.yaml
Due: core

fix(deps): update dependency inquirer to v8.2.2
  packages/plugin-inquirer-cli/package.json
  pnpm-lock.yaml
Due: plugin-inquirer-cli

fix(deps): update dependency react-redux to v7.2.8
  mocks/admin-api-client-data-provider-e2e-react-app/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency winston-array-transport to v1.1.9
  packages/core/package.json
  pnpm-lock.yaml
Due: core

chore(deps): update dependency @rollup/plugin-node-resolve to v13.2.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency axios to v0.26.1
  mocks/admin-api-client-data-provider-e2e-vanilla-app/public/index.html
Due: none

chore(deps): update dependency @typescript-eslint/parser to v5.20.0
  package.json
  pnpm-lock.yaml
Due: none

test: Remove legacy E2E tests
  test/admin-api-client-data-provider-nodejs-e2e/src/index.js
  test/admin-api-client-data-provider-nodejs-e2e/src/index.spec.js
Due: none

docs: Improve changelogs
  packages/core/CHANGELOG.md
  packages/plugin-admin-api/CHANGELOG.md
Due: core

test: remove legacy test
  packages/plugin-admin-api/test/legacy-behaviors-api.spec.js
Due: none

test: Move plugin-proxy tests
  packages/plugin-proxy/jest.config.js
  packages/plugin-proxy/test/docsExample.spec.js
  packages/plugin-proxy/test/filters.spec.js
  packages/plugin-proxy/test/fixtures/delay/mocks.js
  packages/plugin-proxy/test/fixtures/delay/routes/proxy.js
  packages/plugin-proxy/test/fixtures/docs-example/mocks.js
  packages/plugin-proxy/test/fixtures/docs-example/routes/proxy.js
  packages/plugin-proxy/test/fixtures/filters/mocks.js
  packages/plugin-proxy/test/fixtures/filters/routes/proxy.js
  packages/plugin-proxy/test/fixtures/filters/routes/users.js
  packages/plugin-proxy/test/fixtures/host-2/db/users.js
  packages/plugin-proxy/test/fixtures/host-2/mocks.js
  packages/plugin-proxy/test/fixtures/host-2/routes/user.js
  packages/plugin-proxy/test/fixtures/host-function/mocks.js
  packages/plugin-proxy/test/fixtures/host-function/routes/proxy.js
  packages/plugin-proxy/test/fixtures/host/db/users.js
  packages/plugin-proxy/test/fixtures/host/mocks.js
  packages/plugin-proxy/test/fixtures/host/routes/user.js
  packages/plugin-proxy/test/fixtures/host/routes/users.js
  packages/plugin-proxy/test/fixtures/res-decorator/mocks.js
  packages/plugin-proxy/test/fixtures/res-decorator/routes/proxy.js
  packages/plugin-proxy/test/hostFunction.spec.js
  packages/plugin-proxy/test/optionDelay.spec.js
  packages/plugin-proxy/test/resDecorator.spec.js
  packages/plugin-proxy/test/support/helpers.js
  packages/plugin-proxy/test/variantDelay.spec.js
Due: plugin-proxy

refactor: pass callbacks to Settings object
  packages/core/src/Core.js
  packages/core/src/Orchestrator.js
  packages/core/src/settings/Settings.js
Due: core

style: fix Sonar smells due to new rule
  packages/core/src/plugins/files-loader/FilesLoader.js
  packages/core/test/settings/CommandLineArguments.spec.js
  packages/plugin-proxy/test/fixtures/delay/routes/proxy.js
  packages/plugin-proxy/test/fixtures/docs-example/routes/proxy.js
  packages/plugin-proxy/test/fixtures/filters/routes/proxy.js
  packages/plugin-proxy/test/fixtures/host-function/routes/proxy.js
  packages/plugin-proxy/test/fixtures/res-decorator/routes/proxy.js
  test/core-e2e/src/v2/custom-router.spec.js
Due: core, plugin-proxy

refactor: Use callbacks internally instead of events. Remove Orchestrator
  packages/core/CHANGELOG.md
  packages/core/src/Core.js
  packages/core/src/Orchestrator.js
  packages/core/src/server/Server.js
Due: core

chore: remove coverage
  packages/config/.gitignore
  packages/config/coverage/clover.xml
  packages/config/coverage/coverage-final.json
  packages/config/coverage/lcov-report/base.css
  packages/config/coverage/lcov-report/block-navigation.js
  packages/config/coverage/lcov-report/config/index.html
  packages/config/coverage/lcov-report/config/index.js.html
  packages/config/coverage/lcov-report/config/src/CommandLineArguments.js.html
  packages/config/coverage/lcov-report/config/src/Config.js.html
  packages/config/coverage/lcov-report/config/src/Options.js.html
  packages/config/coverage/lcov-report/config/src/Settings.js.html
  packages/config/coverage/lcov-report/config/src/helpers.js.html
  packages/config/coverage/lcov-report/config/src/index.html
  packages/config/coverage/lcov-report/config/src/scaffold.js.html
  packages/config/coverage/lcov-report/favicon.png
  packages/config/coverage/lcov-report/index.html
  packages/config/coverage/lcov-report/prettify.css
  packages/config/coverage/lcov-report/prettify.js
  packages/config/coverage/lcov-report/sort-arrow-sprite.png
  packages/config/coverage/lcov-report/sorter.js
  packages/config/coverage/lcov.info
  packages/config/sonar-project.properties
Due: none

Path conditions:
  core: any of: packages/core/**
  cypress-commands: any of: packages/cypress-commands/**
  main: any of: packages/main/**
  plugin-inquirer-cli: any of: packages/plugin-inquirer-cli/**
  plugin-proxy: any of: packages/plugin-proxy/**
