Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: admin-api-client-data-provider, admin-api-client, admin-api-paths, cli-runner, config, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

feat: add mock.onChange method
  packages/core/src/Core.js
  packages/core/src/common/events.js
  packages/core/src/mock/Mock.js
  packages/core/src/mock/Routes.js
  packages/core/test/Core.mocks.js
  packages/core/test/Core.spec.js
  packages/core/test/mock/Mock.spec.js
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/Core.mocks.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  test/core-e2e-legacy/src/plugins-legacy-alerts.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/events.spec.js
  test/core-e2e/src/fixtures/config-file-with-plugins/TraceMocksPlugin.js
  test/core-e2e/src/fixtures/config-file-with-plugins/TraceRoutesPlugin.js
  test/core-e2e/src/plugins.spec.js
Due: core, plugin-inquirer-cli

feat: Add mock.createLaoders method
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/src/Core.js
  packages/core/src/mock/Mock.js
  packages/core/src/mock/helpers.js
  packages/core/test/Core.mocks.js
  packages/core/test/Core.spec.js
  packages/core/test/mock/Loaders.mocks.js
  packages/core/test/mock/Mock.mock.js
  packages/core/test/mock/Mock.spec.js
  test/core-e2e-legacy/jest.config.js
  test/core-e2e-legacy/src/plugin-load-collections-and-routes.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/load-collections-and-routes.spec.js
  test/core-e2e/src/plugin-load-collections-and-routes.spec.js
Due: core

fix: Fix event listener
  packages/plugin-inquirer-cli/src/Cli.js
Due: plugin-inquirer-cli

feat: Add core.mock.routes.plain getter
  README.md
  packages/core/CHANGELOG.md
  packages/core/src/mock/Mock.js
  packages/core/src/mock/Routes.js
  packages/core/test/mock/Mock.spec.js
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/src/CustomRoutesVariants.js
  packages/plugin-admin-api/src/Plugin.js
  packages/plugin-admin-api/test/mock-custom-routes-variants-api.spec.js
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/Core.mocks.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  test/core-e2e/src/files-error.spec.js
  test/core-e2e/src/fixtures/config-file-with-plugins/TraceRoutesPlugin.js
  test/core-e2e/src/multi-methods.spec.js
  test/core-e2e/src/path-not-exists.spec.js
  test/core-e2e/src/plain-mocks-and-routes.spec.js
  test/core-e2e/src/validations.spec.js
Due: core, plugin-admin-api, plugin-inquirer-cli

feat: Add core.mock.routes.plainVariants getter
  packages/core/CHANGELOG.md
  packages/core/src/mock/Mock.js
  packages/core/src/mock/Routes.js
  packages/core/test/mock/Mock.spec.js
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/src/CustomRoutesVariants.js
  packages/plugin-admin-api/src/Plugin.js
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/Core.mocks.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  test/core-e2e/src/delay-setting.spec.js
  test/core-e2e/src/files-error.spec.js
  test/core-e2e/src/load-collections-and-routes.spec.js
  test/core-e2e/src/multi-methods.spec.js
  test/core-e2e/src/path-not-exists.spec.js
  test/core-e2e/src/plain-mocks-and-routes.spec.js
  test/core-e2e/src/plugin-load-collections-and-routes.spec.js
  test/core-e2e/src/route-variants.spec.js
  test/core-e2e/src/validations.spec.js
Due: core, plugin-admin-api, plugin-inquirer-cli

feat: Add mock.collections.selected getter
  packages/core/CHANGELOG.md
  packages/core/src/mock/Collections.js
  packages/core/src/mock/Mock.js
  packages/core/test/mock/Mock.mock.js
  packages/core/test/mock/Mock.spec.js
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/Core.mocks.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  test/core-e2e/src/load-collections-and-routes.spec.js
  test/core-e2e/src/plugin-load-collections-and-routes.spec.js
Due: core, plugin-inquirer-cli

feat: Add collections.select method
  packages/core/CHANGELOG.md
  packages/core/src/mock/Collections.js
  packages/core/test/mock/Mock.spec.js
  test/core-e2e-legacy/src/load-mocks-and-routes.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/load-collections-and-routes.spec.js
Due: core

feat: Add mock.customRouteVariants getter
  packages/core/CHANGELOG.md
  packages/core/src/mock/Mock.js
  packages/core/test/mock/Mock.spec.js
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/src/CustomRoutesVariants.js
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/Core.mocks.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
Due: core, plugin-admin-api, plugin-inquirer-cli

feat: Add mock.collections.plain getter
  packages/core/CHANGELOG.md
  packages/core/src/mock/Collections.js
  packages/core/src/mock/Mock.js
  packages/core/test/mock/Mock.spec.js
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/src/Plugin.js
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/Core.mocks.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  test/core-e2e/src/files-error.spec.js
  test/core-e2e/src/fixtures/config-file-with-plugins/TraceMocksPlugin.js
  test/core-e2e/src/multi-methods.spec.js
  test/core-e2e/src/path-not-exists.spec.js
  test/core-e2e/src/plain-mocks-and-routes.spec.js
  test/core-e2e/src/validations.spec.js
Due: core, plugin-admin-api, plugin-inquirer-cli

feat: Deprecate core.onChangeAlerts
  packages/core/CHANGELOG.md
  packages/core/src/Core.js
  packages/core/src/common/helpers.js
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/Core.mocks.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  test/core-e2e/src/events.spec.js
  test/core-e2e/src/plugins.spec.js
Due: core, plugin-inquirer-cli

feat: Deprecate core.logs getter
  packages/core/CHANGELOG.md
  test/core-e2e/src/plugins.spec.js
Due: core

test: fix E2E tests
  packages/core/CHANGELOG.md
  packages/core/src/Core.js
  test/core-e2e/src/events.spec.js
Due: core

refactor: Use helper for docs url and deprecation alerts
  packages/core/src/alerts/AlertsLegacy.js
  packages/core/src/common/CoreApi.js
  packages/core/src/mock/Mock.js
  packages/core/src/mock/helpers.js
  packages/core/src/plugins/Plugins.js
  packages/core/src/scaffold/config.hbs
  packages/core/src/scaffold/mocks/routes/middlewares.js
  packages/core/src/scaffold/mocks/routes/users.js
  packages/core/test/mock/Mock.spec.js
  packages/core/test/scaffold/snapshots/config-1.js
  test/core-e2e-legacy/jest.config.js
  test/core-e2e-legacy/src/plugins-legacy-alerts.spec.js
Due: core

fix: Fix inquirer-cli alerts listener
  packages/core/CHANGELOG.md
  packages/core/src/Core.js
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/Core.mocks.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  test/plugin-inquirer-cli-e2e/jest.config.js
  test/plugin-inquirer-cli-e2e/src/main/files-watch.spec.js
Due: core, plugin-inquirer-cli

feat: Add alert if deprecated 'response' property is used
  packages/core/src/mock/helpers.js
  packages/core/src/variant-handlers/helpers.js
Due: core

feat: Add deprecation alerts when using core.alerts out of plugins
  packages/core/src/Core.js
Due: core

feat: Change plain collections items properties
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/src/mock/Mock.js
  packages/core/src/mock/helpers.js
  packages/core/test/mock/helpers.spec.js
  packages/plugin-admin-api/src/CustomRoutesVariants.js
  packages/plugin-admin-api/src/Plugin.js
  test/admin-api-client-data-provider-e2e-specs/cypress/integration/alerts.js
  test/core-e2e-legacy/src/plugins-legacy-alerts.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/delay-setting.spec.js
  test/core-e2e/src/files-error.spec.js
  test/core-e2e/src/multi-methods.spec.js
  test/core-e2e/src/plain-mocks-and-routes.spec.js
Due: core, plugin-admin-api

feat: Rename concepts in plugin-inquirer-cli
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  test/main-e2e/src/proxy.spec.js
  test/main-e2e/src/scaffold.spec.js
  test/plugin-inquirer-cli-e2e/src/main/arguments-legacy.spec.js
  test/plugin-inquirer-cli-e2e/src/main/arguments.spec.js
  test/plugin-inquirer-cli-e2e/src/main/files-watch.spec.js
  test/plugin-inquirer-cli-e2e/src/main/interactive-cli.spec.js
  test/plugin-inquirer-cli-e2e/src/main/no-mocks.spec.js
  test/plugin-inquirer-cli-e2e/src/main/web-tutorial.spec.js
Due: plugin-inquirer-cli

feat: Add debounce to plugin-inquirer-cli refresh method
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/src/Inquirer.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
Due: plugin-inquirer-cli

test: Fix E2E tests
  test/admin-api-client-data-provider-nodejs-e2e/src/index.spec.js
Due: none

feat: Modify cypress-commands to use new API
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/README.md
  packages/cypress-commands/src/commands.js
  packages/cypress-commands/src/helpers.js
  packages/cypress-commands/src/register.js
  packages/cypress-commands/test/commands.spec.js
  packages/cypress-commands/test/register.spec.js
Due: cypress-commands

test: Adapt cypress commands E2E tests
  test/cypress-commands-e2e/cypress/integration/commands.js
  test/cypress-commands-e2e/package.json
Due: none

feat: add createServer method to main
  packages/core/package.json
  packages/core/src/Core.js
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/src/createCore.js
  packages/main/src/start.js
  packages/main/test/createCore.spec.js
  packages/plugin-admin-api/package.json
  pnpm-lock.yaml
  test/main-e2e/.gitignore
  test/main-e2e/jest.config.js
  test/main-e2e/src/createServer.spec.js
  test/main-e2e/src/support/helpers.js
Due: core, main, plugin-admin-api

feat: add files.enabled option
  packages/core/CHANGELOG.md
  packages/core/src/files/FilesLoaders.js
  packages/core/src/scaffold/Scaffold.js
  packages/core/test/files/FilesLoaders.spec.js
  packages/main/src/createCore.js
  packages/main/src/start.js
  packages/main/test/createCore.spec.js
  packages/main/test/start.spec.js
  packages/plugin-admin-api/test/config-api.spec.js
  packages/plugin-admin-api/test/legacy/settings-api.spec.js
  test/main-e2e/jest.config.js
  test/main-e2e/src/createServer.spec.js
Due: core, main, plugin-admin-api

test: add E2E test about files disabled
  test/core-e2e/jest.config.js
  test/core-e2e/src/files-disabled.spec.js
Due: none

test(e2e): Add plugin-admin-api swagger E2E tests
  pnpm-lock.yaml
  test/plugin-admin-api-swagger-e2e/.eslintrc.json
  test/plugin-admin-api-swagger-e2e/.gitignore
  test/plugin-admin-api-swagger-e2e/cypress.json
  test/plugin-admin-api-swagger-e2e/cypress/integration/swagger.js
  test/plugin-admin-api-swagger-e2e/cypress/plugins/index.js
  test/plugin-admin-api-swagger-e2e/cypress/support/commands.js
  test/plugin-admin-api-swagger-e2e/cypress/support/index.js
  test/plugin-admin-api-swagger-e2e/package.json
  test/plugin-admin-api-swagger-e2e/project.json
  workspace.json
Due: none

feat: Update scaffold
  mocks/admin-api-client-unit-mocks/mocks.config.js
  packages/core/src/scaffold/mocks/collections.json
  packages/core/src/scaffold/mocks/routes/common.js
  packages/core/src/scaffold/mocks/routes/middlewares.js
  packages/core/src/scaffold/mocks/routes/users.js
  test/core-e2e-legacy/src/path-not-exists.spec.js
  test/core-e2e/src/path-not-exists.spec.js
  test/main-e2e/jest.config.js
  test/main-e2e/src/createServer.spec.js
  test/main-e2e/src/proxy.spec.js
  test/main-e2e/src/scaffold.spec.js
Due: core

fix: restore mocks
  mocks/admin-api-client-unit-mocks/mocks.config.js
Due: none

feat: Change docs urls
  packages/admin-api-client-data-provider/README.md
  packages/admin-api-client/README.md
  packages/admin-api-paths/README.md
  packages/config/README.md
  packages/core/README.md
  packages/cypress-commands/README.md
  packages/plugin-admin-api/README.md
  packages/plugin-admin-api/src/swagger/openapi.js
  packages/plugin-inquirer-cli/README.md
  packages/plugin-proxy/README.md
Due: admin-api-client-data-provider, admin-api-client, admin-api-paths, config, core, cypress-commands, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

test(e2e): Add quick-start tutorial E2E tests
  test/core-e2e/jest.config.js
  test/core-e2e/src/fixtures/quick-start-modified/collections.json
  test/core-e2e/src/fixtures/quick-start-modified/routes/common.js
  test/core-e2e/src/fixtures/quick-start-modified/routes/users.js
  test/core-e2e/src/quick-start-tutorial.spec.js
Due: none

docs: Review readme files
  README.md
  packages/admin-api-client-data-provider/README.md
  packages/admin-api-client/README.md
  packages/admin-api-paths/README.md
  packages/core/README.md
  packages/cypress-commands/README.md
  packages/plugin-admin-api/README.md
  packages/plugin-inquirer-cli/README.md
  packages/plugin-proxy/README.md
Due: admin-api-client-data-provider, admin-api-client, admin-api-paths, core, cypress-commands, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

docs: fix changelogs
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-paths/CHANGELOG.md
  packages/plugin-proxy/CHANGELOG.md
Due: admin-api-client-data-provider, admin-api-client, admin-api-paths, plugin-proxy

chore: upgrade versions
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/package.json
  packages/admin-api-client-data-provider/sonar-project.properties
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/package.json
  packages/admin-api-client/sonar-project.properties
  packages/admin-api-paths/CHANGELOG.md
  packages/admin-api-paths/package.json
  packages/admin-api-paths/sonar-project.properties
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/config/sonar-project.properties
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/package.json
  packages/cypress-commands/sonar-project.properties
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/package.json
  packages/plugin-inquirer-cli/sonar-project.properties
  packages/plugin-proxy/CHANGELOG.md
  packages/plugin-proxy/jest.config.js
  packages/plugin-proxy/package.json
  packages/plugin-proxy/sonar-project.properties
Due: admin-api-client-data-provider, admin-api-client, admin-api-paths, config, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

fix: Fix code smell. Run all unit tests
  packages/core/src/mock/helpers.js
  packages/plugin-proxy/jest.config.js
Due: core, plugin-proxy

Path conditions:
  admin-api-client-data-provider: any of: packages/admin-api-client-data-provider/**
  admin-api-client: any of: packages/admin-api-client/**
  admin-api-paths: any of: packages/admin-api-paths/**
  cli-runner: any of: packages/cli-runner/**
  config: any of: packages/config/**
  core: any of: packages/core/**
  cypress-commands: any of: packages/cypress-commands/**
  main: any of: packages/main/**
  plugin-admin-api: any of: packages/plugin-admin-api/**
  plugin-inquirer-cli: any of: packages/plugin-inquirer-cli/**
  plugin-proxy: any of: packages/plugin-proxy/**
