Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: admin-api-client-data-provider, admin-api-client, admin-api-paths, cli-runner, config, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

codecov.yml:

github_checks:
    annotations: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0%
        base: auto
      admin-api-client:
        flags:
          - admin-api-client
      admin-api-client-data-provider:
        flags:
          - admin-api-client-data-provider
      admin-api-paths:
        flags:
          - admin-api-paths
      cli-runner:
        flags:
          - cli-runner
      config:
        flags:
          - config
      core:
        flags:
          - core
      cypress-commands:
        flags:
          - cypress-commands
      main:
        flags:
          - main
      plugin-admin-api:
        flags:
          - plugin-admin-api
      plugin-inquirer-cli:
        flags:
          - plugin-inquirer-cli
      plugin-proxy:
        flags:
          - plugin-proxy
flags:
  admin-api-client-data-provider:
    paths:
      - packages/admin-api-client-data-provider/**
    carryforward: true
  admin-api-client:
    paths:
      - packages/admin-api-client/**
    carryforward: true
  admin-api-paths:
    paths:
      - packages/admin-api-paths/**
    carryforward: true
  cli-runner:
    paths:
      - packages/cli-runner/**
    carryforward: true
  config:
    paths:
      - packages/config/**
    carryforward: true
  core:
    paths:
      - packages/core/**
    carryforward: true
  cypress-commands:
    paths:
      - packages/cypress-commands/**
    carryforward: true
  main:
    paths:
      - packages/main/**
    carryforward: true
  plugin-admin-api:
    paths:
      - packages/plugin-admin-api/**
    carryforward: true
  plugin-inquirer-cli:
    paths:
      - packages/plugin-inquirer-cli/**
    carryforward: true
  plugin-proxy:
    paths:
      - packages/plugin-proxy/**
    carryforward: true

chore: Upgrade version
  packages/main/package.json
Due: main

chore(deps): update codecov/codecov-action action to v3
  .github/workflows/build.yml
Due: none

feat: add namespaced-sets package scaffold
  .eslintrc.cjs
  package.json
  packages/core/CHANGELOG.md
  packages/core/src/Alerts.js
  packages/namespaced-sets/.gitignore
  packages/namespaced-sets/CHANGELOG.md
  packages/namespaced-sets/LICENSE
  packages/namespaced-sets/README.md
  packages/namespaced-sets/babel.config.js
  packages/namespaced-sets/jest.config.js
  packages/namespaced-sets/package.json
  packages/namespaced-sets/project.json
  packages/namespaced-sets/src/.eslintrc.json
  packages/namespaced-sets/src/Namespace.ts
  packages/namespaced-sets/src/index.ts
  packages/namespaced-sets/test/.eslintrc.cjs
  packages/namespaced-sets/test/index.spec.js
  packages/namespaced-sets/tsconfig.json
  pnpm-lock.yaml
  workspace.json
Due: core

feat: rename library into nested-collections
  packages/core/src/Alerts.js
  packages/namespaced-sets/README.md
  packages/namespaced-sets/src/Namespace.ts
  packages/namespaced-sets/src/index.ts
  packages/namespaced-sets/test/index.spec.js
  packages/nested-collections/.gitignore
  packages/nested-collections/CHANGELOG.md
  packages/nested-collections/LICENSE
  packages/nested-collections/README.md
  packages/nested-collections/babel.config.js
  packages/nested-collections/jest.config.js
  packages/nested-collections/package.json
  packages/nested-collections/project.json
  packages/nested-collections/src/.eslintrc.json
  packages/nested-collections/src/Collection.ts
  packages/nested-collections/src/index.ts
  packages/nested-collections/test/.eslintrc.cjs
  packages/nested-collections/test/index.spec.js
  packages/nested-collections/tsconfig.json
  workspace.json
Due: core

feat: add nested-collections methods
  packages/nested-collections/README.md
  packages/nested-collections/src/Collection.ts
  packages/nested-collections/test/Collection.spec.js
  packages/nested-collections/test/index.spec.js
  packages/nested-collections/tsconfig.json
Due: none

feat: add onChange method to nested-collections
  packages/nested-collections/src/Collection.ts
  packages/nested-collections/src/events.ts
  packages/nested-collections/test/Collection.spec.js
  packages/nested-collections/tsconfig.json
Due: none

style: private properties
  packages/nested-collections/src/Collection.ts
Due: none

feat: add flat method
  packages/nested-collections/src/Collection.ts
  packages/nested-collections/test/Collection.spec.js
Due: none

feat: use nested-collections in core alerts
  packages/admin-api-client/test/index.spec.js
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/Alerts.js
  packages/core/src/support/helpers.js
  packages/core/test/Alerts.spec.js
  packages/core/test/plugins/Plugins.spec.js
  packages/core/test/support/helpers.spec.js
  packages/nested-collections/tsconfig.json
  pnpm-lock.yaml
  test/admin-api-client-nodejs-e2e/src/index.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/events.spec.js
  test/core-e2e/src/plugins.spec.js
  test/core-e2e/src/validations.spec.js
  tsconfig.base.json
Due: admin-api-client, core

feat: start alerts nested-collection in core
  packages/core/jest.config.js
  packages/core/src/Alerts.js
  packages/core/src/Core.js
  packages/core/src/support/helpers.js
  packages/core/test/Alerts.spec.js
  packages/core/test/Core.spec.js
Due: core

feat: use new alerts in scaffold
  packages/admin-api-client/test/index.spec.js
  packages/core/jest.config.js
  packages/core/src/Alerts.js
  packages/core/src/Core.js
  packages/core/src/scaffold/Scaffold.js
  packages/core/test/Alerts.spec.js
  packages/core/test/scaffold/Scaffold.spec.js
  packages/plugin-admin-api/jest.config.js
  packages/plugin-admin-api/test/alerts-api.spec.js
  test/admin-api-client-nodejs-e2e/src/index.spec.js
  test/core-e2e/src/path-not-exists.spec.js
Due: admin-api-client, core, plugin-admin-api

feat: use new alerts in FilesLoader
  packages/admin-api-client/test/index.spec.js
  packages/core/jest.config.js
  packages/core/src/Core.js
  packages/core/src/files-loader/FilesLoader.js
  packages/core/src/scaffold/Scaffold.js
  packages/core/test/files-loader/FilesLoader.spec.js
  packages/core/test/scaffold/Scaffold.spec.js
  packages/plugin-admin-api/test/alerts-api.spec.js
Due: admin-api-client, core, plugin-admin-api

fix: fix alerts in scaffold and FilesLoader
  packages/core/src/Core.js
  packages/core/src/scaffold/Scaffold.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/files-error.spec.js
  test/core-e2e/src/validations.spec.js
Due: core

feat: use classes static ids to create namespaces
  packages/core/src/Core.js
  packages/core/src/mocks/Mocks.js
  packages/core/src/plugins/Plugins.js
  packages/core/src/server/Server.js
  packages/core/test/mocks/Mocks.spec.js
  packages/core/test/plugins/Plugins.spec.js
  packages/core/test/server/Server.spec.js
Due: core

refactor: rename Alerts into AlertsLegacy
  packages/core/src/AlertsLegacy.js
  packages/core/src/Core.js
  packages/core/test/AlertsLegacy.mocks.js
  packages/core/test/AlertsLegacy.spec.js
  packages/core/test/Core.spec.js
Due: core

feat: create Alerts decorator to print traces and accept errors as third argument
  packages/core/src/Alerts.js
  packages/core/src/AlertsLegacy.js
  packages/core/src/Core.js
  packages/core/src/files-loader/FilesLoader.js
  packages/core/src/scaffold/Scaffold.js
  packages/core/test/files-loader/FilesLoader.spec.js
  packages/nested-collections/src/Collection.ts
  test/core-e2e/jest.config.js
Due: core

test: add new Alerts unit tests
  packages/core/jest.config.js
  packages/core/src/Alerts.js
  packages/core/src/AlertsLegacy.js
  packages/core/test/Alerts.spec.js
  packages/core/test/AlertsLegacy.spec.js
  packages/core/test/files-loader/FilesLoader.spec.js
Due: core

test: add nested-collections decorator unit tests
  packages/nested-collections/jest.config.js
  packages/nested-collections/test/CollectionDecorator.spec.js
  test/config-e2e/src/env-vars.spec.js
Due: none

feat: use new Alerts in Server
  packages/core/src/Core.js
  packages/core/src/server/Server.js
  packages/core/test/server/Server.spec.js
Due: core

refactor: use new alerts in mocks
  packages/admin-api-client/test/index.spec.js
  packages/core/jest.config.js
  packages/core/src/Core.js
  packages/core/src/mocks/Mocks.js
  packages/core/src/mocks/helpers.js
  packages/core/test/mocks/Mocks.spec.js
  packages/core/test/mocks/helpers.spec.js
  packages/plugin-admin-api/test/alerts-api.spec.js
Due: admin-api-client, core, plugin-admin-api

refactor: fix new alerts in mocks
  .eslintignore
  .eslintrc.cjs
  .github/workflows/build.yml
  package.json
  packages/core/src/mocks/Mocks.js
  packages/core/src/mocks/helpers.js
  packages/core/test/files-loader/FilesLoader.spec.js
  packages/core/test/mocks/helpers.spec.js
  pnpm-lock.yaml
  test/admin-api-client-nodejs-e2e/src/index.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/events.spec.js
  test/core-e2e/src/files-error.spec.js
  test/core-e2e/src/json-files.spec.js
  test/core-e2e/src/mock-argument.spec.js
  test/core-e2e/src/mock-setting.spec.js
  test/core-e2e/src/plugins.spec.js
  test/core-e2e/src/validations.spec.js
  test/plugin-inquirer-cli-e2e/src/main/arguments.spec.js
  test/plugin-inquirer-cli-e2e/src/main/interactive-cli.spec.js
Due: core

refactor: add renameCollection method to nested-collections
  packages/core/src/AlertsLegacy.js
  packages/core/src/plugins/Plugins.js
  packages/nested-collections/src/Collection.ts
  test/core-e2e/jest.config.js
  test/core-e2e/src/plugins.spec.js
Due: core

test: fix core unit tests
  packages/core/jest.config.js
  packages/core/test/plugins/Plugins.spec.js
  packages/nested-collections/src/Collection.ts
Due: core

fix: fix alerts for function plugins
  packages/core/src/plugins/Plugins.js
  test/core-e2e/src/plugins-legacy-alerts.spec.js
Due: core

test: add nested-collections unit tests
  packages/core/test/plugins/Plugins.spec.js
  packages/nested-collections/jest.config.js
  packages/nested-collections/src/Collection.ts
  packages/nested-collections/test/Collection.spec.js
  packages/nested-collections/test/CollectionDecorator.spec.js
Due: core

refactor: refactor nested-collections
  packages/nested-collections/src/Collection.ts
Due: none

docs: add nested-collections docs
  codecov.yml
  packages/nested-collections/CHANGELOG.md
  packages/nested-collections/README.md
  packages/nested-collections/sonar-project.properties
  packages/nested-collections/src/Collection.ts
Due: none

docs: add nested-collections to main readme
  README.md
Due: none

docs: fix typo
  packages/nested-collections/README.md
Due: none

chore(deps): update pnpm/action-setup action to v2.2.2
  .github/workflows/affected-projects.yml
  .github/workflows/build.yml
  .github/workflows/check-affected.yml
  .github/workflows/publish-to-github.yml
  .github/workflows/publish-to-npm.yml
Due: none

chore(deps): update dependency @typescript-eslint/parser to v5.27.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency cypress to v9.7.0
  package.json
  pnpm-lock.yaml
Due: none

feat: change export in nested-collections
  package.json
  packages/core/src/Alerts.js
  packages/core/test/Core.spec.js
  packages/nested-collections/README.md
  packages/nested-collections/babel.config.js
  packages/nested-collections/src/index.ts
  packages/nested-collections/test/index.spec.js
  pnpm-lock.yaml
Due: core

chore: add jest-eslint plugin
  .eslintrc.cjs
  package.json
  packages/core/test/AlertsLegacy.spec.js
  packages/core/test/mocks/validations.spec.js
  packages/core/test/plugins/Plugins.spec.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  pnpm-lock.yaml
  test/core-e2e/src/plugins-legacy-alerts.spec.js
  test/core-e2e/src/plugins.spec.js
  test/core-e2e/src/route-variants.spec.js
Due: core, plugin-inquirer-cli

feat: add alerts when deprecated methods are used
  packages/core/jest.config.js
  packages/core/src/Alerts.js
  packages/core/src/AlertsLegacy.js
  packages/core/test/AlertsLegacy.spec.js
  packages/core/test/files-loader/FilesLoader.spec.js
  packages/nested-collections/README.md
  packages/nested-collections/src/Collection.ts
  packages/nested-collections/test/Collection.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/plugins-legacy-alerts.spec.js
Due: core

chore: remove branch build
  .github/workflows/build.yml
Due: none

feat: create logger package
  .eslintrc.cjs
  codecov.yml
  packages/logger/CHANGELOG.md
  packages/logger/LICENSE
  packages/logger/README.md
  packages/logger/babel.config.js
  packages/logger/coverage/clover.xml
  packages/logger/coverage/coverage-final.json
  packages/logger/coverage/lcov-report/Logger.ts.html
  packages/logger/coverage/lcov-report/base.css
  packages/logger/coverage/lcov-report/block-navigation.js
  packages/logger/coverage/lcov-report/favicon.png
  packages/logger/coverage/lcov-report/index.html
  packages/logger/coverage/lcov-report/index.ts.html
  packages/logger/coverage/lcov-report/prettify.css
  packages/logger/coverage/lcov-report/prettify.js
  packages/logger/coverage/lcov-report/sort-arrow-sprite.png
  packages/logger/coverage/lcov-report/sorter.js
  packages/logger/coverage/lcov.info
  packages/logger/dist/Logger.d.ts
  packages/logger/dist/Logger.js
  packages/logger/dist/index.d.ts
  packages/logger/dist/index.js
  packages/logger/jest.config.js
  packages/logger/package.json
  packages/logger/project.json
  packages/logger/sonar-project.properties
  packages/logger/src/.eslintrc.json
  packages/logger/src/Logger.ts
  packages/logger/src/index.ts
  packages/logger/test/.eslintrc.cjs
  packages/logger/test/Logger.spec.js
  packages/logger/test/index.spec.js
  packages/logger/tsconfig.json
  tsconfig.base.json
  workspace.json
Due: none

chore(release): Upgrade versions
  package.json
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/package.json
  packages/admin-api-client/sonar-project.properties
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/package.json
  packages/cypress-commands/sonar-project.properties
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/nested-collections/CHANGELOG.md
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/package.json
  packages/plugin-inquirer-cli/sonar-project.properties
  packages/plugin-proxy/CHANGELOG.md
  packages/plugin-proxy/package.json
  packages/plugin-proxy/sonar-project.properties
Due: admin-api-client, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

chore(release): Upgrade versions
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/package.json
  packages/admin-api-client-data-provider/sonar-project.properties
  packages/admin-api-paths/CHANGELOG.md
  packages/admin-api-paths/package.json
  packages/admin-api-paths/sonar-project.properties
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/config/sonar-project.properties
Due: admin-api-client-data-provider, admin-api-paths, config

docs: add logger to main readme file
  README.md
Due: none
