Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: admin-api-client-data-provider, admin-api-client, admin-api-paths, cli-runner, config, core, cypress-commands, logger, main, nested-collections, plugin-admin-api, plugin-inquirer-cli, plugin-openapi, plugin-proxy

refactor: Rename type files. Extend supoorted handler types on each handler
  .eslintrc.cjs
  packages/core/src/Core.types.ts
  packages/core/src/MocksServer.d.ts
  packages/core/src/alerts/Alerts.ts
  packages/core/src/alerts/Alerts.types.ts
  packages/core/src/common/Common.types.ts
  packages/core/src/mock/Validations.types.ts
  packages/core/src/scaffold/Scaffold.ts
  packages/core/src/scaffold/Scaffold.types.ts
  packages/core/src/server/Server.types.ts
  packages/core/src/update-notifier/UpdateNotifier.ts
  packages/core/src/update-notifier/UpdateNotifier.types.ts
  packages/core/src/variant-handlers/VariantHandlers.types.ts
  packages/core/src/variant-handlers/handlers/File.ts
  packages/core/src/variant-handlers/handlers/File.types.ts
  packages/core/src/variant-handlers/handlers/Json.ts
  packages/core/src/variant-handlers/handlers/Json.types.ts
  packages/core/src/variant-handlers/handlers/Middleware.ts
  packages/core/src/variant-handlers/handlers/Middleware.types.ts
  packages/core/src/variant-handlers/handlers/Static.ts
  packages/core/src/variant-handlers/handlers/Static.types.ts
  packages/core/src/variant-handlers/handlers/Status.ts
  packages/core/src/variant-handlers/handlers/Status.types.ts
  packages/core/src/variant-handlers/handlers/Text.ts
  packages/core/src/variant-handlers/handlers/Text.types.ts
  packages/core/src/variant-handlers/helpers.js
  packages/core/src/variant-handlers/helpers.ts
  packages/core/tsconfig.json
Due: core

refactor: Support registering variant handlers options
  packages/core/src/MocksServer.d.ts
  packages/core/src/mock/Routes.types.ts
  packages/core/src/variant-handlers/VariantHandlers.js
  packages/core/src/variant-handlers/handlers/File.types.ts
  packages/core/src/variant-handlers/handlers/Json.types.ts
  packages/core/src/variant-handlers/handlers/Middleware.types.ts
  packages/core/src/variant-handlers/handlers/Static.types.ts
  packages/core/src/variant-handlers/handlers/Status.types.ts
  packages/core/src/variant-handlers/handlers/Text.types.ts
  packages/core/src/variant-handlers/helpers.ts
Due: core

refactor: Migrate VariantHandlers to TypeScript
  packages/core/src/Core.js
  packages/core/src/variant-handlers/VariantHandlers.ts
  packages/core/src/variant-handlers/VariantHandlers.types.ts
  packages/core/src/variant-handlers/handlers/File.ts
  packages/core/src/variant-handlers/handlers/File.types.ts
  packages/core/src/variant-handlers/handlers/Json.ts
  packages/core/src/variant-handlers/handlers/Json.types.ts
  packages/core/src/variant-handlers/handlers/Middleware.ts
  packages/core/src/variant-handlers/handlers/Middleware.types.ts
  packages/core/src/variant-handlers/handlers/Static.ts
  packages/core/src/variant-handlers/handlers/Static.types.ts
  packages/core/src/variant-handlers/handlers/Status.ts
  packages/core/src/variant-handlers/handlers/Status.types.ts
  packages/core/src/variant-handlers/handlers/Text.ts
  packages/core/src/variant-handlers/handlers/Text.types.ts
  packages/core/src/variant-handlers/helpers.ts
Due: core

refactor: Migrate middlewares to TypeScript
  .eslintrc.cjs
  packages/core/package.json
  packages/core/src/server/Server.types.ts
  packages/core/src/server/express-request-id.d.ts
  packages/core/src/server/middlewares.js
  packages/core/src/server/middlewares.ts
  packages/core/test/components/server/middlewares.spec.js
Due: core

feat: Make itemsType property not mandatory in options of type array
  packages/config/CHANGELOG.md
  packages/config/src/OptionTypes.ts
  packages/core/src/variant-handlers/VariantHandlers.ts
Due: config, core

chore: Fix Sonarcloud github action version
  .github/workflows/build.yml
Due: none

refactor: Migrate server to TypeScript
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/Core.js
  packages/core/src/server/Server.ts
  packages/core/src/server/Server.types.ts
  packages/core/src/server/ServerOptions.ts
  packages/core/src/variant-handlers/VariantHandlers.types.ts
  packages/core/test/components/common/Libs.mocks.js
  packages/core/test/components/server/Server.mocks.js
  packages/core/test/components/server/Server.spec.js
  pnpm-lock.yaml
Due: core

refactor: Migrate to TypeScript
  packages/core/jest.config.js
  packages/core/src/Core.js
  packages/core/src/common/Events.ts
  packages/core/src/common/Events.types.ts
  packages/core/src/common/Helpers.ts
  packages/core/src/common/Helpers.types.ts
  packages/core/src/mock/Collections.js
  packages/core/src/mock/Mock.js
  packages/core/src/server/Server.ts
  packages/core/test/components/common/Libs.mocks.js
  packages/core/test/components/common/helpers.spec.js
  packages/core/test/components/server/Server.spec.js
Due: core

refactor: Migrate ScopedCore to TypeScript
  packages/core/src/Core.types.ts
  packages/core/src/common/Common.types.ts
  packages/core/src/common/CoreApi.js
  packages/core/src/common/Events.types.ts
  packages/core/src/common/Helpers.types.ts
  packages/core/src/common/ScopedCore.ts
  packages/core/src/common/ScopedCore.types.ts
  packages/core/src/files/Files.types.ts
  packages/core/src/mock/Mock.types.ts
  packages/core/src/mock/helpers.js
  packages/core/src/plugins/Plugins.js
  packages/core/test/functional/specs/plugins.spec.js
Due: core

refactor: Migrate Plugins to TypeScript
  packages/core/jest.config.js
  packages/core/src/Core.js
  packages/core/src/alerts/Alerts.types.ts
  packages/core/src/common/ScopedCore.ts
  packages/core/src/common/ScopedCore.types.ts
  packages/core/src/plugins/Plugins.ts
  packages/core/src/plugins/Plugins.types.ts
  packages/core/test/components/plugins/Plugins.mocks.js
  packages/core/test/components/plugins/Plugins.spec.js
  packages/core/test/components/server/Server.spec.js
  packages/core/test/functional/specs/custom-router.spec.js
  packages/core/test/functional/specs/plugin-load-collections-and-routes.spec.js
Due: core

refactor: Start migrating files to TypeScript
  packages/core/src/Core.types.ts
  packages/core/src/files/Files.types.ts
  packages/core/src/files/FilesLoader.types.ts
  packages/core/src/files/FilesLoaders.js
  packages/core/src/files/Loader.js
  packages/core/src/files/loaders/DefaultCollectionsLoader.types.ts
  packages/core/src/mock/Loaders.js
  packages/core/src/mock/Mock.js
  packages/core/src/mock/Mock.types.ts
  packages/core/src/mock/ResourcesManager.ts
  packages/core/src/mock/ResourcesManager.types.ts
  packages/core/test/components/mock/Loaders.mocks.js
  packages/core/test/components/mock/Loaders.spec.js
  packages/core/test/components/mock/Mock.spec.js
Due: core

refactor: Continue migrating files to TypeScript
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/Core.js
  packages/core/src/files/Files.ts
  packages/core/src/files/Files.types.ts
  packages/core/src/files/FilesLoader.types.ts
  packages/core/src/files/Helpers.ts
  packages/core/src/files/loaders/Collections.js
  packages/core/src/files/loaders/Routes.js
  packages/core/test/components/Core.spec.js
  packages/core/test/components/files/Files.mocks.js
  packages/core/test/components/files/Files.spec.js
  packages/core/test/components/files/helpers.spec.js
  pnpm-lock.yaml
Due: core

refactor: Migrate files to TypeScript
  packages/core/jest.config.js
  packages/core/src/files/Files.ts
  packages/core/src/files/Files.types.ts
  packages/core/src/files/FilesLoader.ts
  packages/core/src/files/FilesLoader.types.ts
  packages/core/src/files/Helpers.ts
  packages/core/src/files/Loader.js
  packages/core/src/files/default-loaders/DefaultCollectionsLoader.ts
  packages/core/src/files/default-loaders/DefaultCollectionsLoader.types.ts
  packages/core/src/files/default-loaders/DefaultRoutesLoader.ts
  packages/core/src/files/default-loaders/DefaultRoutesLoader.types.ts
  packages/core/src/files/loaders/Collections.js
  packages/core/src/files/loaders/DefaultCollectionsLoader.types.ts
  packages/core/src/files/loaders/Routes.js
  packages/core/src/mock/Mock.types.ts
Due: core

refactor: Add missing type
  packages/core/src/files/default-loaders/DefaultCollectionsLoader.ts
Due: core

refactor: Migrate Routes to TypeScript
  packages/core/jest.config.js
  packages/core/src/files/default-loaders/DefaultCollectionsLoader.ts
  packages/core/src/files/default-loaders/DefaultRoutesLoader.ts
  packages/core/src/mock/Collection.types.ts
  packages/core/src/mock/DefinitionsManager.ts
  packages/core/src/mock/DefinitionsManager.types.ts
  packages/core/src/mock/Mock.js
  packages/core/src/mock/Mock.types.ts
  packages/core/src/mock/ResourcesManager.ts
  packages/core/src/mock/ResourcesManager.types.ts
  packages/core/src/mock/Routes.js
  packages/core/src/mock/Routes.ts
  packages/core/src/mock/Routes.types.ts
  packages/core/src/variant-handlers/handlers/File.types.ts
  packages/core/src/variant-handlers/handlers/Json.types.ts
  packages/core/src/variant-handlers/handlers/Middleware.types.ts
  packages/core/src/variant-handlers/handlers/Static.types.ts
  packages/core/src/variant-handlers/handlers/Status.types.ts
  packages/core/src/variant-handlers/handlers/Text.types.ts
  packages/core/test/components/mock/Loaders.mocks.js
  packages/core/test/components/mock/Loaders.spec.js
  packages/core/test/components/mock/Mock.spec.js
Due: core

test: Fix unit tests
  packages/core/test/components/files/helpers.spec.js
Due: core

refactor: Migrate Collection to TypeScript
  packages/core/src/files/default-loaders/DefaultRoutesLoader.ts
  packages/core/src/mock/Collection.ts
  packages/core/src/mock/Collection.types.ts
  packages/core/src/mock/Mock.types.ts
  packages/core/src/mock/Route.ts
  packages/core/src/mock/Route.types.ts
  packages/core/src/mock/Routes.ts
  packages/core/src/mock/Routes.types.ts
  packages/core/src/mock/helpers.js
  packages/core/src/server/Server.types.ts
  packages/core/src/variant-handlers/VariantHandlers.types.ts
  packages/core/src/variant-handlers/helpers.ts
  packages/core/test/components/mock/Collection.mock.js
  packages/core/test/components/mock/Collection.spec.js
Due: core

refactor: Migrate collections to Ts
  packages/core/src/files/FilesLoader.ts
  packages/core/src/mock/Collections.js
  packages/core/src/mock/Collections.ts
  packages/core/src/mock/Collections.types.ts
  packages/core/src/mock/Mock.js
  packages/core/src/mock/Route.types.ts
Due: core

refactor: Migrate helpers to Route interface
  packages/core/jest.config.js
  packages/core/src/files/default-loaders/DefaultCollectionsLoader.ts
  packages/core/src/files/default-loaders/DefaultRoutesLoader.ts
  packages/core/src/mock/Mock.js
  packages/core/src/mock/Mock.types.ts
  packages/core/src/mock/Route.ts
  packages/core/src/mock/Route.types.ts
  packages/core/src/mock/Routes.ts
  packages/core/src/mock/collections/Collection.ts
  packages/core/src/mock/collections/Collection.types.ts
  packages/core/src/mock/collections/Collections.ts
  packages/core/src/mock/collections/Collections.types.ts
  packages/core/src/mock/helpers.js
  packages/core/src/mock/routes/Route.ts
  packages/core/src/mock/routes/Route.types.ts
  packages/core/src/mock/routes/Routes.ts
  packages/core/src/mock/routes/Routes.types.ts
  packages/core/src/mock/validations.js
  packages/core/src/variant-handlers/VariantHandlers.types.ts
  packages/core/src/variant-handlers/handlers/File.ts
  packages/core/src/variant-handlers/handlers/File.types.ts
  packages/core/src/variant-handlers/handlers/Json.ts
  packages/core/src/variant-handlers/handlers/Json.types.ts
  packages/core/src/variant-handlers/handlers/Middleware.ts
  packages/core/src/variant-handlers/handlers/Middleware.types.ts
  packages/core/src/variant-handlers/handlers/Static.ts
  packages/core/src/variant-handlers/handlers/Static.types.ts
  packages/core/src/variant-handlers/handlers/Status.ts
  packages/core/src/variant-handlers/handlers/Status.types.ts
  packages/core/src/variant-handlers/handlers/Text.ts
  packages/core/src/variant-handlers/handlers/Text.types.ts
  packages/core/src/variant-handlers/helpers.ts
  packages/core/test/components/mock/Collection.mock.js
  packages/core/test/components/mock/Collection.spec.js
  packages/core/test/components/mock/helpers.spec.js
  packages/core/test/components/mock/routes/Routes.spec.js
  packages/core/test/components/mock/validations.spec.js
Due: core

refactor: Fix Route types
  packages/core/src/mock/collections/Collection.ts
  packages/core/src/mock/helpers.js
  packages/core/src/mock/routes/Route.ts
  packages/core/src/mock/routes/Route.types.ts
  packages/core/src/mock/routes/Routes.types.ts
Due: core

test: Fix admin-api-client unit tests
  packages/core/CHANGELOG.md
  packages/plugin-admin-api/test/variants-static.spec.js
Due: core, plugin-admin-api

test: Fix main E2E tests
  test/main-e2e/src/createServer.spec.js
  test/main-e2e/src/scaffold.spec.js
Due: none

refactor: Migrating mocks to TypeScript
  packages/core/jest.config.js
  packages/core/src/Core.js
  packages/core/src/alerts/Alerts.ts
  packages/core/src/files/default-loaders/DefaultCollectionsLoader.ts
  packages/core/src/files/default-loaders/DefaultRoutesLoader.ts
  packages/core/src/mock/Mock.js
  packages/core/src/mock/collections/Collection.ts
  packages/core/src/mock/collections/Collection.types.ts
  packages/core/src/mock/collections/Collections.ts
  packages/core/src/mock/collections/Collections.types.ts
  packages/core/src/mock/collections/Helpers.ts
  packages/core/src/mock/helpers.js
  packages/core/src/mock/routes/Routes.ts
  packages/core/src/mock/routes/Routes.types.ts
  packages/core/src/plugins/Plugins.ts
  packages/core/src/server/Server.ts
  packages/core/src/variant-handlers/VariantHandlers.ts
  packages/core/test/functional/specs/port-setting.spec.js
  packages/nested-collections/CHANGELOG.md
  packages/nested-collections/src/Collection.ts
  test/core-e2e/jest.config.js
Due: core, nested-collections

refactor: Fix lint
  packages/plugin-openapi/test/custom-headers.spec.js
Due: plugin-openapi

refactor: Remove unused file
  packages/core/src/mock/helpers.js
Due: core

openapi: Support media type responses with a single example
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/test/fixtures/single-example/collections.js
  packages/plugin-openapi/test/fixtures/single-example/openapi/api.js
  packages/plugin-openapi/test/single-example.spec.js
Due: plugin-openapi

refactor: Migrate mock validations to TypeScript
  packages/core/src/common/Helpers.ts
  packages/core/src/mock/Mock.ts
  packages/core/src/mock/Validations.types.ts
  packages/core/src/mock/Validator.ts
  packages/core/src/mock/Validator.types.ts
  packages/core/src/mock/collections/Collections.ts
  packages/core/src/mock/collections/CollectionsValidator.ts
  packages/core/src/mock/definitions/CollectionDefinitions.types.ts
  packages/core/src/mock/routes/Route.ts
  packages/core/src/mock/routes/Routes.ts
  packages/core/src/mock/routes/RoutesValidator.ts
  packages/core/src/mock/routes/RoutesValidator.types.ts
  packages/core/src/mock/validations.js
  packages/core/src/variant-handlers/VariantHandlers.types.ts
  packages/core/src/variant-handlers/handlers/File.ts
  packages/core/src/variant-handlers/handlers/Json.ts
  packages/core/src/variant-handlers/handlers/Middleware.ts
  packages/core/src/variant-handlers/handlers/Static.ts
  packages/core/src/variant-handlers/handlers/Status.ts
  packages/core/src/variant-handlers/handlers/Text.ts
Due: core

refactor: Migrate Core to TypeScript
  packages/config/src/EventsTypes.ts
  packages/core/src/Core.ts
  packages/core/src/Core.types.ts
  packages/core/src/alerts/Alerts.types.ts
  packages/core/src/files/Files.types.ts
  packages/core/src/server/Server.ts
  packages/core/src/server/Server.types.ts
  packages/core/src/update-notifier/UpdateNotifier.types.ts
  packages/core/src/variant-handlers/VariantHandlers.ts
  packages/core/src/variant-handlers/VariantHandlers.types.ts
  packages/core/tsconfig.json
Due: config, core

refactor: Do not import package.json
  .gitignore
  packages/core/src/Core.ts
  packages/core/tsconfig.json
Due: core

fix: Fix version
  packages/core/src/Core.ts
Due: core

chore: Rename files
  packages/admin-api-client-data-provider/.vscode/settings.json
  packages/admin-api-client/.vscode/settings.json
  packages/admin-api-paths/.vscode/settings.json
  packages/config/src/Events.ts
  packages/config/src/Typing.ts
  packages/config/src/Validation.ts
  packages/core/.vscode/settings.json
  packages/core/src/server/Middlewares.ts
  packages/core/src/variant-handlers/Helpers.ts
  packages/core/test/components/common/Helpers.spec.js
  packages/core/test/components/files/Helpers.spec.js
  packages/cypress-commands/.vscode/settings.json
  packages/cypress-commands/src/Commands.ts
  packages/cypress-commands/src/Helpers.ts
  packages/cypress-commands/src/Register.ts
  packages/logger/src/Events.ts
  packages/main/.vscode/settings.json
  packages/nested-collections/src/Events.ts
  packages/plugin-admin-api/.vscode/settings.json
  packages/plugin-inquirer-cli/.vscode/settings.json
  packages/plugin-openapi/src/Constants.ts
  packages/plugin-openapi/src/OpenApi.ts
Due: admin-api-client-data-provider, admin-api-client, admin-api-paths, config, core, cypress-commands, logger, main, nested-collections, plugin-admin-api, plugin-inquirer-cli, plugin-openapi

test: Fix config E2E tests
  test/config-e2e/src/fixtures/typescript/index.ts
Due: none

refactor: Do not use global types internally except for extending
  packages/core/src/mock/collections/CollectionsValidator.ts
  packages/core/src/mock/definitions/RouteDefinitions.ts
  packages/core/src/mock/definitions/RouteDefinitions.types.ts
  packages/core/src/mock/routes/Route.ts
  packages/core/src/mock/routes/Route.types.ts
  packages/core/src/mock/routes/Routes.ts
  packages/core/src/mock/routes/RoutesValidator.ts
  packages/core/src/variant-handlers/Helpers.ts
Due: core

refactor: Refactor config types
  packages/config/src/CommandLineArgument.types.ts
  packages/config/src/CommandLineArguments.ts
  packages/config/src/Common.types.ts
  packages/config/src/Config.ts
  packages/config/src/Config.types.ts
  packages/config/src/ConfigNamespace.ts
  packages/config/src/ConfigNamespaceHelpers.ts
  packages/config/src/Option.ts
  packages/config/src/Option.types.ts
  packages/config/src/Typing.ts
  packages/config/src/Typing.types.ts
  packages/config/src/Validation.ts
  packages/core/src/Core.ts
  packages/core/src/files/Files.ts
  packages/core/src/mock/collections/Collections.ts
  packages/core/src/mock/routes/Routes.ts
  packages/core/src/plugins/Plugins.ts
  packages/core/src/scaffold/Scaffold.ts
  packages/core/src/server/Server.ts
  packages/core/src/server/ServerOptions.ts
  packages/core/src/variant-handlers/VariantHandlers.ts
  packages/plugin-openapi/src/Plugin.ts
  test/config-e2e/src/fixtures/typescript/index.ts
Due: config, core, plugin-openapi

test: Fix cypress-commands unit tests
  packages/cypress-commands/test/commands.spec.js
  packages/cypress-commands/test/register.spec.js
Due: cypress-commands

refactor: Change Config Types interface
  packages/config/src/Config.ts
  packages/config/src/Config.types.ts
  packages/config/src/ConfigNamespace.ts
  packages/config/src/Option.ts
  packages/config/src/Option.types.ts
  packages/config/src/Validation.ts
Due: config

refactor: Add config types
  packages/config/src/Config.ts
  packages/config/src/Config.types.ts
  packages/config/src/ConfigNamespace.ts
  packages/config/src/Option.ts
  packages/config/src/Option.types.ts
Due: config

refactor: Support nullable types
  packages/config/src/Config.ts
  packages/config/src/Config.types.ts
  packages/config/src/ConfigNamespace.ts
  packages/config/src/Option.types.ts
Due: config

Path conditions:
  admin-api-client-data-provider: any of: packages/admin-api-client-data-provider/**
  admin-api-client: any of: packages/admin-api-client/**
  admin-api-paths: any of: packages/admin-api-paths/**
  cli-runner: any of: packages/cli-runner/**
  config: any of: packages/config/**
  core: any of: packages/core/**
  cypress-commands: any of: packages/cypress-commands/**
  logger: any of: packages/logger/**
  main: any of: packages/main/**
  nested-collections: any of: packages/nested-collections/**
  plugin-admin-api: any of: packages/plugin-admin-api/**
  plugin-inquirer-cli: any of: packages/plugin-inquirer-cli/**
  plugin-openapi: any of: packages/plugin-openapi/**
  plugin-proxy: any of: packages/plugin-proxy/**
