Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: admin-api-client-data-provider, admin-api-client, admin-api-paths, cli-runner, config, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

codecov.yml:

github_checks:
    annotations: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0%
        base: auto
      admin-api-client:
        flags:
          - admin-api-client
      admin-api-client-data-provider:
        flags:
          - admin-api-client-data-provider
      admin-api-paths:
        flags:
          - admin-api-paths
      cli-runner:
        flags:
          - cli-runner
      config:
        flags:
          - config
      core:
        flags:
          - core
      cypress-commands:
        flags:
          - cypress-commands
      main:
        flags:
          - main
      plugin-admin-api:
        flags:
          - plugin-admin-api
      plugin-inquirer-cli:
        flags:
          - plugin-inquirer-cli
      plugin-proxy:
        flags:
          - plugin-proxy
flags:
  admin-api-client-data-provider:
    paths:
      - packages/admin-api-client-data-provider/**
    carryforward: true
  admin-api-client:
    paths:
      - packages/admin-api-client/**
    carryforward: true
  admin-api-paths:
    paths:
      - packages/admin-api-paths/**
    carryforward: true
  cli-runner:
    paths:
      - packages/cli-runner/**
    carryforward: true
  config:
    paths:
      - packages/config/**
    carryforward: true
  core:
    paths:
      - packages/core/**
    carryforward: true
  cypress-commands:
    paths:
      - packages/cypress-commands/**
    carryforward: true
  main:
    paths:
      - packages/main/**
    carryforward: true
  plugin-admin-api:
    paths:
      - packages/plugin-admin-api/**
    carryforward: true
  plugin-inquirer-cli:
    paths:
      - packages/plugin-inquirer-cli/**
    carryforward: true
  plugin-proxy:
    paths:
      - packages/plugin-proxy/**
    carryforward: true

docs: Add options to readme
  packages/plugin-openapi/README.md
Due: none

test: Fix unit test
  packages/core/test/mock/validations.spec.js
Due: core

feat(#384): Do not create default collection if there are no openapi files
  packages/plugin-openapi/src/Plugin.ts
Due: none

refactor: Fix Sonar smell
  packages/core/CHANGELOG.md
  packages/core/src/mock/validations.js
  packages/main/CHANGELOG.md
  packages/plugin-openapi/CHANGELOG.md
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/src/types.ts
Due: core, main

chore: upgrade versions
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/config/sonar-project.properties
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/plugin-openapi/CHANGELOG.md
Due: config, core, main

feat: Add 'fileSearchFrom' and 'fileSearchStop' options to config
  packages/config/CHANGELOG.md
  packages/config/README.md
  packages/config/src/Config.js
  packages/config/src/Files.js
  packages/config/test/src/getValidationSchema.spec.js
  test/config-e2e/jest.config.js
  test/config-e2e/src/files-config.spec.js
  test/config-e2e/src/fixtures/search-from/.mocksrc.json
  test/config-e2e/src/fixtures/search-from/subfolder/foo.json
  test/config-e2e/src/fixtures/search-from/subfolder/subfolder/.gitkeep
Due: config

chore: Remove branch build
  .github/workflows/build.yml
Due: none

chore(release): Upgrade versions
  packages/config/package.json
  packages/config/sonar-project.properties
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
Due: config, core, main

fix: Use OpenAPI version 3.1. Nullable type as array was not supported in 3.0.1
  packages/main/CHANGELOG.md
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/src/swagger/openapi.js
Due: main, plugin-admin-api

feat: Remove core legacy
  packages/core/src/Core.js
  packages/core/src/alerts/Alerts.js
  packages/core/src/alerts/AlertsLegacy.js
  packages/core/src/alerts/legacyHelpers.js
  packages/core/src/common/CoreApi.js
  packages/core/src/common/events.js
  packages/core/src/common/legacyTracer.js
  packages/core/src/files/loaders/Collections.js
  packages/core/src/mock/Collections.js
  packages/core/src/mock/Mock.js
  packages/core/src/mock/Routes.js
  packages/core/src/mock/helpers.js
  packages/core/src/mock/validations.js
  packages/core/src/plugins/Plugins.js
  packages/core/src/scaffold/Scaffold.js
  packages/core/src/server/Server.js
  packages/core/src/variant-handlers/VariantHandlers.js
  packages/core/src/variant-handlers/handlers/Default.js
  packages/core/src/variant-handlers/helpers.js
Due: core

chore: Build branch
  .github/workflows/build.yml
Due: none

feat: Support .cjs files
  packages/core/src/files/helpers.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/cjs.spec.js
  test/core-e2e/src/fixtures/cjs-config/mocks.config.js
  test/core-e2e/src/fixtures/cjs-config/starter
  test/core-e2e/src/fixtures/cjs/collections.cjs
  test/core-e2e/src/fixtures/cjs/db/users.cjs
  test/core-e2e/src/fixtures/cjs/routes/middlewares.cjs
  test/core-e2e/src/fixtures/cjs/routes/users.cjs
Due: core

test: Fix api-client nodejs E2E tests
  packages/plugin-admin-api/src/Alerts.js
  test/admin-api-client-nodejs-e2e/src/index.spec.js
  test/admin-api-client-nodejs-e2e/src/support/helpers.js
Due: plugin-admin-api

feat: Use alert id in adminAPI
  packages/core/src/alerts/Alerts.js
  packages/plugin-admin-api/src/Alerts.js
  packages/plugin-admin-api/src/support/middlewares.js
  test/admin-api-client-data-provider-nodejs-e2e/src/index.spec.js
Due: core, plugin-admin-api

test: Fix cypress commands E2E tests
  test/cypress-commands-e2e/mocks.config.js
  test/cypress-commands-e2e/mocks/collections.json
  test/cypress-commands-e2e/mocks/routes/responses.json
  test/cypress-commands-typescript-e2e/mocks.config.js
  test/cypress-commands-typescript-e2e/mocks/collections.json
  test/cypress-commands-typescript-e2e/mocks/routes/responses.json
Due: none

test: Fix main E2E tests
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/src/helpers.js
  test/core-e2e/jest.config.js
  test/main-e2e/jest.config.js
  test/main-e2e/src/createServer.spec.js
  test/main-e2e/src/fixtures/proxy/mocks/routes/proxy.js
  test/main-e2e/src/proxy.spec.js
  test/main-e2e/src/scaffold.spec.js
Due: plugin-inquirer-cli

test: Fix core E2E tests
  test/core-e2e/src/plugins.spec.js
  test/core-e2e/src/support/helpers.js
Due: none

test: Fix core E2E tests
  test/core-e2e/src/plugins.spec.js
Due: none

chore: Upgrade swagger
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/src/swagger/openapi.js
  pnpm-lock.yaml
Due: plugin-admin-api

test: Fix unit tests
  packages/admin-api-client/test/client.spec.js
  packages/admin-api-client/test/index.spec.js
  packages/admin-api-client/test/support/helpers.js
  packages/admin-api-paths/test/index.spec.js
  packages/plugin-admin-api/jest.config.js
  packages/plugin-admin-api/test/alerts-api.spec.js
  packages/plugin-admin-api/test/config-api.spec.js
  packages/plugin-admin-api/test/fixtures/web-tutorial-modified/routes/user.js
  packages/plugin-admin-api/test/fixtures/web-tutorial-modified/routes/users.js
  packages/plugin-admin-api/test/fixtures/web-tutorial/routes/user.js
  packages/plugin-admin-api/test/fixtures/web-tutorial/routes/users.js
  packages/plugin-admin-api/test/legacy/about-api.spec.js
  packages/plugin-admin-api/test/legacy/alerts-api.spec.js
  packages/plugin-admin-api/test/legacy/cors.spec.js
  packages/plugin-admin-api/test/legacy/mock-custom-routes-variants-api.spec.js
  packages/plugin-admin-api/test/legacy/mocks-api.spec.js
  packages/plugin-admin-api/test/legacy/plugin-options.spec.js
  packages/plugin-admin-api/test/legacy/routes-api.spec.js
  packages/plugin-admin-api/test/legacy/routes-variants-api.spec.js
  packages/plugin-admin-api/test/legacy/settings-api.spec.js
  packages/plugin-admin-api/test/legacy/stop-plugin.spec.js
  packages/plugin-admin-api/test/route-variants-api.spec.js
  packages/plugin-admin-api/test/server.spec.js
  packages/plugin-admin-api/test/support/helpers.js
Due: admin-api-client, admin-api-paths, plugin-admin-api

test: Fix tests
  mocks/admin-api-client-unit-mocks/mocks.config.js
  packages/core/src/mock/Collections.js
  packages/core/src/mock/Mock.js
  packages/core/test/alerts/AlertsLegacy.mocks.js
  packages/core/test/alerts/AlertsLegacy.spec.js
  packages/core/test/alerts/legacyHelpers.spec.js
  packages/core/test/mock/Mock.spec.js
  packages/core/test/mock/helpers.spec.js
  packages/core/test/mock/validations.spec.js
  packages/core/test/variant-handlers/handlers/Default.spec.js
  packages/plugin-inquirer-cli/src/Cli.js
  test/config-e2e/jest.config.js
  test/plugin-inquirer-cli-e2e/jest.config.js
  test/plugin-inquirer-cli-e2e/src/main/arguments-legacy.spec.js
  test/plugin-inquirer-cli-e2e/src/main/disabled.spec.js
  test/plugin-inquirer-cli-e2e/src/main/files-watch.spec.js
Due: core, plugin-inquirer-cli

test(unit): Fix unit tests
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  packages/plugin-openapi/test/refs.spec.js
Due: plugin-inquirer-cli

fix: Restore unit mock config
  mocks/admin-api-client-unit-mocks/mocks.config.js
Due: none

test: Fix unit tests
  packages/core/jest.config.js
  packages/core/src/alerts/Alerts.js
  packages/core/src/mock/validations.js
  packages/core/test/Core.spec.js
  packages/core/test/alerts/Alerts.spec.js
  packages/core/test/common/tracer.spec.js
  packages/core/test/files/FilesLoaders.spec.js
  packages/core/test/files/helpers.spec.js
  packages/core/test/mock/Collection.spec.js
  packages/core/test/mock/Mock.spec.js
  packages/core/test/mock/helpers.spec.js
  packages/core/test/mock/validations.spec.js
  packages/core/test/plugins/Plugins.spec.js
  packages/core/test/server/Server.spec.js
  packages/core/test/update-notifier/UpdateNotifier.spec.js
  packages/core/test/variant-handlers/handlers/File.spec.js
  packages/core/test/variant-handlers/handlers/Json.spec.js
  packages/core/test/variant-handlers/handlers/Middleware.spec.js
  packages/core/test/variant-handlers/handlers/Static.spec.js
  packages/core/test/variant-handlers/handlers/Status.spec.js
  packages/core/test/variant-handlers/handlers/Text.spec.js
  packages/plugin-proxy/test/fixtures/delay/routes/proxy.js
  packages/plugin-proxy/test/fixtures/docs-example/routes/proxy.js
  packages/plugin-proxy/test/fixtures/filters/routes/proxy.js
  packages/plugin-proxy/test/fixtures/host-function/routes/proxy.js
  packages/plugin-proxy/test/fixtures/res-decorator/routes/proxy.js
  packages/plugin-proxy/test/legacy/docsExample.spec.js
  packages/plugin-proxy/test/legacy/filters.spec.js
  packages/plugin-proxy/test/legacy/hostFunction.spec.js
  packages/plugin-proxy/test/legacy/optionDelay.spec.js
  packages/plugin-proxy/test/legacy/resDecorator.spec.js
  packages/plugin-proxy/test/legacy/variantDelay.spec.js
Due: core, plugin-proxy

test: Restore core coverage threshold
  packages/core/jest.config.js
  packages/core/src/common/CoreApi.js
  packages/core/src/plugins/Plugins.js
  packages/core/test/components/common/helpers.spec.js
  packages/core/test/components/scaffold/Scaffold.spec.js
  packages/core/test/functional/fixtures/empty/collections.js
  packages/core/test/functional/fixtures/empty/routes/users.js
  packages/core/test/functional/specs/no-collections-nor-routes.spec.js
  packages/core/test/functional/specs/plugins.spec.js
Due: core

docs: Add changes to changelogs
  .eslintignore
  .github/workflows/build.yml
  packages/admin-api-client/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-proxy/CHANGELOG.md
Due: admin-api-client, core, plugin-admin-api, plugin-proxy

refactor: Removed unused vars
  packages/core/CHANGELOG.md
  packages/core/src/plugins/Plugins.js
Due: core

chore: Enable branch build
  .github/workflows/build.yml
Due: none

docs: Fix changelogs
  .github/workflows/build.yml
  packages/core/CHANGELOG.md
  packages/main/CHANGELOG.md
Due: core, main

chore: Fix Sonar smells
  packages/core/sonar-project.properties
  packages/plugin-proxy/src/Plugin.js
Due: core, plugin-proxy

chore(release): Upgrade versions
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/package.json
  packages/admin-api-client-data-provider/sonar-project.properties
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/README.md
  packages/admin-api-client/package.json
  packages/admin-api-client/sonar-project.properties
  packages/admin-api-paths/CHANGELOG.md
  packages/admin-api-paths/package.json
  packages/admin-api-paths/sonar-project.properties
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/package.json
  packages/cypress-commands/sonar-project.properties
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/package.json
  packages/plugin-inquirer-cli/sonar-project.properties
  packages/plugin-openapi/CHANGELOG.md
  packages/plugin-openapi/package.json
  packages/plugin-openapi/sonar-project.properties
  packages/plugin-proxy/CHANGELOG.md
  packages/plugin-proxy/package.json
  packages/plugin-proxy/sonar-project.properties
Due: admin-api-client-data-provider, admin-api-client, admin-api-paths, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

refactor: Migrate to Ts
  packages/config/src/Option.js
  packages/config/src/types.js
  packages/config/src/types.ts
  packages/config/test/specs/index.spec.js
Due: config

refactor: Migrate to TypeScript
  package.json
  packages/config/src/CommandLineArguments.js
  packages/config/src/Config.js
  packages/config/src/events.js
  packages/config/src/events.ts
  packages/config/src/types.ts
  packages/config/src/types/Namespace.ts
  packages/config/src/types/Option.ts
  packages/config/src/validation.js
  packages/config/src/validation.ts
  pnpm-lock.yaml
Due: config

fix: Fix package-lock
  pnpm-lock.yaml
Due: none

refactor: Migrate to TypeScript
  packages/config/src/CommandLineArguments.ts
  packages/config/src/Environment.ts
  packages/config/src/Files.ts
  packages/config/src/namespaces.js
  packages/config/src/namespaces.ts
  packages/config/src/types.ts
  packages/config/src/types/CommandLineArgument.ts
  packages/config/src/types/Common.ts
  packages/config/src/types/Environment.ts
  packages/config/src/types/Files.ts
  packages/config/src/types/Namespace.ts
  packages/config/src/types/Option.ts
  packages/config/src/validation.ts
Due: config

refactor: Migrate to TypeScript
  packages/config/src/Option.js
  packages/config/src/Option.ts
  packages/config/src/events.ts
  packages/config/src/types/Events.ts
  packages/config/src/types/Option.ts
Due: config
