Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: admin-api-client-data-provider, admin-api-client, admin-api-paths, cli-runner, config, core, cypress-commands, logger, main, nested-collections, plugin-admin-api, plugin-inquirer-cli, plugin-openapi, plugin-proxy

refactor: Migrate to TypeScript
  packages/config/src/CommandLineArguments.ts
  packages/config/src/Environment.ts
  packages/config/src/Namespace.js
  packages/config/src/Namespace.ts
  packages/config/src/Option.ts
  packages/config/src/namespaces.ts
  packages/config/src/types.ts
  packages/config/src/types/CommandLineArgument.ts
  packages/config/src/types/Common.ts
  packages/config/src/types/Environment.ts
  packages/config/src/types/Namespace.ts
  packages/config/src/types/Option.ts
  packages/config/src/types/Validation.ts
  packages/config/src/validation.ts
Due: config

refactor: Migrate to TypeScript
  packages/config/src/CommandLineArguments.ts
  packages/config/src/Config.ts
  packages/config/src/Environment.ts
  packages/config/src/Files.ts
  packages/config/src/Namespace.ts
  packages/config/src/index.ts
  packages/config/src/namespaces.ts
  packages/config/src/types/CommandLineArgument.ts
  packages/config/src/types/Config.ts
  packages/config/src/types/Environment.ts
  packages/config/src/types/Namespace.ts
  packages/config/src/types/Validation.ts
  packages/config/src/types/index.ts
  packages/config/src/validation.ts
  packages/config/test/specs/environment.spec.js
  test/config-e2e/.gitignore
  test/config-e2e/package.json
  test/config-e2e/src/fixtures/typescript/index.ts
  test/config-e2e/src/support/utils.js
  test/config-e2e/tsconfig.json
Due: config

refactor: Export types namespaces
  packages/config/CHANGELOG.md
  packages/config/src/Config.ts
  packages/config/src/Namespace.ts
  packages/config/src/Option.ts
  packages/config/src/types/Option.ts
  packages/config/src/types/index.ts
  packages/core/CHANGELOG.md
  packages/core/src/scaffold/Scaffold.js
Due: config, core

test: Add config types tests
  .eslintignore
  packages/config/src/Config.ts
  packages/config/src/Namespace.ts
  packages/config/src/types/Config.ts
  packages/config/src/types/Option.ts
  test/config-e2e/.gitignore
  test/config-e2e/src/fixtures/typescript/index.ts
  test/config-e2e/tsconfig.json
Due: config

refactor: Opion options types
  packages/config/src/CommandLineArguments.ts
  packages/config/src/Config.ts
  packages/config/src/types.ts
  packages/config/src/types/Option.ts
  packages/config/src/validation.ts
  test/config-e2e/src/fixtures/typescript/index.ts
Due: config

test: Fix core unit tests
  packages/core/test/components/scaffold/Scaffold.spec.js
Due: core

docs: Add TypeScript docs
  packages/config/src/Config.ts
  packages/config/src/Namespace.ts
  packages/config/src/types/Config.ts
  packages/config/src/types/Validation.ts
Due: config

docs: Add TypeScript docs
  packages/config/src/types/Config.ts
  packages/config/src/types/Events.ts
  packages/config/src/types/Option.ts
  test/config-e2e/src/fixtures/typescript/index.ts
Due: config

docs: Add Ts docs
  packages/config/src/types/Option.ts
Due: config

refactor: Use Extradata type in option interface
  packages/config/src/Option.ts
Due: config

feat: Throw an error when namespace adding a namespace and name already exists
  packages/config/CHANGELOG.md
  packages/config/src/Config.ts
  packages/config/src/Namespace.ts
  packages/config/src/namespaces.ts
  packages/config/src/types/Config.ts
  packages/config/test/specs/namespaces.spec.js
Due: config

refactor: Change admin-api-client types
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/package.json
  packages/admin-api-client/src/AdminApiClient.ts
  packages/admin-api-client/src/AdminApiClientEntities.ts
  packages/admin-api-client/src/index.ts
  packages/admin-api-client/src/methods.ts
  packages/admin-api-client/src/types.ts
  packages/admin-api-client/src/types/AdminApiClient.ts
  packages/admin-api-client/src/types/AdminApiClientEntities.ts
  packages/admin-api-client/src/types/Common.ts
  packages/admin-api-client/src/types/index.ts
  pnpm-lock.yaml
  test/config-e2e/package.json
  test/config-e2e/src/fixtures/typescript/index.ts
Due: admin-api-client

refactor: Refactor cypress-commands types
  packages/admin-api-client/src/AdminApiClient.ts
  packages/admin-api-client/src/types/AdminApiClient.ts
  packages/admin-api-client/src/types/AdminApiClientEntities.ts
  packages/admin-api-client/src/types/index.ts
  packages/config/test/specs/namespaces.spec.js
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/package.json
  packages/cypress-commands/src/AdminApiClient.ts
  packages/cypress-commands/src/commands.ts
  packages/cypress-commands/src/helpers.ts
  packages/cypress-commands/src/index.ts
  packages/cypress-commands/src/register.ts
  packages/cypress-commands/src/types/AdminApiClient.ts
  packages/cypress-commands/src/types/Commands.ts
  packages/cypress-commands/src/types/Cypress.ts
  packages/cypress-commands/src/types/Helpers.ts
  packages/cypress-commands/src/types/index.ts
  packages/cypress-commands/test/register.spec.js
  pnpm-lock.yaml
Due: admin-api-client, config, cypress-commands

refactor: Refactor logger and nested-collections types
  packages/logger/CHANGELOG.md
  packages/logger/README.md
  packages/logger/src/Logger.ts
  packages/logger/src/events.ts
  packages/logger/src/index.ts
  packages/logger/src/types.ts
  packages/logger/src/types/Events.ts
  packages/logger/src/types/Logger.ts
  packages/logger/src/types/index.ts
  packages/logger/src/types/winston-array-transport.d.ts
  packages/logger/test/Events.spec.js
  packages/logger/test/Levels.spec.js
  packages/logger/test/Namespaces.spec.js
  packages/logger/test/StoreLimits.spec.js
  packages/logger/test/index.spec.js
  packages/nested-collections/CHANGELOG.md
  packages/nested-collections/src/Collection.ts
  packages/nested-collections/src/events.ts
  packages/nested-collections/src/index.ts
  packages/nested-collections/src/types/Collection.ts
  packages/nested-collections/src/types/Events.ts
  packages/nested-collections/src/types/index.ts
  packages/nested-collections/test/Collection.spec.js
  packages/nested-collections/test/CollectionDecorator.spec.js
  packages/nested-collections/test/index.spec.js
  packages/plugin-openapi/src/mocks-server-core.d.ts
  pnpm-lock.yaml
  test/config-e2e/src/fixtures/typescript/index.ts
Due: logger, nested-collections, plugin-openapi

chore: Freeze package-lock
  pnpm-lock.yaml
Due: none

refactor: Refactor types
  packages/admin-api-client/src/AdminApiClient.ts
  packages/admin-api-client/src/AdminApiClientEntities.ts
  packages/admin-api-client/src/AdminApiClientEntitiesTypes.ts
  packages/config/src/CommandLineArguments.ts
  packages/config/src/CommonTypes.ts
  packages/config/src/Config.ts
  packages/config/src/ConfigTypes.ts
  packages/config/src/Environment.ts
  packages/config/src/Files.ts
  packages/config/src/FilesTypes.ts
  packages/config/src/Namespace.ts
  packages/config/src/Option.ts
  packages/config/tsconfig.json
  packages/cypress-commands/.eslintrc.cjs
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/src/.eslintrc.json
  packages/cypress-commands/src/AdminApiClient.ts
  packages/cypress-commands/src/AdminApiClientTypes.ts
  packages/cypress-commands/src/CommandsTypes.ts
  packages/cypress-commands/src/CypressTypes.ts
  packages/cypress-commands/src/HelpersTypes.ts
  packages/cypress-commands/src/commands.ts
  packages/cypress-commands/src/helpers.ts
  packages/cypress-commands/src/index.ts
  packages/cypress-commands/src/register.ts
  packages/cypress-commands/src/types.ts
  packages/cypress-commands/src/types/AdminApiClient.ts
  packages/cypress-commands/src/types/Commands.ts
  packages/cypress-commands/src/types/index.ts
  packages/cypress-commands/tsconfig.json
Due: admin-api-client, config, cypress-commands

chore: Build before linting
  .github/workflows/build.yml
Due: none

refactor: Refactor logger types
  packages/logger/CHANGELOG.md
  packages/logger/src/.eslintrc.json
  packages/logger/src/EventsTypes.ts
  packages/logger/src/Logger.ts
  packages/logger/src/LoggerTypes.ts
  packages/logger/src/events.ts
  packages/logger/src/index.ts
  packages/logger/src/types.ts
  packages/logger/src/types/Events.ts
  packages/logger/src/types/Logger.ts
  packages/logger/src/types/index.ts
  packages/logger/src/types/winston-array-transport.d.ts
  packages/logger/src/winston-array-transport.d.ts
Due: logger

refactor: Refactor nested-collections types
  packages/logger/tsconfig.json
  packages/nested-collections/CHANGELOG.md
  packages/nested-collections/README.md
  packages/nested-collections/src/.eslintrc.json
  packages/nested-collections/src/Collection.ts
  packages/nested-collections/src/CollectionTypes.ts
  packages/nested-collections/src/EventsTypes.ts
  packages/nested-collections/src/events.ts
  packages/nested-collections/src/index.ts
  packages/nested-collections/src/types.ts
  packages/nested-collections/src/types/Collection.ts
  packages/nested-collections/src/types/Events.ts
  packages/nested-collections/src/types/index.ts
  packages/nested-collections/tsconfig.json
  packages/plugin-openapi/src/mocks-server-core.d.ts
Due: logger, nested-collections, plugin-openapi

refactor: Refactor nested-collections types
  packages/nested-collections/README.md
  packages/nested-collections/src/Collection.ts
  packages/nested-collections/src/CollectionTypes.ts
  packages/nested-collections/test/CollectionDecorator.spec.js
  packages/plugin-openapi/src/mocks-server-core.d.ts
Due: nested-collections, plugin-openapi

docs: Remove recommendation
  packages/nested-collections/README.md
Due: nested-collections

refactor: Refactor plugin-openapi types
  packages/plugin-openapi/CHANGELOG.md
  packages/plugin-openapi/src/.eslintrc.json
  packages/plugin-openapi/src/OpenApiTypes.ts
  packages/plugin-openapi/src/Plugin.ts
  packages/plugin-openapi/src/PluginTypes.ts
  packages/plugin-openapi/src/constants.ts
  packages/plugin-openapi/src/index.ts
  packages/plugin-openapi/src/mocks-server-core.d.ts
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/src/types.ts
  packages/plugin-openapi/test/Plugin.spec.js
  packages/plugin-openapi/test/index.spec.js
  packages/plugin-openapi/tsconfig.json
Due: plugin-openapi

refactor: start core migration to TypeScript
  packages/core/.gitignore
  packages/core/babel.config.js
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/scaffold/mocks/collections.json
  packages/core/scaffold/mocks/routes/common.js
  packages/core/scaffold/mocks/routes/users.js
  packages/core/src/Core.js
  packages/core/src/index.ts
  packages/core/src/scaffold/Scaffold.js
  packages/core/src/variant-handlers/handlers/Text.js
  packages/core/test/components/Core.mocks.js
  packages/core/test/components/Core.spec.js
  packages/core/test/components/index.spec.js
  packages/core/test/functional/fixtures/config-file-with-routes-handler/starter
  packages/core/test/functional/specs/custom-router.spec.js
  packages/core/test/functional/support/helpers.js
  packages/core/tsconfig.json
  packages/main/index.js
  packages/main/src/createCore.js
  packages/main/test/Core.mocks.js
  packages/main/test/index.spec.js
  packages/plugin-admin-api/test/support/helpers.js
  packages/plugin-inquirer-cli/test/Core.mocks.js
  packages/plugin-proxy/test/support/helpers.js
  tsconfig.base.json
Due: core, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

test: Fix unit and E2E tests
  packages/admin-api-client/src/index.ts
  packages/config/src/index.ts
  packages/core/package.json
  packages/core/src/scaffold/Scaffold.js
  packages/core/templates/scaffold/config.hbs
  packages/core/templates/scaffold/namespace.hbs
  packages/core/templates/scaffold/option.hbs
  packages/logger/src/index.ts
  packages/nested-collections/src/index.ts
  packages/plugin-openapi/src/index.ts
  test/core-e2e/jest.config.js
  test/core-e2e/src/fixtures/cjs-config/starter
  test/core-e2e/src/fixtures/config-file-with-plugins/starter
  test/core-e2e/src/fixtures/config-file-with-routes-handler/starter
  test/core-e2e/src/fixtures/config-file/starter
  test/core-e2e/src/fixtures/esm-config/starter
  test/core-e2e/src/fixtures/starter
  test/core-e2e/src/fixtures/typescript-config/starter
  test/core-e2e/src/fixtures/typescript-custom-config/starter
  test/core-e2e/src/support/helpers.js
  test/plugin-inquirer-cli-e2e/src/main/fixtures/starter
Due: admin-api-client, config, core, logger, nested-collections, plugin-openapi

refactor: Migrate Core Scaffold to TypeScript
  package.json
  packages/config/src/Config.ts
  packages/config/src/ConfigTypes.ts
  packages/config/src/OptionTypes.ts
  packages/config/src/Options.ts
  packages/config/src/index.ts
  packages/core/src/Core.js
  packages/core/src/files/Options.ts
  packages/core/src/mock/Options.ts
  packages/core/src/scaffold/Options.ts
  packages/core/src/scaffold/Scaffold.js
  packages/core/src/scaffold/Scaffold.ts
  packages/core/src/scaffold/ScaffoldTypes.ts
  packages/core/test/components/scaffold/Scaffold.mocks.js
  packages/core/test/components/scaffold/Scaffold.spec.js
  pnpm-lock.yaml
Due: config, core

chore: Rename branch
  .github/workflows/build.yml
Due: none

refactor: Migrate Alerts to TypeScript
  packages/core/package.json
  packages/core/src/Core.js
  packages/core/src/alerts/Alerts.js
  packages/core/src/alerts/Alerts.ts
  packages/core/src/alerts/AlertsTypes.ts
  packages/core/src/scaffold/Options.ts
  packages/core/src/scaffold/ScaffoldTypes.ts
  packages/core/src/update-notifier/UpdateNotifier.ts
  packages/core/src/update-notifier/UpdateNotifierTypes.ts
  packages/core/test/components/Core.spec.js
  packages/core/test/components/alerts/Alerts.spec.js
  packages/core/test/components/files/FilesLoaders.spec.js
  packages/core/test/components/mock/Mock.spec.js
  packages/core/test/components/mock/helpers.spec.js
  packages/core/test/components/plugins/Plugins.spec.js
  packages/core/test/components/server/Server.spec.js
  packages/core/test/components/update-notifier/UpdateNotifier.mock.js
  packages/core/test/components/update-notifier/UpdateNotifier.spec.js
  packages/core/tsconfig.json
  packages/nested-collections/src/CollectionTypes.ts
  pnpm-lock.yaml
Due: core, nested-collections

refactor: Migrate Alerts to TypeScript
  packages/core/src/alerts/Alerts.ts
  packages/core/src/alerts/AlertsTypes.ts
  packages/core/src/scaffold/Scaffold.ts
  packages/core/src/scaffold/ScaffoldTypes.ts
  packages/core/src/update-notifier/UpdateNotifier.ts
  packages/core/src/update-notifier/UpdateNotifierTypes.ts
Due: core

test: Add unit test
  packages/core/src/alerts/Alerts.ts
  packages/core/test/components/alerts/Alerts.spec.js
Due: core

fix: Do not import package.json as it changes the dist folder structure
  packages/core/src/update-notifier/UpdateNotifier.ts
  packages/core/tsconfig.json
Due: core

fix(#464): Fix conversion of paths with multiple parameters
  packages/plugin-openapi/CHANGELOG.md
  packages/plugin-openapi/jest.config.js
  packages/plugin-openapi/package.json
  packages/plugin-openapi/sonar-project.properties
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/test/fixtures/api-multiple-params/collections.js
  packages/plugin-openapi/test/fixtures/api-multiple-params/openapi/api.js
  packages/plugin-openapi/test/multiple-params.spec.js
Due: plugin-openapi

chore(deps): Upgrade main package
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
Due: main

refactor: Migrate file variant handler to TypeScript
  packages/core/src/CoreTypes.ts
  packages/core/src/alerts/AlertsTypes.ts
  packages/core/src/common/CommonTypes.ts
  packages/core/src/scaffold/ScaffoldTypes.ts
  packages/core/src/update-notifier/UpdateNotifierTypes.ts
  packages/core/src/variant-handlers/VariantHandlers.js
  packages/core/src/variant-handlers/VariantHandlersTypes.ts
  packages/core/src/variant-handlers/handlers/File.ts
  packages/core/src/variant-handlers/handlers/FileTypes.ts
  packages/core/test/components/variant-handlers/handlers/File.spec.js
Due: core

chore(release): Upgrade package versions
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/package.json
  packages/admin-api-client-data-provider/sonar-project.properties
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/logger/sonar-project.properties
Due: admin-api-client-data-provider, core, logger

refactor: Migrate to TypeScript
  packages/core/src/variant-handlers/handlers/File.ts
  packages/core/src/variant-handlers/handlers/FileTypes.ts
Due: core

refactor(TypeScript): Migrate file variant handler
  packages/core/package.json
  packages/core/src/server/ServerTypes.ts
  packages/core/src/variant-handlers/VariantHandlersTypes.ts
  packages/core/src/variant-handlers/handlers/File.ts
  packages/core/src/variant-handlers/handlers/FileTypes.ts
  pnpm-lock.yaml
Due: core

refactor: Migrate variant handlers to TypeScript
  packages/core/src/mock/ValidationsTypes.ts
  packages/core/src/server/ServerTypes.ts
  packages/core/src/variant-handlers/VariantHandlersTypes.ts
  packages/core/src/variant-handlers/handlers/File.ts
  packages/core/src/variant-handlers/handlers/FileTypes.ts
  packages/core/src/variant-handlers/handlers/Middleware.js
  packages/core/src/variant-handlers/handlers/Middleware.ts
  packages/core/src/variant-handlers/handlers/MiddlewareTypes.ts
  packages/core/src/variant-handlers/handlers/Status.ts
  packages/core/src/variant-handlers/handlers/StatusTypes.ts
Due: core

refactor: Migrate variant handlers to TS
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/common/CommonTypes.ts
  packages/core/src/variant-handlers/VariantHandlers.js
  packages/core/src/variant-handlers/VariantHandlersTypes.ts
  packages/core/src/variant-handlers/handlers/Json.ts
  packages/core/src/variant-handlers/handlers/JsonTypes.ts
  packages/core/src/variant-handlers/handlers/Static.ts
  packages/core/src/variant-handlers/handlers/StaticTypes.ts
  packages/core/src/variant-handlers/handlers/Text.js
  packages/core/src/variant-handlers/handlers/Text.ts
  packages/core/src/variant-handlers/handlers/TextTypes.ts
  packages/core/test/components/mock/Mock.spec.js
  packages/core/test/components/mock/helpers.spec.js
  packages/core/test/components/mock/validations.spec.js
  packages/core/test/components/variant-handlers/handlers/Json.spec.js
  packages/core/test/components/variant-handlers/handlers/Middleware.spec.js
  packages/core/test/components/variant-handlers/handlers/Static.spec.js
  packages/core/test/components/variant-handlers/handlers/Status.spec.js
  packages/core/test/components/variant-handlers/handlers/Text.spec.js
Due: core

chore: update pnpm-lock
  pnpm-lock.yaml
Due: none

Path conditions:
  admin-api-client-data-provider: any of: packages/admin-api-client-data-provider/**
  admin-api-client: any of: packages/admin-api-client/**
  admin-api-paths: any of: packages/admin-api-paths/**
  cli-runner: any of: packages/cli-runner/**
  config: any of: packages/config/**
  core: any of: packages/core/**
  cypress-commands: any of: packages/cypress-commands/**
  logger: any of: packages/logger/**
  main: any of: packages/main/**
  nested-collections: any of: packages/nested-collections/**
  plugin-admin-api: any of: packages/plugin-admin-api/**
  plugin-inquirer-cli: any of: packages/plugin-inquirer-cli/**
  plugin-openapi: any of: packages/plugin-openapi/**
  plugin-proxy: any of: packages/plugin-proxy/**
