Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: admin-api-client-data-provider, admin-api-client, admin-api-paths, cli-runner, config, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

codecov.yml:

github_checks:
    annotations: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0%
        base: auto
      admin-api-client:
        flags:
          - admin-api-client
      admin-api-client-data-provider:
        flags:
          - admin-api-client-data-provider
      admin-api-paths:
        flags:
          - admin-api-paths
      cli-runner:
        flags:
          - cli-runner
      config:
        flags:
          - config
      core:
        flags:
          - core
      cypress-commands:
        flags:
          - cypress-commands
      main:
        flags:
          - main
      plugin-admin-api:
        flags:
          - plugin-admin-api
      plugin-inquirer-cli:
        flags:
          - plugin-inquirer-cli
      plugin-proxy:
        flags:
          - plugin-proxy
flags:
  admin-api-client-data-provider:
    paths:
      - packages/admin-api-client-data-provider/**
    carryforward: true
  admin-api-client:
    paths:
      - packages/admin-api-client/**
    carryforward: true
  admin-api-paths:
    paths:
      - packages/admin-api-paths/**
    carryforward: true
  cli-runner:
    paths:
      - packages/cli-runner/**
    carryforward: true
  config:
    paths:
      - packages/config/**
    carryforward: true
  core:
    paths:
      - packages/core/**
    carryforward: true
  cypress-commands:
    paths:
      - packages/cypress-commands/**
    carryforward: true
  main:
    paths:
      - packages/main/**
    carryforward: true
  plugin-admin-api:
    paths:
      - packages/plugin-admin-api/**
    carryforward: true
  plugin-inquirer-cli:
    paths:
      - packages/plugin-inquirer-cli/**
    carryforward: true
  plugin-proxy:
    paths:
      - packages/plugin-proxy/**
    carryforward: true

feat: add base logger
  package.json
  packages/core/src/tracer.js
  packages/logger/coverage/clover.xml
  packages/logger/coverage/coverage-final.json
  packages/logger/coverage/lcov-report/Logger.ts.html
  packages/logger/coverage/lcov-report/index.html
  packages/logger/coverage/lcov-report/winston-array-transport.d.ts.html
  packages/logger/coverage/lcov.info
  packages/logger/dist/Logger.d.ts
  packages/logger/dist/Logger.js
  packages/logger/package.json
  packages/logger/src/Logger.ts
  packages/logger/src/winston-array-transport.d.ts
  packages/logger/test/Logger.spec.js
  packages/logger/test/support.js
  pnpm-lock.yaml
Due: core

feat: add logger namespaces
  packages/logger/.gitignore
  packages/logger/coverage/clover.xml
  packages/logger/coverage/coverage-final.json
  packages/logger/coverage/lcov-report/Logger.ts.html
  packages/logger/coverage/lcov-report/base.css
  packages/logger/coverage/lcov-report/block-navigation.js
  packages/logger/coverage/lcov-report/favicon.png
  packages/logger/coverage/lcov-report/index.html
  packages/logger/coverage/lcov-report/index.ts.html
  packages/logger/coverage/lcov-report/prettify.css
  packages/logger/coverage/lcov-report/prettify.js
  packages/logger/coverage/lcov-report/sort-arrow-sprite.png
  packages/logger/coverage/lcov-report/sorter.js
  packages/logger/coverage/lcov-report/winston-array-transport.d.ts.html
  packages/logger/coverage/lcov.info
  packages/logger/jest.config.js
  packages/logger/src/Logger.ts
  packages/logger/test/Levels.spec.js
  packages/logger/test/Namespaces.spec.js
  packages/logger/test/support.js
Due: none

refactor: add functions to create Winston transports
  packages/logger/src/Logger.ts
Due: none

feat: add event emitter
  packages/logger/.gitignore
  packages/logger/dist/Logger.d.ts
  packages/logger/dist/Logger.js
  packages/logger/dist/index.d.ts
  packages/logger/dist/index.js
  packages/logger/jest.config.js
  packages/logger/src/Logger.ts
  packages/logger/src/events.ts
  packages/logger/src/types.ts
  packages/logger/test/Events.spec.js
  packages/logger/test/StoreLimits.spec.js
Due: none

chore: build branch
  .github/workflows/build.yml
Due: none

feat: Use new logger in Alerts
  packages/core/package.json
  packages/core/src/Alerts.js
  packages/core/src/Core.js
  packages/core/src/tracer.js
  packages/core/test/Alerts.spec.js
  packages/core/test/AlertsLegacy.spec.js
  packages/core/test/Core.spec.js
  packages/core/test/files-loader/FilesLoader.spec.js
  packages/core/test/mocks/Mocks.spec.js
  packages/core/test/mocks/helpers.spec.js
  packages/core/test/plugins/Plugins.spec.js
  packages/core/test/server/Server.spec.js
  packages/logger/src/Logger.ts
  packages/logger/test/support.js
  pnpm-lock.yaml
Due: core

feat: export Logger types
  packages/core/src/Core.js
  packages/core/test/Alerts.spec.js
  packages/core/test/AlertsLegacy.spec.js
  packages/core/test/files-loader/FilesLoader.spec.js
  packages/core/test/mocks/Mocks.spec.js
  packages/core/test/mocks/helpers.spec.js
  packages/core/test/plugins/Plugins.spec.js
  packages/core/test/server/Server.spec.js
  packages/logger/src/Logger.ts
  packages/logger/src/index.ts
  packages/logger/test/index.spec.js
Due: core

feat: pass logger to plugins
  packages/core/jest.config.js
  packages/core/src/Core.js
  packages/core/src/eventNames.js
  packages/core/src/plugins/Plugins.js
  packages/core/test/Core.spec.js
  packages/core/test/plugins/Plugins.spec.js
  packages/logger/src/Logger.ts
  test/core-e2e/jest.config.js
  test/core-e2e/src/plugins.spec.js
Due: core

feat: pass logger to plugins
  test/core-e2e/jest.config.js
Due: none

feat: Use new logger in Mocks
  packages/core/jest.config.js
  packages/core/src/Core.js
  packages/core/src/mocks/Mock.js
  packages/core/src/mocks/Mocks.js
  packages/core/src/mocks/helpers.js
  packages/core/test/mocks/Mock.spec.js
  packages/core/test/mocks/Mocks.spec.js
  packages/core/test/mocks/helpers.spec.js
Due: core

feat: Use logger in routeHandlers
  packages/core/src/Core.js
  packages/core/src/mocks/helpers.js
  packages/core/src/routes-handlers/RoutesHandlers.js
  packages/core/src/routes-handlers/default/DefaultRoutesHandler.js
  packages/core/test/routes-handlers/default/DefaultRoutesHandler.spec.js
  packages/plugin-proxy/src/ProxyRoutesHandler.js
Due: core, plugin-proxy

feat: use new logger in Server
  packages/core/jest.config.js
  packages/core/src/Core.js
  packages/core/src/eventNames.js
  packages/core/src/files-loader/FilesLoader.js
  packages/core/src/files-loader/helpers.js
  packages/core/src/mocks/validations.js
  packages/core/src/plugins/Plugins.js
  packages/core/src/server/Server.js
  packages/core/src/server/middlewares.js
  packages/core/src/tracer.js
  packages/core/test/Core.spec.js
  packages/core/test/server/Server.spec.js
  packages/core/test/server/middlewares.spec.js
  test/core-e2e/src/config-file-with-custom-route-handler.spec.js
  test/core-e2e/src/config-file-with-plugins.spec.js
  test/core-e2e/src/config-file.spec.js
  test/core-e2e/src/esm.spec.js
  test/core-e2e/src/typescript.spec.js
  test/plugin-inquirer-cli-e2e/jest.config.js
  test/plugin-inquirer-cli-e2e/src/main/interactive-cli.spec.js
Due: core

feat: use new logger in scaffold and FilesLoader
  packages/core/src/AlertsLegacy.js
  packages/core/src/Core.js
  packages/core/src/files-loader/FilesLoader.js
  packages/core/src/routes-handlers/RoutesHandlers.js
  packages/core/src/scaffold/Scaffold.js
  packages/core/src/scaffold/mocks/routes/middlewares.js
  packages/core/test/AlertsLegacy.spec.js
  packages/core/test/files-loader/FilesLoader.spec.js
  packages/core/test/scaffold/Scaffold.spec.js
Due: core

feat: use new logger in plugins
  packages/core/CHANGELOG.md
  packages/core/src/tracer.js
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/LICENSE
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/src/About.js
  packages/plugin-admin-api/src/Alerts.js
  packages/plugin-admin-api/src/CustomRoutesVariants.js
  packages/plugin-admin-api/src/Plugin.js
  packages/plugin-admin-api/src/Settings.js
  packages/plugin-admin-api/src/support/constants.js
  packages/plugin-admin-api/src/support/middlewares.js
  packages/plugin-admin-api/src/support/routers.js
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/Core.mocks.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
Due: core, plugin-admin-api, plugin-inquirer-cli

fix: Do not change globalStore level from namespaces
  packages/logger/jest.config.js
  packages/logger/src/Logger.ts
  packages/logger/test/Namespaces.spec.js
Due: none

feat: export nested-collection types
  packages/core/src/Alerts.js
  packages/core/test/Core.spec.js
  packages/nested-collections/CHANGELOG.md
  packages/nested-collections/README.md
  packages/nested-collections/src/Collection.ts
  packages/nested-collections/src/index.ts
  packages/nested-collections/test/index.spec.js
Due: core

feat: export EventListener type
  packages/nested-collections/src/Collection.ts
Due: none

refactor: configure TypeScript
  packages/logger/src/events.ts
  packages/logger/tsconfig.json
  packages/nested-collections/src/Collection.ts
  packages/nested-collections/src/events.ts
  packages/nested-collections/tsconfig.json
Due: none

feat: Pass custom core to Plugins
  packages/core/jest.config.js
  packages/core/src/Core.js
  packages/core/src/CustomCore.js
  packages/core/src/plugins/Plugins.js
  packages/core/test/Core.mocks.js
  packages/core/test/plugins/Plugins.spec.js
Due: core

feat: pass custom core to route handlers
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/src/mocks/Mocks.js
  packages/core/src/mocks/helpers.js
  packages/core/src/routes-handlers/default/DefaultRoutesHandler.js
  packages/core/src/scaffold/mocks/routes/middlewares.js
  packages/core/test/Core.mocks.js
  packages/core/test/mocks/Mocks.spec.js
  packages/core/test/mocks/helpers.spec.js
  packages/core/test/routes-handlers/default/DefaultRoutesHandler.spec.js
  packages/logger/package.json
  packages/logger/src/Logger.ts
  pnpm-lock.yaml
  test/core-e2e/src/validations.spec.js
Due: core

feat: Expose same methods in core and custom core APIs
  packages/core/jest.config.js
  packages/core/src/Alerts.js
  packages/core/src/AlertsLegacy.js
  packages/core/src/Core.js
  packages/core/src/CustomCore.js
  packages/core/test/Core.mocks.js
  packages/core/test/Core.spec.js
  packages/logger/src/Logger.ts
  packages/logger/test/Namespaces.spec.js
  packages/nested-collections/CHANGELOG.md
  packages/nested-collections/src/Collection.ts
  packages/nested-collections/test/Collection.spec.js
  packages/nested-collections/test/CollectionDecorator.spec.js
Due: core

feat: refactor plugins to use new plugins API
  packages/config/CHANGELOG.md
  packages/config/jest.config.js
  packages/config/src/Config.js
  packages/config/src/Namespace.js
  packages/config/test/src/namespaces.spec.js
  packages/config/test/src/namespacesNested.spec.js
  packages/core/src/Core.js
  packages/core/src/CustomCore.js
  packages/core/test/Core.mocks.js
  packages/core/test/Core.spec.js
  packages/core/test/server/middlewares.spec.js
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/src/About.js
  packages/plugin-admin-api/src/Alerts.js
  packages/plugin-admin-api/src/CustomRoutesVariants.js
  packages/plugin-admin-api/src/Plugin.js
  packages/plugin-admin-api/src/Settings.js
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/jest.config.js
  packages/plugin-inquirer-cli/package.json
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/src/helpers.js
  packages/plugin-inquirer-cli/test/Config.mocks.js
  packages/plugin-inquirer-cli/test/Core.mocks.js
  packages/plugin-inquirer-cli/test/src/Cli.mocks.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  packages/plugin-inquirer-cli/test/src/Inquirer.mocks.js
  packages/plugin-inquirer-cli/test/src/Inquirer.spec.js
  packages/plugin-proxy/package.json
  packages/plugin-proxy/src/Plugin.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/plugins-legacy-alerts.spec.js
  test/core-e2e/src/plugins.spec.js
  test/plugin-inquirer-cli-e2e/src/main/files-watch.spec.js
  test/plugin-inquirer-cli-e2e/src/main/no-mocks.spec.js
Due: config, core, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

feat: Add configuration traces
  packages/config/CHANGELOG.md
  packages/config/README.md
  packages/config/src/Config.js
  packages/config/src/Environment.js
  packages/config/test/src/arguments.spec.js
  packages/config/test/src/environment.spec.js
  packages/config/test/src/files.spec.js
  packages/config/test/src/programmatic.spec.js
  packages/core/src/Core.js
Due: config, core

fix: fix config environment vars for root namespace
  packages/config/src/Environment.js
  packages/config/test/src/environment.spec.js
Due: config

feat: add links to deprecation alerts
  packages/core/src/AlertsLegacy.js
  packages/core/src/Core.js
  packages/core/src/CustomCore.js
Due: core

feat: add alertsApi getter unit tests
  packages/core/test/Core.spec.js
Due: core

docs: Add docs
  packages/logger/README.md
Due: none

test: Add loadMocks and loadRoutes E2E tests
  test/core-e2e/jest.config.js
  test/core-e2e/src/load-mocks-and-routes.spec.js
Due: none

fix: Fix E2E test
  test/core-e2e/src/plugins-legacy-alerts.spec.js
Due: none

chore: remove branch build
  .github/workflows/build.yml
Due: none

docs: add changes
  packages/nested-collections/CHANGELOG.md
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-proxy/CHANGELOG.md
Due: plugin-inquirer-cli, plugin-proxy

docs: add related issues. add change
  packages/core/CHANGELOG.md
Due: core

chore(release): upgrade version
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/config/sonar-project.properties
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/logger/CHANGELOG.md
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/nested-collections/CHANGELOG.md
  packages/nested-collections/package.json
  packages/nested-collections/sonar-project.properties
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/package.json
  packages/plugin-inquirer-cli/sonar-project.properties
  packages/plugin-proxy/CHANGELOG.md
  packages/plugin-proxy/package.json
  packages/plugin-proxy/sonar-project.properties
Due: config, core, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

style: remove comments
  packages/core/src/mocks/Mocks.js
Due: core

chore: remove context from scaffold trace
  packages/core/src/scaffold/mocks/routes/middlewares.js
Due: core

chore: remove unused devDependency
  package.json
  pnpm-lock.yaml
Due: none

chore: add missing end of line
  packages/logger/tsconfig.json
Due: none

feat(#332): Add update notifier
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/Core.js
  packages/core/src/UpdateNotifier.js
  packages/core/test/Core.spec.js
  packages/core/test/UpdateNotifier.mock.js
  packages/core/test/UpdateNotifier.spec.js
  packages/main/CHANGELOG.md
  packages/main/src/start.js
  pnpm-lock.yaml
Due: core, main

docs: change changelog
  packages/main/CHANGELOG.md
Due: main

chore: Change licences
  packages/core/test/UpdateNotifier.mock.js
  packages/core/test/UpdateNotifier.spec.js
Due: core
