Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: admin-api-client-data-provider, admin-api-client, admin-api-paths, cli-runner, config, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

codecov.yml:

github_checks:
    annotations: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0%
        base: auto
      admin-api-client:
        flags:
          - admin-api-client
      admin-api-client-data-provider:
        flags:
          - admin-api-client-data-provider
      admin-api-paths:
        flags:
          - admin-api-paths
      cli-runner:
        flags:
          - cli-runner
      config:
        flags:
          - config
      core:
        flags:
          - core
      cypress-commands:
        flags:
          - cypress-commands
      main:
        flags:
          - main
      plugin-admin-api:
        flags:
          - plugin-admin-api
      plugin-inquirer-cli:
        flags:
          - plugin-inquirer-cli
      plugin-proxy:
        flags:
          - plugin-proxy
flags:
  admin-api-client-data-provider:
    paths:
      - packages/admin-api-client-data-provider/**
    carryforward: true
  admin-api-client:
    paths:
      - packages/admin-api-client/**
    carryforward: true
  admin-api-paths:
    paths:
      - packages/admin-api-paths/**
    carryforward: true
  cli-runner:
    paths:
      - packages/cli-runner/**
    carryforward: true
  config:
    paths:
      - packages/config/**
    carryforward: true
  core:
    paths:
      - packages/core/**
    carryforward: true
  cypress-commands:
    paths:
      - packages/cypress-commands/**
    carryforward: true
  main:
    paths:
      - packages/main/**
    carryforward: true
  plugin-admin-api:
    paths:
      - packages/plugin-admin-api/**
    carryforward: true
  plugin-inquirer-cli:
    paths:
      - packages/plugin-inquirer-cli/**
    carryforward: true
  plugin-proxy:
    paths:
      - packages/plugin-proxy/**
    carryforward: true

fix: Fix Windows E2E test
  test/plugin-inquirer-cli-e2e/src/main/files-watch.spec.js
Due: none

chore(release): Upgrade versions
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
Due: core, main

chore: Move dependency
  packages/core/package.json
  packages/main/package.json
  pnpm-lock.yaml
Due: core, main

docs: Fix option docs
  packages/config/README.md
Due: config

docs: Add change to changelog
  packages/config/CHANGELOG.md
Due: config

feat(#390): Add server.https options
  .github/workflows/build.yml
  mocks/admin-api-client-unit-mocks/.gitignore
  packages/core/src/common/helpers.js
  packages/core/src/server/Server.js
  test/core-e2e/.gitignore
  test/core-e2e/jest.config.js
  test/core-e2e/src/https.spec.js
  test/core-e2e/src/support/helpers.js
Due: core

feat(#390): Add https support to plugin-admin-api
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/src/common/helpers.js
  packages/core/src/server/Server.js
  packages/core/test/common/Libs.mocks.js
  packages/core/test/server/Server.spec.js
  packages/plugin-admin-api/.gitignore
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/jest.config.js
  packages/plugin-admin-api/src/Plugin.js
  packages/plugin-admin-api/src/common/helpers.js
  packages/plugin-admin-api/src/server/Server.js
  packages/plugin-admin-api/src/swagger/Swagger.js
  packages/plugin-admin-api/test/config-api.spec.js
  packages/plugin-admin-api/test/https-error.spec.js
  packages/plugin-admin-api/test/https.spec.js
  packages/plugin-admin-api/test/legacy/settings-api.spec.js
  packages/plugin-admin-api/test/support/Spawn.js
  packages/plugin-admin-api/test/support/helpers.js
Due: core, plugin-admin-api

feat(#390): Add https and agent options to the configClient method
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/README.md
  packages/admin-api-client/jest.config.js
  packages/admin-api-client/src/entities.ts
  packages/admin-api-client/src/types.ts
  packages/admin-api-client/test/client.spec.js
  packages/admin-api-client/test/support/Spawn.js
  packages/admin-api-client/test/support/helpers.js
  packages/admin-api-client/test/support/temp/.gitignore
  packages/admin-api-paths/CHANGELOG.md
  packages/admin-api-paths/src/index.ts
Due: admin-api-client, admin-api-paths

feat(#390): Add protocol option to the configClient method
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/README.md
  packages/admin-api-client-data-provider/src/config.js
Due: admin-api-client-data-provider

feat(#390): Add https option to cypress-commands
  packages/admin-api-client/README.md
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/README.md
  packages/cypress-commands/src/AdminApiClient.ts
  packages/cypress-commands/src/commands.ts
  packages/cypress-commands/src/helpers.ts
  packages/cypress-commands/test/commands.spec.js
Due: admin-api-client, cypress-commands

fix: Fix cypress-commands-ts-E2E config
  test/cypress-commands-typescript-e2e/tsconfig.json
Due: none

fix: Fix https import to avoid allowSynteticDefaultExport config
  packages/admin-api-client/src/types.ts
  test/cypress-commands-typescript-e2e/tsconfig.json
Due: admin-api-client

fix: Fix Cypress-commands typescript E2E tests
  packages/admin-api-client/src/types.ts
  test/cypress-commands-typescript-e2e/tsconfig.json
Due: admin-api-client

docs: Add note about allowSyntheticDefaultExports
  packages/cypress-commands/README.md
Due: cypress-commands

fix(#408): Refresh inquirer-cli on port change
  packages/plugin-inquirer-cli/src/Cli.js
Due: plugin-inquirer-cli

feat(#390): Change displayed protocol based on the value of the server.https.enabled option
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/package.json
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
Due: plugin-inquirer-cli

feat(#390): Reinit server onChange https options
  packages/core/src/server/Server.js
Due: core

test(#390): Add cypress-commands https E2E test
  pnpm-lock.yaml
  test/cypress-commands-e2e/.gitignore
  test/cypress-commands-e2e/cypress/integration/commands.js
  test/cypress-commands-e2e/package.json
  test/cypress-commands-e2e/scripts/create-certs.js
Due: none

test(#390): Add E2E tests checking changes in https option in core and plugin-admin-api
  pnpm-lock.yaml
  test/main-e2e/.gitignore
  test/main-e2e/jest.config.js
  test/main-e2e/package.json
  test/main-e2e/src/https.spec.js
  test/main-e2e/src/support/helpers.js
Due: none

test(#390): Add certificates to Cypress
  test/cypress-commands-e2e/cypress.json
Due: none

docs: Add admin-api new options
  packages/plugin-admin-api/README.md
Due: plugin-admin-api

docs: Add link to website
  packages/cypress-commands/README.md
Due: cypress-commands

chore(release): Upgrade versions
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/package.json
  packages/admin-api-client-data-provider/sonar-project.properties
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/package.json
  packages/admin-api-client/sonar-project.properties
  packages/admin-api-paths/CHANGELOG.md
  packages/admin-api-paths/package.json
  packages/admin-api-paths/sonar-project.properties
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/config/sonar-project.properties
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/package.json
  packages/cypress-commands/sonar-project.properties
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/package.json
  packages/plugin-inquirer-cli/sonar-project.properties
Due: admin-api-client-data-provider, admin-api-client, admin-api-paths, config, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli

chore: Remove branch build
  .github/workflows/build.yml
Due: none

feat(#384): Create plugin-openapi package
  .github/workflows/build.yml
  README.md
  codecov.yml
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/src/createCore.js
  packages/main/test/createCore.spec.js
  packages/main/test/start.spec.js
  packages/plugin-openapi/.gitignore
  packages/plugin-openapi/CHANGELOG.md
  packages/plugin-openapi/LICENSE
  packages/plugin-openapi/README.md
  packages/plugin-openapi/babel.config.js
  packages/plugin-openapi/jest.config.js
  packages/plugin-openapi/package.json
  packages/plugin-openapi/project.json
  packages/plugin-openapi/sonar-project.properties
  packages/plugin-openapi/src/.eslintrc.json
  packages/plugin-openapi/src/Plugin.ts
  packages/plugin-openapi/src/index.ts
  packages/plugin-openapi/test/.eslintrc.cjs
  packages/plugin-openapi/test/Plugin.spec.js
  packages/plugin-openapi/test/index.spec.js
  packages/plugin-openapi/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Due: main

chore: Build branch
  .github/workflows/build.yml
Due: none

feat(#384): Create routes from openapi document
  .eslintignore
  packages/plugin-openapi/jest.config.js
  packages/plugin-openapi/package.json
  packages/plugin-openapi/src/Plugin.ts
  packages/plugin-openapi/src/index.ts
  packages/plugin-openapi/src/mocks-server-core.d.ts
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/src/types.ts
  packages/plugin-openapi/test/custom-ids.spec.js
  packages/plugin-openapi/test/fixtures/api-users/collections.js
  packages/plugin-openapi/test/fixtures/api-users/openapi/api.js
  packages/plugin-openapi/test/fixtures/custom-ids/collections.js
  packages/plugin-openapi/test/fixtures/custom-ids/openapi/api.js
  packages/plugin-openapi/test/fixtures/empty-example/collections.js
  packages/plugin-openapi/test/fixtures/empty-example/openapi/api.js
  packages/plugin-openapi/test/fixtures/empty-examples/collections.js
  packages/plugin-openapi/test/fixtures/empty-examples/openapi/api.js
  packages/plugin-openapi/test/fixtures/empty-media/collections.js
  packages/plugin-openapi/test/fixtures/empty-media/openapi/api.js
  packages/plugin-openapi/test/fixtures/empty-method/collections.js
  packages/plugin-openapi/test/fixtures/empty-method/openapi/api.js
  packages/plugin-openapi/test/fixtures/empty-path/collections.js
  packages/plugin-openapi/test/fixtures/empty-path/openapi/api.js
  packages/plugin-openapi/test/fixtures/empty-response/collections.js
  packages/plugin-openapi/test/fixtures/empty-response/openapi/api.js
  packages/plugin-openapi/test/fixtures/empty-responses/collections.js
  packages/plugin-openapi/test/fixtures/empty-responses/openapi/api.js
  packages/plugin-openapi/test/fixtures/no-paths/collections.js
  packages/plugin-openapi/test/fixtures/no-paths/openapi/api.js
  packages/plugin-openapi/test/fixtures/unknown-media/collections.js
  packages/plugin-openapi/test/fixtures/unknown-media/openapi/api.js
  packages/plugin-openapi/test/fixtures/users/collections.js
  packages/plugin-openapi/test/fixtures/users/openapi/api.js
  packages/plugin-openapi/test/incomplete-openapi.spec.js
  packages/plugin-openapi/test/openapi/users-collection.js
  packages/plugin-openapi/test/openapi/users.js
  packages/plugin-openapi/test/routes-from-file.spec.js
  packages/plugin-openapi/test/support/helpers.js
  packages/plugin-openapi/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(#384): Support defining custom ids for variants in openapi document
  packages/plugin-openapi/src/constants.ts
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/src/types.ts
  packages/plugin-openapi/test/custom-ids.spec.js
  packages/plugin-openapi/test/fixtures/custom-ids/collections.js
  packages/plugin-openapi/test/fixtures/custom-ids/openapi/api.js
Due: none

feat(#384): Support openapi response headers
  packages/plugin-openapi/jest.config.js
  packages/plugin-openapi/src/constants.ts
  packages/plugin-openapi/src/mocks-server-core.d.ts
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/src/types.ts
  packages/plugin-openapi/test/custom-headers.spec.js
  packages/plugin-openapi/test/fixtures/custom-headers/collections.js
  packages/plugin-openapi/test/fixtures/custom-headers/openapi/api.js
Due: none

feat(#384): Support default response
  packages/plugin-openapi/jest.config.js
  packages/plugin-openapi/src/mocks-server-core.d.ts
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/test/code-wildcards.spec.js
  packages/plugin-openapi/test/custom-headers.spec.js
  packages/plugin-openapi/test/fixtures/code-wildcards/collections.js
  packages/plugin-openapi/test/fixtures/code-wildcards/openapi/api.js
Due: none

feat(#384): Support openapi operationId. Use it as route id if present
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/test/fixtures/custom-ids/openapi/api.js
Due: none

feat(#384): Support openapi refs
  packages/plugin-openapi/jest.config.js
  packages/plugin-openapi/package.json
  packages/plugin-openapi/src/Plugin.ts
  packages/plugin-openapi/src/mocks-server-core.d.ts
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/src/types.ts
  packages/plugin-openapi/test/fixtures/code-wildcards/openapi/api.js
  packages/plugin-openapi/test/fixtures/refs/collections.js
  packages/plugin-openapi/test/fixtures/refs/openapi/api.js
  packages/plugin-openapi/test/fixtures/wrong-refs-options/collections.js
  packages/plugin-openapi/test/fixtures/wrong-refs-options/openapi/api.js
  packages/plugin-openapi/test/fixtures/wrong-refs/collections.js
  packages/plugin-openapi/test/fixtures/wrong-refs/openapi/api.js
  packages/plugin-openapi/test/openapi/users.js
  packages/plugin-openapi/test/refs.spec.js
  pnpm-lock.yaml
Due: none

feat(#384): Set refs location option to current file location by default
  packages/plugin-openapi/src/Plugin.ts
  packages/plugin-openapi/src/types.ts
  packages/plugin-openapi/test/fixtures/refs-files/collections.js
  packages/plugin-openapi/test/fixtures/refs-files/openapi-refs/user.json
  packages/plugin-openapi/test/fixtures/refs-files/openapi-refs/users.json
  packages/plugin-openapi/test/fixtures/refs-files/openapi/api.js
  packages/plugin-openapi/test/refs.spec.js
Due: none

test(#384): Test remote refs in openapi definition
  packages/plugin-openapi/test/fixtures/refs-remote-server/collections.yaml
  packages/plugin-openapi/test/fixtures/refs-remote-server/routes/refs.js
  packages/plugin-openapi/test/fixtures/refs-remote-server/static/user.json
  packages/plugin-openapi/test/fixtures/refs-remote-server/static/users.json
  packages/plugin-openapi/test/fixtures/refs-remote/collections.js
  packages/plugin-openapi/test/fixtures/refs-remote/openapi/api.js
  packages/plugin-openapi/test/refs.spec.js
Due: none

feat(#384): Export function to create routes from openapi definition
  packages/plugin-openapi/src/Plugin.ts
  packages/plugin-openapi/src/index.ts
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/src/types.ts
  packages/plugin-openapi/test/fixtures/refs-remote-server/static/openapi.json
  packages/plugin-openapi/test/openapi-function-errors.spec.js
  packages/plugin-openapi/test/refs.spec.js
  packages/plugin-openapi/test/routes.spec.js
Due: none

refactor(#384): Export types in namespaces
  packages/plugin-openapi/src/Plugin.ts
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/src/types.ts
  packages/plugin-openapi/test/openapi-function-errors.spec.js
  packages/plugin-openapi/test/refs.spec.js
  packages/plugin-openapi/test/routes.spec.js
Due: none

feat: Support async in files
  packages/core/CHANGELOG.md
  packages/core/src/files/FilesLoaders.js
  packages/core/test/files/FilesLoaders.spec.js
  test/core-e2e/src/async-files.spec.js
  test/core-e2e/src/fixtures/web-tutorial-async/collections.js
  test/core-e2e/src/fixtures/web-tutorial-async/db/users.js
  test/core-e2e/src/fixtures/web-tutorial-async/routes/user.js
  test/core-e2e/src/fixtures/web-tutorial-async/routes/users.js
Due: core

feat(#384): Create collection with first variant of each route created from OpenAPI definition
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/src/mock/validations.js
  packages/core/test/mock/validations.spec.js
  packages/plugin-openapi/jest.config.js
  packages/plugin-openapi/src/Plugin.ts
  packages/plugin-openapi/src/mocks-server-core.d.ts
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/src/types.ts
  packages/plugin-openapi/test/collections.spec.js
  packages/plugin-openapi/test/fixtures/api-users-collection-no-variants/collections.js
  packages/plugin-openapi/test/fixtures/api-users-collection-no-variants/openapi/api.js
  packages/plugin-openapi/test/fixtures/api-users-collection/collections.js
  packages/plugin-openapi/test/fixtures/api-users-collection/openapi/api.js
Due: core

feat(#384): Create default collection with routes from all OpenAPI definitions
  packages/core/CHANGELOG.md
  packages/core/src/mock/validations.js
  packages/plugin-openapi/src/Plugin.ts
  packages/plugin-openapi/src/mocks-server-core.d.ts
  packages/plugin-openapi/src/openapi.ts
  packages/plugin-openapi/src/types.ts
  packages/plugin-openapi/test/collections.spec.js
Due: core

feat(#384): Support setting the collection id to null in plugin options
  packages/config/CHANGELOG.md
  packages/config/README.md
  packages/config/jest.config.js
  packages/config/src/Option.js
  packages/config/src/types.js
  packages/config/src/validation.js
  packages/config/test/src/validate.spec.js
  packages/plugin-openapi/src/Plugin.ts
  packages/plugin-openapi/src/mocks-server-core.d.ts
  packages/plugin-openapi/test/collections.spec.js
  packages/plugin-openapi/test/fixtures/api-users-collection-from/collections.js
  packages/plugin-openapi/test/fixtures/api-users-collection-from/openapi/api.js
  packages/plugin-openapi/test/fixtures/api-users-collection-from/routes/routes.js
  packages/plugin-openapi/test/fixtures/multiple-definitions/collections.js
  packages/plugin-openapi/test/fixtures/multiple-definitions/openapi/api.js
Due: config
