Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: main, main-copy

chore(workflow): Fix codecov paths
  codecov.yml
Due: none

chore(monorepo): Configure coverage paths
  packages/main-copy/jest.config.js
  packages/main/jest.config.js
Due: main, main-copy

chore(monorepo): Modify main-copy project to test PR pipeline
  packages/main-copy/package.json
Due: main-copy

chore(workflow): Decrease main-copy project coverage to test codecov
  packages/main-copy/jest.config.js
  packages/main-copy/test/index.spec.js
Due: main-copy

chore(workspace): Enable github checks
  codecov.yml
Due: none

chore(workspace): Try to get a codecov status check
  codecov.yml
  packages/main-copy/lib/start.js
Due: none

chore(workflow): Remove coverage threshold to check codecov status check
  packages/main-copy/jest.config.js
Due: main-copy

chore(workflow): Increase coverage of one project
  packages/main-copy/lib/start.js
Due: none

chore(workflow): Rename workflow. Use 6.x pnpm version
  .github/workflows/test.yml
Due: none

chore(workflow): Improve check version report
  .eslintrc.cjs
  packages/main-copy/CHANGELOG.md
  packages/main-copy/package.json
  scripts/common/utils.js
  scripts/nx/projects.js
  scripts/nx/templates/affectedCheckReportHtml.hbs
  scripts/nx/templates/affectedCheckReportText.hbs
  scripts/projects/config.js
  scripts/projects/utils.js
Due: main-copy

chore(workflow): Improve check version report
  scripts/nx/templates/affectedCheckReportHtml.hbs
Due: none

chore(workflow): Improve check version report
  scripts/nx/projects.js
  scripts/nx/templates/affectedCheckReportHtml.hbs
  scripts/nx/templates/affectedCheckReportText.hbs
Due: none

chore(workspace): Make fake project private
  packages/main-copy/package.json
Due: main-copy

chore(deps): update dependency @rollup/plugin-babel to v5.3.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v21.0.2
  package-lock.json
  package.json
Due: none

refactor(workspace): Add util to reuse command options
  package.json
  pnpm-lock.yaml
  scripts/cli/commands.js
  scripts/commands/affected-check-report.js
  scripts/commands/affected-check.js
  scripts/commands/affected-print-array.js
  scripts/commands/affected-report.js
  scripts/commands/projects-print-array.js
  scripts/common/constants.js
  scripts/nx/projects.js
Due: none

docs: Add main doc
  LICENSE
  NOTICE
  README.md
Due: none

docs: Add links to Cypress
  README.md
  packages/main/README.md
Due: main

chore(workspace): Remove main docs and licenses. Add build command to copy them from workspace
  .eslintrc.cjs
  packages/main/.gitignore
  packages/main/LICENSE
  packages/main/NOTICE
  packages/main/README.md
  packages/main/package.json
  packages/main/scripts/commands/build.mjs
  packages/main/scripts/constants.mjs
  scripts/common/paths.js
  scripts/common/utils.js
  scripts/pnpm/config.js
  scripts/projects/utils.js
Due: main

chore(workspace): Copy license and notice files to main package in build command
  packages/main/.gitignore
  packages/main/scripts/commands/build.mjs
Due: main

docs: Use www in website urls
  README.md
Due: none

chore(workspace): Configure nx implicit dependencies
  .github/workflows/build.yml
  README.md
  nx.json
  package.json
  scripts/projects/utils.js
Due: none

chore(workspace): Remove fake package
  codecov.yml
  packages/main-copy/.gitignore
  packages/main-copy/CHANGELOG.md
  packages/main-copy/LICENSE
  packages/main-copy/NOTICE
  packages/main-copy/README.md
  packages/main-copy/bin/mocks-server
  packages/main-copy/index.js
  packages/main-copy/jest.config.js
  packages/main-copy/lib/start.js
  packages/main-copy/package.json
  packages/main-copy/project.json
  packages/main-copy/test/Core.mocks.js
  packages/main-copy/test/Libs.mocks.js
  packages/main-copy/test/start.spec.js
  workspace.json
Due: main-copy

chore(workspace): Configure lint
  .eslintignore
  .eslintrc.cjs
  package.json
  packages/main/lib/start.js
  packages/main/project.json
  pnpm-lock.yaml
  test/main-e2e/project.json
  tsconfig.base.json
Due: main

chore(workflow): Build all packages before publishing
  .github/workflows/build.yml
  .github/workflows/publish-to-github.yml
  .github/workflows/publish-to-npm.yml
  package.json
Due: none

chore(monorepo): Add README file to main-e2e package
  test/main-e2e/README.md
Due: none

chore(workspace): Convert coverage reports to relative before sending them to Sonar
  .github/workflows/build.yml
  nx.json
  package.json
  pnpm-workspace.yaml
  scripts/cli/commands.js
  scripts/commands/project-coverage-to-relative.js
  scripts/common/utils.js
  scripts/projects/coverage.js
  scripts/projects/utils.js
  test/main-e2e/package.json
  tsconfig.base.json
Due: none

chore(workspace): Convert coverage paths to workspace paths before uploading them to codecov
  .github/workflows/build.yml
  package.json
  packages/main/jest.config.js
  scripts/commands/project-coverage-to-workspace.js
  scripts/projects/coverage.js
Due: main

refactor(workspace): Refactor coverage modifiers
  scripts/projects/coverage.js
Due: none

chore(deps): update dependency sinon to v13
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency fs-extra to v10.0.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint to v8.10.0
  package-lock.json
  package.json
Due: none

chore(workflow): Reduce amount of parallel jobs
  .github/workflows/build.yml
Due: none

chore(deps): Update devDependencies
  package.json
  pnpm-lock.yaml
Due: none

docs: Add change to changelog
  packages/main/CHANGELOG.md
  packages/main/sonar-project.properties
Due: main

refactor(main): Rename lib folder to src
  packages/main/CHANGELOG.md
  packages/main/bin/mocks-server
  packages/main/index.js
  packages/main/package.json
  packages/main/src/start.js
  packages/main/test/Core.mocks.js
  packages/main/test/Libs.mocks.js
  packages/main/test/index.spec.js
  packages/main/test/start.spec.js
  test/main-e2e/src/proxy.spec.js
  test/main-e2e/src/scaffold.spec.js
  test/main-e2e/src/support/CliRunner.js
  test/main-e2e/src/support/InteractiveCliRunner.js
  test/main-e2e/src/support/helpers.js
Due: main

Path conditions:
  main: any of: packages/main/*
  main-copy: any of: packages/main-copy/*
