Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: admin-api-client-data-provider, admin-api-client, admin-api-paths, cli-runner, config, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

codecov.yml:

github_checks:
    annotations: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0%
        base: auto
      admin-api-client:
        flags:
          - admin-api-client
      admin-api-client-data-provider:
        flags:
          - admin-api-client-data-provider
      admin-api-paths:
        flags:
          - admin-api-paths
      cli-runner:
        flags:
          - cli-runner
      config:
        flags:
          - config
      core:
        flags:
          - core
      cypress-commands:
        flags:
          - cypress-commands
      main:
        flags:
          - main
      plugin-admin-api:
        flags:
          - plugin-admin-api
      plugin-inquirer-cli:
        flags:
          - plugin-inquirer-cli
      plugin-proxy:
        flags:
          - plugin-proxy
flags:
  admin-api-client-data-provider:
    paths:
      - packages/admin-api-client-data-provider/**
    carryforward: true
  admin-api-client:
    paths:
      - packages/admin-api-client/**
    carryforward: true
  admin-api-paths:
    paths:
      - packages/admin-api-paths/**
    carryforward: true
  cli-runner:
    paths:
      - packages/cli-runner/**
    carryforward: true
  config:
    paths:
      - packages/config/**
    carryforward: true
  core:
    paths:
      - packages/core/**
    carryforward: true
  cypress-commands:
    paths:
      - packages/cypress-commands/**
    carryforward: true
  main:
    paths:
      - packages/main/**
    carryforward: true
  plugin-admin-api:
    paths:
      - packages/plugin-admin-api/**
    carryforward: true
  plugin-inquirer-cli:
    paths:
      - packages/plugin-inquirer-cli/**
    carryforward: true
  plugin-proxy:
    paths:
      - packages/plugin-proxy/**
    carryforward: true

chore(deps): update dependency rollup to v2.73.0
  package.json
  pnpm-lock.yaml
Due: none

feat: create scaffold
  packages/cli-runner/src/Logs.js
  packages/config/README.md
  packages/config/jest.config.js
  packages/config/src/Config.js
  packages/config/src/Option.js
  packages/config/src/validation.js
  packages/config/test/src/namespaces.spec.js
  packages/config/test/src/options.spec.js
  packages/core/package.json
  packages/core/src/Core.js
  packages/core/src/mocks/Mocks.js
  packages/core/src/plugins/Plugins.js
  packages/core/src/scaffold/Scaffold.js
  packages/core/src/scaffold/config.hbs
  packages/core/src/scaffold/namespace.hbs
  packages/core/src/scaffold/option.hbs
  packages/core/src/server/Server.js
  packages/core/test/Config.mocks.js
  packages/core/test/Core.spec.js
  packages/core/test/Libs.mocks.js
  packages/core/test/Scaffold.mocks.js
  packages/core/test/Scaffold.spec.js
  packages/core/test/scaffold/Scaffold.mocks.js
  packages/core/test/scaffold/Scaffold.spec.js
  packages/core/test/scaffold/snapshots/config-1.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/fixtures/config-file-no-path/mocks.config.js
  test/core-e2e/src/path-argument.spec.js
  test/core-e2e/src/path-not-exists.spec.js
  test/core-e2e/src/route-variants.spec.js
  test/core-e2e/src/scaffold.spec.js
  test/core-e2e/src/support/helpers.js
Due: cli-runner, config, core

chore: Update package-lock
  pnpm-lock.yaml
Due: none

feat: create namespace for babelRegister options
  packages/core/jest.config.js
  packages/core/src/files-loader/FilesLoader.js
  packages/core/test/Config.mocks.js
  packages/plugin-admin-api/test/settings-api.spec.js
  test/core-e2e/.gitignore
  test/core-e2e/src/config-file-with-custom-route-handler.spec.js
  test/core-e2e/src/config-file-with-plugins.spec.js
  test/core-e2e/src/config-file.spec.js
  test/core-e2e/src/cors-argument.spec.js
  test/core-e2e/src/custom-router.spec.js
  test/core-e2e/src/delay-argument.spec.js
  test/core-e2e/src/delay-setting.spec.js
  test/core-e2e/src/esm.spec.js
  test/core-e2e/src/events.spec.js
  test/core-e2e/src/files-error.spec.js
  test/core-e2e/src/fixtures/esm-config/mocks.config.js
  test/core-e2e/src/fixtures/typescript-config/mocks.config.js
  test/core-e2e/src/fixtures/typescript-custom-config/mocks.config.js
  test/core-e2e/src/json-files.spec.js
  test/core-e2e/src/mock-argument.spec.js
  test/core-e2e/src/mock-setting.spec.js
  test/core-e2e/src/multi-methods.spec.js
  test/core-e2e/src/path-argument.spec.js
  test/core-e2e/src/path-not-exists.spec.js
  test/core-e2e/src/path-setting.spec.js
  test/core-e2e/src/plain-mocks-and-routes.spec.js
  test/core-e2e/src/plugins.spec.js
  test/core-e2e/src/port-argument.spec.js
  test/core-e2e/src/port-setting.spec.js
  test/core-e2e/src/route-handler.spec.js
  test/core-e2e/src/route-variants.spec.js
  test/core-e2e/src/scaffold.spec.js
  test/core-e2e/src/support/helpers.js
  test/core-e2e/src/typescript.spec.js
  test/core-e2e/src/validations.spec.js
  test/core-e2e/src/watch-disabled.spec.js
  test/core-e2e/src/watch-enabled.spec.js
  test/plugin-inquirer-cli-e2e/.gitignore
  test/plugin-inquirer-cli-e2e/src/main/fixtures/mocks.config.js
Due: core, plugin-admin-api

feat(#248): Use better-ajv-errors instead of ajv-errors
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/mocks/Mocks.js
  packages/core/src/mocks/helpers.js
  packages/core/src/mocks/validations.js
  packages/core/src/routes-handlers/default/DefaultRoutesHandler.js
  packages/core/test/mocks/Mocks.spec.js
  packages/core/test/mocks/helpers.spec.js
  packages/core/test/mocks/validations.spec.js
  pnpm-lock.yaml
  test/core-e2e/jest.config.js
  test/core-e2e/src/scaffold.spec.js
  test/core-e2e/src/validations.spec.js
Due: core

chore(deps): update dependency redux to v4.2.0
  mocks/admin-api-client-data-provider-e2e-react-app/package.json
  packages/admin-api-client-data-provider/package.json
  pnpm-lock.yaml
Due: admin-api-client-data-provider

refactor: fix Sonar smells
  packages/config/src/Config.js
  packages/config/src/Namespace.js
  packages/config/src/validation.js
Due: config

refactor: remove Sonar smells
  packages/core/src/Core.js
  packages/core/src/scaffold/Scaffold.js
  packages/core/test/Libs.mocks.js
  packages/main/test/Libs.mocks.js
Due: core, main

feat: Return null in response preview when response is a function
  packages/core/src/routes-handlers/default/DefaultRoutesHandler.js
  packages/core/test/routes-handlers/default/DefaultRoutesHandler.spec.js
  packages/plugin-admin-api/test/routes-variants-api.spec.js
  test/core-e2e/src/plain-mocks-and-routes.spec.js
  test/main-e2e/src/proxy.spec.js
  test/main-e2e/src/scaffold.spec.js
Due: core, plugin-admin-api

chore(deps): update dependency webpack to v5.72.1
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency ajv to v8.11.0
  packages/config/package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: config, core

fix(deps): update dependency body-parser to v1.20.0
  packages/core/package.json
  pnpm-lock.yaml
Due: core

fix: change admin-api-client main property
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/README.md
  packages/admin-api-client/package.json
  packages/core/CHANGELOG.md
  pnpm-lock.yaml
  test/admin-api-client-nodejs-e2e/.gitignore
  test/admin-api-client-nodejs-e2e/jest.config.js
  test/admin-api-client-nodejs-e2e/package.json
  test/admin-api-client-nodejs-e2e/project.json
  test/admin-api-client-nodejs-e2e/src/index.spec.js
  test/admin-api-client-nodejs-e2e/src/support/helpers.js
  workspace.json
Due: admin-api-client, core

feat: Add emojis option to plugin-inquirer-cli
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/jest.config.js
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/src/Inquirer.js
  packages/plugin-inquirer-cli/src/helpers.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  packages/plugin-inquirer-cli/test/src/Inquirer.spec.js
  test/plugin-inquirer-cli-e2e/jest.config.js
  test/plugin-inquirer-cli-e2e/src/main/arguments.spec.js
Due: plugin-inquirer-cli

feat(#251): Add options for configuring json body parser and urlencoded body parser
  packages/core/jest.config.js
  packages/core/src/server/Server.js
  packages/core/src/server/middlewares.js
  packages/core/test/Core.mocks.js
  packages/core/test/server/Server.spec.js
  packages/core/test/server/middlewares.spec.js
  packages/plugin-inquirer-cli/test/src/Inquirer.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/cors-argument.spec.js
  test/core-e2e/src/multi-methods.spec.js
Due: core, plugin-inquirer-cli

feat(#249): always add cors middleware to admin-api plugin
  packages/plugin-admin-api/jest.config.js
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/src/Plugin.js
  packages/plugin-admin-api/test/cors.spec.js
  packages/plugin-admin-api/test/settings-api.spec.js
  pnpm-lock.yaml
Due: plugin-admin-api

docs: Add changes to changelog
  packages/core/CHANGELOG.md
  packages/plugin-admin-api/CHANGELOG.md
Due: core, plugin-admin-api

chore: run all tests
  packages/plugin-admin-api/jest.config.js
Due: plugin-admin-api

chore: add pnpm cache to build workflow
  .github/workflows/build.yml
Due: none

chore: Use pnpm cache in affected projects workflow
  .github/workflows/affected-projects.yml
Due: none

chore: Use pnpm cache in check-affected-projects workflow
  .github/workflows/check-affected.yml
Due: none

chore: Drop support for Node.js 12. Add Node.js 18 to tests
  .github/workflows/build.yml
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/package.json
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/package.json
  packages/admin-api-paths/CHANGELOG.md
  packages/admin-api-paths/package.json
  packages/cli-runner/package.json
  packages/config/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/package.json
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/package.json
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/package.json
  packages/plugin-proxy/CHANGELOG.md
  packages/plugin-proxy/package.json
Due: admin-api-client-data-provider, admin-api-client, admin-api-paths, cli-runner, config, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

fix(deps): update dependency express to v4.18.1
  packages/core/package.json
  packages/plugin-admin-api/package.json
  pnpm-lock.yaml
Due: core, plugin-admin-api

fix(deps): update dependency fs-extra to v10.1.0
  package.json
  packages/config/package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: config, core

chore: remove Windows Cypress cache
  .github/workflows/build.yml
Due: none

chore: Add env var to fix webpack on Node 18 && Node 17
  .github/workflows/build.yml
Due: none

chore: fix workflow condition
  .github/workflows/build.yml
Due: none

fix(deps): update dependency winston to v3.7.2
  packages/core/package.json
  pnpm-lock.yaml
Due: core

feat: Upgrade packages versions. Review docs and changelogs
  README.md
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/README.md
  packages/admin-api-client-data-provider/package.json
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/README.md
  packages/admin-api-client/package.json
  packages/admin-api-paths/CHANGELOG.md
  packages/admin-api-paths/README.md
  packages/admin-api-paths/package.json
  packages/config/CHANGELOG.md
  packages/config/LICENSE
  packages/config/README.md
  packages/config/package.json
  packages/core/CHANGELOG.md
  packages/core/README.md
  packages/core/package.json
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/README.md
  packages/cypress-commands/package.json
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/README.md
  packages/plugin-admin-api/package.json
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/README.md
  packages/plugin-inquirer-cli/package.json
  packages/plugin-proxy/CHANGELOG.md
  packages/plugin-proxy/README.md
  packages/plugin-proxy/package.json
  packages/plugin-proxy/src/ProxyRoutesHandler.js
Due: admin-api-client-data-provider, admin-api-client, admin-api-paths, config, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

chore: Upgrade Sonar projects versions
  packages/admin-api-client-data-provider/sonar-project.properties
  packages/admin-api-client/sonar-project.properties
  packages/admin-api-paths/sonar-project.properties
  packages/core/sonar-project.properties
  packages/cypress-commands/sonar-project.properties
  packages/main/sonar-project.properties
  packages/plugin-admin-api/sonar-project.properties
  packages/plugin-inquirer-cli/sonar-project.properties
  packages/plugin-proxy/sonar-project.properties
Due: admin-api-client-data-provider, admin-api-client, admin-api-paths, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

chore: Set plugins peerDependency only to 3.x
  packages/plugin-admin-api/package.json
  packages/plugin-inquirer-cli/package.json
  packages/plugin-proxy/package.json
Due: plugin-admin-api, plugin-inquirer-cli, plugin-proxy

docs: fix typo
  packages/config/README.md
Due: config

fix: fix scaffold config help url
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/scaffold/Scaffold.js
  packages/core/src/scaffold/config.hbs
  packages/core/src/scaffold/mocks/mocks.json
  packages/core/src/scaffold/mocks/routes/middlewares.js
  packages/core/src/scaffold/mocks/routes/users.js
  packages/core/test/scaffold/snapshots/config-1.js
Due: core

fix: Give a default value to plugins.register property in scaffold in order to avoid null values
  packages/core/src/plugins/Plugins.js
Due: core

test: fix main-e2e scaffold tests
  test/main-e2e/src/fixtures/scaffold/.gitignore
  test/main-e2e/src/fixtures/scaffold/.gitkeep
  test/main-e2e/src/fixtures/scaffold/mocks.config.js
  test/main-e2e/src/fixtures/scaffold/mocks/mocks.json
  test/main-e2e/src/fixtures/scaffold/mocks/routes/middlewares.js
  test/main-e2e/src/fixtures/scaffold/mocks/routes/users.js
Due: none

docs: Remove Mocks Server logo and title
  packages/config/README.md
Due: config

chore: upgrade versions
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/main/CHANGELOG.md
Due: config, core, main

chore: add missing end of file new line
  test/main-e2e/src/fixtures/scaffold/.gitignore
Due: none

fix: Fix Sonar config for coverage ignored paths
  packages/core/sonar-project.properties
Due: core

chore: fix Sonar project versions
  packages/config/sonar-project.properties
  packages/core/sonar-project.properties
  packages/main/sonar-project.properties
Due: config, core, main
