Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: admin-api-client-data-provider, admin-api-client, admin-api-paths, cli-runner, config, core, cypress-commands, logger, main, nested-collections, plugin-admin-api, plugin-inquirer-cli, plugin-openapi, plugin-proxy

codecov.yml:

github_checks:
    annotations: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0%
        base: auto
      admin-api-client:
        flags:
          - admin-api-client
      admin-api-client-data-provider:
        flags:
          - admin-api-client-data-provider
      admin-api-paths:
        flags:
          - admin-api-paths
      cli-runner:
        flags:
          - cli-runner
      config:
        flags:
          - config
      core:
        flags:
          - core
      cypress-commands:
        flags:
          - cypress-commands
      logger:
        flags:
          - logger
      main:
        flags:
          - main
      nested-collections:
        flags:
          - nested-collections
      plugin-admin-api:
        flags:
          - plugin-admin-api
      plugin-inquirer-cli:
        flags:
          - plugin-inquirer-cli
      plugin-openapi:
        flags:
          - plugin-openapi
      plugin-proxy:
        flags:
          - plugin-proxy
flags:
  admin-api-client-data-provider:
    paths:
      - packages/admin-api-client-data-provider/**
    carryforward: true
  admin-api-client:
    paths:
      - packages/admin-api-client/**
    carryforward: true
  admin-api-paths:
    paths:
      - packages/admin-api-paths/**
    carryforward: true
  cli-runner:
    paths:
      - packages/cli-runner/**
    carryforward: true
  config:
    paths:
      - packages/config/**
    carryforward: true
  core:
    paths:
      - packages/core/**
    carryforward: true
  cypress-commands:
    paths:
      - packages/cypress-commands/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  main:
    paths:
      - packages/main/**
    carryforward: true
  nested-collections:
    paths:
      - packages/nested-collections/**
    carryforward: true
  plugin-admin-api:
    paths:
      - packages/plugin-admin-api/**
    carryforward: true
  plugin-inquirer-cli:
    paths:
      - packages/plugin-inquirer-cli/**
    carryforward: true
  plugin-openapi:
    paths:
      - packages/plugin-openapi/**
    carryforward: true
  plugin-proxy:
    paths:
      - packages/plugin-proxy/**
    carryforward: true

refactor: Use new config types in core
  packages/core/src/Core.ts
  packages/core/src/files/Files.ts
  packages/core/src/mock/collections/Collections.ts
  packages/core/src/mock/routes/Routes.ts
  packages/core/src/plugins/Plugins.ts
  packages/core/src/server/Server.ts
  packages/core/src/server/ServerOptions.ts
  packages/core/src/variant-handlers/VariantHandlers.ts
Due: core

refactor: Use new config types in plugin-openapi
  packages/plugin-openapi/src/Plugin.ts
Due: plugin-openapi

refactor: Support unkwnown type in config
  packages/config/jest.config.js
  packages/config/src/Typing.ts
  packages/config/src/Validation.ts
  packages/config/test/specs/getValidationSchema.spec.js
  packages/core/src/plugins/Plugins.ts
  packages/core/src/variant-handlers/VariantHandlers.ts
Due: config, core

refactor: Refactor config
  packages/config/src/Validation.ts
Due: config

test: Fix config E2E tests
  test/config-e2e/src/fixtures/typescript/index.ts
Due: none

chore(release): Upgrade versions to beta
  .github/workflows/check-affected.yml
  .github/workflows/publish-to-github.yml
  .github/workflows/publish-to-npm.yml
  packages/admin-api-client/package.json
  packages/admin-api-client/sonar-project.properties
  packages/config/package.json
  packages/config/sonar-project.properties
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/cypress-commands/package.json
  packages/cypress-commands/sonar-project.properties
  packages/logger/package.json
  packages/logger/sonar-project.properties
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/nested-collections/package.json
  packages/nested-collections/sonar-project.properties
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
  packages/plugin-inquirer-cli/package.json
  packages/plugin-inquirer-cli/sonar-project.properties
  packages/plugin-openapi/package.json
  packages/plugin-openapi/sonar-project.properties
  packages/plugin-proxy/package.json
  packages/plugin-proxy/sonar-project.properties
Due: admin-api-client, config, core, cypress-commands, logger, main, nested-collections, plugin-admin-api, plugin-inquirer-cli, plugin-openapi, plugin-proxy

test: Fix admin-api-client E2E tests
  test/admin-api-client-data-provider-e2e-specs/cypress/integration/about.js
Due: none

chore: Fix plugins peerDependency
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
  packages/plugin-inquirer-cli/package.json
  packages/plugin-inquirer-cli/sonar-project.properties
  packages/plugin-openapi/package.json
  packages/plugin-openapi/sonar-project.properties
  packages/plugin-proxy/package.json
  packages/plugin-proxy/sonar-project.properties
Due: plugin-admin-api, plugin-inquirer-cli, plugin-openapi, plugin-proxy

chore: Upgrade main
  packages/main/package.json
  packages/main/sonar-project.properties
Due: main

feat: Support nullable in objects and arrays
  packages/config/CHANGELOG.md
  packages/config/jest.config.js
  packages/config/src/Config.ts
  packages/config/src/Option.ts
  packages/config/src/Validation.ts
  packages/config/src/Validation.types.ts
  packages/config/test/specs/getValidationSchema.spec.js
  packages/config/test/specs/options.spec.js
  packages/config/test/specs/validate.spec.js
  packages/core/src/plugins/Plugins.ts
  packages/core/src/variant-handlers/VariantHandlers.ts
Due: config, core

test: Fix about E2E tests
  test/admin-api-client-data-provider-e2e-specs/cypress/integration/about.js
Due: none

feat: Add MocksServer.Config interface allowing to type the configuration, and to extend it from plugins
  packages/config/package.json
  packages/config/sonar-project.properties
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/core/src/Core.ts
  packages/core/src/Core.types.ts
  packages/core/src/files/Files.ts
  packages/core/src/files/Files.types.ts
  packages/core/src/mock/Mock.types.ts
  packages/core/src/mock/collections/Collections.ts
  packages/core/src/mock/collections/Collections.types.ts
  packages/core/src/mock/routes/Routes.ts
  packages/core/src/mock/routes/Routes.types.ts
  packages/core/src/plugins/Plugins.ts
  packages/core/src/plugins/Plugins.types.ts
  packages/core/src/server/ServerOptions.ts
  packages/core/src/server/ServerOptions.types.ts
  packages/core/src/server/types.ts
  packages/core/src/variant-handlers/VariantHandlers.ts
  packages/core/src/variant-handlers/VariantHandlers.types.ts
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
  packages/plugin-inquirer-cli/package.json
  packages/plugin-inquirer-cli/sonar-project.properties
  packages/plugin-openapi/package.json
  packages/plugin-openapi/sonar-project.properties
  packages/plugin-openapi/src/Plugin.ts
  packages/plugin-openapi/src/Plugin.types.ts
  packages/plugin-proxy/package.json
  packages/plugin-proxy/sonar-project.properties
  pnpm-lock.yaml
Due: config, core, main, plugin-admin-api, plugin-inquirer-cli, plugin-openapi, plugin-proxy

feat: Support plugins id only as static getter. Do not pass core to other plugin methods than constructor
  packages/config/src/Files.ts
  packages/core/CHANGELOG.md
  packages/core/src/common/ScopedCore.ts
  packages/core/src/common/ScopedCore.types.ts
  packages/core/src/mock/collections/Collections.types.ts
  packages/core/src/mock/routes/Routes.ts
  packages/core/src/mock/routes/Routes.types.ts
  packages/core/src/plugins/Plugins.ts
  packages/core/src/plugins/Plugins.types.ts
  packages/core/src/variant-handlers/handlers/File.ts
  packages/core/src/variant-handlers/handlers/Json.ts
  packages/core/src/variant-handlers/handlers/Middleware.ts
  packages/core/src/variant-handlers/handlers/Static.ts
  packages/core/src/variant-handlers/handlers/Status.ts
  packages/core/src/variant-handlers/handlers/Text.ts
  packages/core/test/functional/specs/plugin-load-collections-and-routes.spec.js
  packages/core/test/functional/specs/plugins.spec.js
  test/core-e2e/src/fixtures/config-file-with-plugins/TraceMocksPlugin.js
  test/core-e2e/src/fixtures/config-file-with-plugins/TraceRoutesPlugin.js
Due: config, core

feat: Do not allow passing configuration to init method
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/Core.ts
  packages/core/src/Core.types.ts
  packages/core/src/common/Helpers.ts
  packages/core/test/components/Core.spec.js
  packages/core/test/functional/specs/custom-router.spec.js
  packages/core/test/functional/specs/route-handler.spec.js
  packages/core/test/functional/support/helpers.js
  packages/plugin-admin-api/test/support/helpers.js
  packages/plugin-openapi/test/support/helpers.js
  packages/plugin-proxy/test/support/helpers.js
Due: core, plugin-admin-api, plugin-openapi, plugin-proxy

chore: Fix package-lock
  pnpm-lock.yaml
Due: none

chore(deps): Update dependencies
  .gitignore
  package.json
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/package.json
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/package.json
  packages/config/.gitignore
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/core/.gitignore
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/package.json
  packages/plugin-openapi/CHANGELOG.md
  packages/plugin-openapi/package.json
  pnpm-lock.yaml
Due: admin-api-client-data-provider, admin-api-client, config, core, logger, main, plugin-admin-api, plugin-openapi

chore: Upgrade E2E testing app dependency
  mocks/admin-api-client-data-provider-e2e-react-app/package.json
  pnpm-lock.yaml
Due: none

chore(release): Upgrade package versions
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/package.json
  packages/admin-api-client-data-provider/sonar-project.properties
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/package.json
  packages/admin-api-client/sonar-project.properties
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/config/sonar-project.properties
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/logger/sonar-project.properties
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
  packages/plugin-openapi/CHANGELOG.md
  packages/plugin-openapi/package.json
  packages/plugin-openapi/sonar-project.properties
Due: admin-api-client-data-provider, admin-api-client, config, core, logger, main, plugin-admin-api, plugin-openapi

docs: Fix changelog date
  packages/plugin-openapi/CHANGELOG.md
Due: plugin-openapi

refactor: Start migrating plugin-admin-api to Ts
  packages/main/src/createCore.js
  packages/main/test/createCore.spec.js
  packages/main/test/start.spec.js
  packages/plugin-admin-api/.gitignore
  packages/plugin-admin-api/babel.config.js
  packages/plugin-admin-api/jest.config.js
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/src/Plugin.js
  packages/plugin-admin-api/src/index.ts
  packages/plugin-admin-api/src/types.ts
  packages/plugin-admin-api/test/support/helpers.js
  packages/plugin-admin-api/tsconfig.json
Due: main, plugin-admin-api

chore: Update lock file
  pnpm-lock.yaml
Due: none

refactor: Migrate plugin-proxy to TypeScript
  packages/main/src/createCore.js
  packages/plugin-admin-api/src/common/types.ts
  packages/plugin-admin-api/src/routes/api/types.ts
  packages/plugin-admin-api/src/routes/swagger/types.ts
  packages/plugin-admin-api/src/routes/types.ts
  packages/plugin-admin-api/src/server/types.ts
  packages/plugin-admin-api/src/support/types.ts
  packages/plugin-proxy/.gitignore
  packages/plugin-proxy/CHANGELOG.md
  packages/plugin-proxy/babel.config.js
  packages/plugin-proxy/index.js
  packages/plugin-proxy/package.json
  packages/plugin-proxy/src/Plugin.js
  packages/plugin-proxy/src/Plugin.ts
  packages/plugin-proxy/src/ProxyRoutesHandler.js
  packages/plugin-proxy/src/ProxyVariantHandler.ts
  packages/plugin-proxy/src/ProxyVariantHandler.types.ts
  packages/plugin-proxy/src/index.ts
  packages/plugin-proxy/src/types.ts
  packages/plugin-proxy/test/support/helpers.js
  packages/plugin-proxy/tsconfig.json
  pnpm-lock.yaml
  test/admin-api-client-nodejs-e2e/src/index.spec.js
Due: main, plugin-admin-api, plugin-proxy

refactor: Migrate plugin-inquirer-cli to TypeScript
  packages/config/CHANGELOG.md
  packages/main/src/createCore.js
  packages/main/src/start.js
  packages/main/test/createCore.spec.js
  packages/main/test/start.spec.js
  packages/plugin-inquirer-cli/.gitignore
  packages/plugin-inquirer-cli/assets/cli_animation.gif
  packages/plugin-inquirer-cli/babel.config.js
  packages/plugin-inquirer-cli/jest.config.js
  packages/plugin-inquirer-cli/package.json
  packages/plugin-inquirer-cli/src/Helpers.ts
  packages/plugin-inquirer-cli/src/Helpers.types.ts
  packages/plugin-inquirer-cli/src/Inquirer.js
  packages/plugin-inquirer-cli/src/Inquirer.ts
  packages/plugin-inquirer-cli/src/Inquirer.types.ts
  packages/plugin-inquirer-cli/src/Plugin.ts
  packages/plugin-inquirer-cli/src/Plugin.types.ts
  packages/plugin-inquirer-cli/src/helpers.js
  packages/plugin-inquirer-cli/src/index.ts
  packages/plugin-inquirer-cli/src/types.ts
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  packages/plugin-inquirer-cli/test/src/Inquirer.mocks.js
  packages/plugin-inquirer-cli/test/src/Inquirer.spec.js
  packages/plugin-inquirer-cli/tsconfig.json
  packages/plugin-proxy/package.json
  pnpm-lock.yaml
  test/main-e2e/src/createServer.spec.js
  test/main-e2e/src/proxy.spec.js
  test/main-e2e/src/scaffold.spec.js
Due: config, main, plugin-inquirer-cli, plugin-proxy

test: Fix plugin-inquirer-cli e2e tests
  test/plugin-inquirer-cli-e2e/src/inquirer/fixtures/autocomplete.js
  test/plugin-inquirer-cli-e2e/src/inquirer/fixtures/custom-quit-method.js
  test/plugin-inquirer-cli-e2e/src/inquirer/fixtures/exit-logs-mode.js
  test/plugin-inquirer-cli-e2e/src/inquirer/fixtures/logs-mode.js
  test/plugin-inquirer-cli-e2e/src/inquirer/fixtures/readme-example.js
  test/plugin-inquirer-cli-e2e/src/inquirer/fixtures/remove-listeners.js
  test/plugin-inquirer-cli-e2e/src/main/fixtures/starter
Due: none

refactor: Migrate main to TypeScript
  packages/main/.gitignore
  packages/main/babel.config.js
  packages/main/bin/mocks-server
  packages/main/package.json
  packages/main/scripts/commands/copy-docs.mjs
  packages/main/src/CreateServer.ts
  packages/main/src/Start.ts
  packages/main/src/index.ts
  packages/main/test/createCore.spec.js
  packages/main/test/index.spec.js
  packages/main/test/start.spec.js
  packages/main/tsconfig.json
  test/plugin-inquirer-cli-e2e/src/main/fixtures/starter
Due: main

chore: Define type of data emitted in events
  .github/workflows/build.yml
  packages/config/CHANGELOG.md
  packages/config/src/Events.ts
  packages/config/src/Events.types.ts
  packages/config/src/Option.ts
  packages/config/src/Option.types.ts
  packages/plugin-inquirer-cli/src/Plugin.ts
Due: config, plugin-inquirer-cli

test: Run plugin-inquirer-cli e2e
  .github/workflows/inquirer-cli.yml
Due: none

chore: Do not run build temporarily
  .github/workflows/build.yml
Due: none

chore: Rename job
  .github/workflows/inquirer-cli.yml
Due: none

chore: Fix cli-runner
  packages/cli-runner/src/Logs.js
Due: cli-runner

test: Print logs
  packages/plugin-inquirer-cli/jest.config.js
  test/plugin-inquirer-cli-e2e/jest.config.js
  test/plugin-inquirer-cli-e2e/src/main/interactive-cli.spec.js
Due: plugin-inquirer-cli

chore: Add implicit dependency
  test/plugin-inquirer-cli-e2e/project.json
Due: none

chore: Add implicit dependency
  packages/plugin-inquirer-cli/project.json
  test/plugin-inquirer-cli-e2e/project.json
Due: plugin-inquirer-cli

test: run all tests
  .github/workflows/build.yml
  .github/workflows/inquirer-cli.yml
  test/plugin-inquirer-cli-e2e/jest.config.js
Due: none

chore: Fix windows install
  .github/workflows/build.yml
  packages/core/src/Core.ts
  packages/core/src/alerts/Alerts.ts
  packages/core/src/files/Files.ts
  packages/core/src/files/Files.types.ts
  packages/core/src/files/FilesLoader.ts
  packages/core/src/files/default-loaders/DefaultRoutesLoader.ts
  packages/core/src/mock/Mock.ts
  packages/core/src/mock/Mock.types.ts
  packages/core/src/mock/collections/Collection.ts
  packages/core/src/mock/collections/Collections.ts
  packages/core/src/mock/collections/Collections.types.ts
  packages/core/src/mock/definitions/CollectionDefinitions.ts
  packages/core/src/mock/definitions/DefinitionLoadersManager.ts
  packages/core/src/mock/definitions/Definitions.ts
  packages/core/src/mock/definitions/RouteDefinitions.ts
  packages/core/src/mock/routes/Routes.ts
  packages/core/src/mock/routes/Routes.types.ts
  packages/core/src/plugins/Plugins.ts
  packages/core/src/plugins/Plugins.types.ts
Due: core

chore: Fix windows install
  .github/workflows/build.yml
  packages/core/jest.config.js
  packages/core/src/scaffold/Scaffold.ts
  packages/core/src/server/Server.ts
  packages/core/src/server/Server.types.ts
Due: core
