Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: core, cypress-commands, main, plugin-inquirer-cli, plugin-proxy

docs: add docs
  packages/config/README.md
Due: none

feat: adapt core to config changes
  packages/core/src/Core.js
  packages/core/src/plugins/Plugins.js
  test/core-e2e/src/v2/fixtures/config-file-with-plugins/starter
Due: core

test: Fix core unit tests
  packages/core/jest.config.js
  packages/core/src/Core.js
  packages/core/src/mocks/Mocks.js
  packages/core/src/plugins/Plugins.js
  packages/core/src/plugins/files-loader/FilesLoader.js
  packages/core/test/Config.mocks.js
  packages/core/test/Core.spec.js
  packages/core/test/Settings.mocks.js
  packages/core/test/mocks/Mocks.spec.js
  packages/core/test/plugins/Plugins.spec.js
  packages/core/test/plugins/files-loader/FilesLoader.spec.js
  packages/core/test/server/Server.spec.js
Due: core

feat: change plugins name property by id
  packages/core/CHANGELOG.md
  packages/core/src/plugins/Plugins.js
  packages/core/src/plugins/files-loader/FilesLoader.js
  packages/core/test/plugins/Plugins.spec.js
  packages/core/test/plugins/files-loader/FilesLoader.spec.js
Due: core

feat: deprecate plugins displayName
  packages/core/CHANGELOG.md
  packages/core/src/plugins/Plugins.js
  packages/core/src/support/helpers.js
  packages/core/test/plugins/Plugins.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/v2/fixtures/config-file-with-plugins/TraceMocksPlugin.js
  test/core-e2e/src/v2/fixtures/config-file-with-plugins/TraceRoutesPlugin.js
  test/core-e2e/src/v2/plugins.spec.js
Due: core

refactor: move cli-runner to a separated package
  codecov.yml
  packages/cli-runner/.gitignore
  packages/cli-runner/CHANGELOG.md
  packages/cli-runner/LICENSE
  packages/cli-runner/README.md
  packages/cli-runner/index.js
  packages/cli-runner/jest.config.js
  packages/cli-runner/package.json
  packages/cli-runner/project.json
  packages/cli-runner/sonar-project.properties
  packages/cli-runner/src/CliRunner.js
  packages/cli-runner/src/Logs.js
  packages/config/package.json
  pnpm-lock.yaml
  test/config-e2e/package.json
  test/config-e2e/src/args.spec.js
  test/config-e2e/src/env-vars.spec.js
  test/config-e2e/src/files-config.spec.js
  test/config-e2e/src/support/CliRunner.js
  test/config-e2e/src/support/utils.js
  test/core-e2e/package.json
  test/core-e2e/src/v2/config-file-with-custom-route-handler.spec.js
  test/core-e2e/src/v2/config-file-with-plugins.spec.js
  test/core-e2e/src/v2/config-file.spec.js
  test/core-e2e/src/v2/esm.spec.js
  test/core-e2e/src/v2/mock-argument.spec.js
  test/core-e2e/src/v2/path-argument.spec.js
  test/core-e2e/src/v2/support/MocksRunner.js
  test/core-e2e/src/v2/support/helpers.js
  test/core-e2e/src/v2/typescript.spec.js
  tsconfig.base.json
  workspace.json
Due: none

feat: integrate plugin-admin-api and cypress-commands
  mocks/admin-api-client-data-provider-e2e-mocks/mocks.config.js
  mocks/admin-api-client-data-provider-e2e-react-app/src/modules/current-route-variant/CurrentRouteVariantView.js
  mocks/admin-api-client-data-provider-e2e-react-app/src/modules/settings/SettingsView.js
  mocks/admin-api-client-data-provider-e2e-vanilla-app/public/main.js
  packages/config/src/Config.js
  packages/config/src/Namespace.js
  packages/config/src/Option.js
  packages/config/src/namespaces.js
  packages/config/src/validation.js
  packages/cypress-commands/src/commands.js
  packages/main/src/start.js
  packages/plugin-admin-api/jest.config.js
  packages/plugin-admin-api/src/Plugin.js
  packages/plugin-admin-api/src/Settings.js
  packages/plugin-admin-api/src/support/constants.js
  packages/plugin-admin-api/test/alerts-api.spec.js
  packages/plugin-admin-api/test/plugin-options.spec.js
  packages/plugin-admin-api/test/settings-api.spec.js
  packages/plugin-admin-api/test/stop-plugin.spec.js
  packages/plugin-admin-api/test/support/helpers.js
  test/admin-api-client-data-provider-nodejs-e2e/src/index.spec.js
  test/cypress-commands-e2e/cypress/integration/mocks.js
  test/cypress-commands-e2e/mocks.config.js
  test/cypress-commands-e2e/package.json
Due: cypress-commands, main

feat: adapt plugins to core changes
  packages/cli-runner/src/CliRunner.js
  packages/cli-runner/src/Logs.js
  packages/core/src/Core.js
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-proxy/src/Plugin.js
  pnpm-lock.yaml
  test/config-e2e/src/args.spec.js
  test/config-e2e/src/env-vars.spec.js
  test/config-e2e/src/files-config.spec.js
  test/core-e2e/src/v2/config-file-with-custom-route-handler.spec.js
  test/core-e2e/src/v2/config-file-with-plugins.spec.js
  test/core-e2e/src/v2/config-file.spec.js
  test/core-e2e/src/v2/esm.spec.js
  test/core-e2e/src/v2/mock-argument.spec.js
  test/core-e2e/src/v2/path-argument.spec.js
  test/core-e2e/src/v2/typescript.spec.js
  test/plugin-inquirer-cli-e2e/jest.config.js
  test/plugin-inquirer-cli-e2e/package.json
  test/plugin-inquirer-cli-e2e/src/inquirer/autocomplete.spec.js
  test/plugin-inquirer-cli-e2e/src/inquirer/exit-logs-mode.spec.js
  test/plugin-inquirer-cli-e2e/src/inquirer/logs-mode.spec.js
  test/plugin-inquirer-cli-e2e/src/inquirer/readme-example.spec.js
  test/plugin-inquirer-cli-e2e/src/inquirer/remove-listeners.spec.js
  test/plugin-inquirer-cli-e2e/src/inquirer/support/CliRunner.js
  test/plugin-inquirer-cli-e2e/src/inquirer/support/utils.js
  test/plugin-inquirer-cli-e2e/src/main/v2/arguments.spec.js
  test/plugin-inquirer-cli-e2e/src/main/v2/disabled.spec.js
  test/plugin-inquirer-cli-e2e/src/main/v2/files-watch.spec.js
  test/plugin-inquirer-cli-e2e/src/main/v2/fixtures/starter
  test/plugin-inquirer-cli-e2e/src/main/v2/interactive-cli.spec.js
  test/plugin-inquirer-cli-e2e/src/main/v2/no-mocks.spec.js
  test/plugin-inquirer-cli-e2e/src/main/v2/support/PluginCliRunner.js
  test/plugin-inquirer-cli-e2e/src/main/v2/support/helpers.js
  test/plugin-inquirer-cli-e2e/src/main/v2/web-tutorial.spec.js
Due: core, plugin-inquirer-cli, plugin-proxy

test: adapt all E2E tests
  mocks/admin-api-client-data-provider-e2e-react-app/src/modules/current-route-variant/CurrentRouteVariantController.js
  mocks/admin-api-client-data-provider-e2e-react-app/src/modules/settings/SettingsView.js
  mocks/admin-api-client-data-provider-e2e-vanilla-app/public/main.js
  mocks/admin-api-client-unit-mocks/mocks.config.js
  mocks/admin-api-client-unit-mocks/package.json
  packages/core/src/plugins/Plugins.js
  packages/inquirer-cli-runner/.gitignore
  packages/inquirer-cli-runner/README.md
  packages/inquirer-cli-runner/index.js
  packages/inquirer-cli-runner/package.json
  packages/inquirer-cli-runner/project.json
  packages/inquirer-cli-runner/src/InquirerCliRunner.js
  pnpm-lock.yaml
  test/admin-api-client-data-provider-e2e-specs/cypress/integration/settings.js
  test/admin-api-client-data-provider-nodejs-e2e/src/index.spec.js
  test/cypress-commands-e2e/package.json
  test/main-e2e/jest.config.js
  test/main-e2e/package.json
  test/main-e2e/src/fixtures/proxy/mocks.config.js
  test/main-e2e/src/fixtures/scaffold/mocks.config.js
  test/main-e2e/src/proxy.spec.js
  test/main-e2e/src/scaffold.spec.js
  test/main-e2e/src/support/CliRunner.js
  test/main-e2e/src/support/InteractiveCliRunner.js
  test/main-e2e/src/support/helpers.js
  test/plugin-inquirer-cli-e2e/jest.config.js
  test/plugin-inquirer-cli-e2e/package.json
  test/plugin-inquirer-cli-e2e/src/main/no-mocks.spec.js
  test/plugin-inquirer-cli-e2e/src/main/support/helpers.js
  tsconfig.base.json
  workspace.json
Due: core

test: fix admin-api-client unit tests
  packages/admin-api-client/test/index.spec.js
Due: none

test: fix plugin-proxy unit tests
  packages/cypress-commands/test/commands.spec.js
  packages/main/test/start.spec.js
  packages/plugin-proxy/test/optionDelay.spec.js
  packages/plugin-proxy/test/support/helpers.js
Due: cypress-commands, main, plugin-proxy

test: fix inquirer-cli unit tests
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/Config.mocks.js
  packages/plugin-inquirer-cli/test/Core.mocks.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
Due: plugin-inquirer-cli

feat: add set methods
  packages/cli-runner/package.json
  packages/config/README.md
  packages/config/jest.config.js
  packages/config/src/Config.js
  packages/config/src/Namespace.js
  packages/config/src/Option.js
  packages/config/src/validation.js
  packages/config/test/src/options.spec.js
  packages/config/test/src/optionsNested.spec.js
  packages/config/test/src/set.spec.js
  packages/config/test/src/validate.spec.js
  packages/core/src/Core.js
  packages/core/test/Core.spec.js
Due: core

chore: build branch
  .github/workflows/build.yml
Due: none

chore: fix packages repository property
  packages/admin-api-client-data-provider/package.json
  packages/admin-api-client/package.json
  packages/admin-api-paths/package.json
  packages/cli-runner/package.json
  packages/config/package.json
  packages/core/package.json
  packages/cypress-commands/package.json
  packages/main/package.json
  packages/plugin-admin-api/package.json
  packages/plugin-inquirer-cli/package.json
  packages/plugin-proxy/package.json
Due: core, cypress-commands, main, plugin-inquirer-cli, plugin-proxy

docs: add changes to changelog
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-paths/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/cypress-commands/CHANGELOG.md
  packages/main/CHANGELOG.md
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-proxy/CHANGELOG.md
Due: core, cypress-commands, main, plugin-inquirer-cli, plugin-proxy

test: fix flaky tests
  test/plugin-inquirer-cli-e2e/src/inquirer/autocomplete.spec.js
Due: none

test: fix flaky tests
  test/plugin-inquirer-cli-e2e/src/inquirer/autocomplete.spec.js
  test/plugin-inquirer-cli-e2e/src/main/disabled.spec.js
Due: none

test: fix flaky test
  test/plugin-inquirer-cli-e2e/src/inquirer/autocomplete.spec.js
Due: none

test: fix cli-runner arguments
  test/plugin-inquirer-cli-e2e/src/inquirer/autocomplete.spec.js
Due: none

chore: Remove sonar configuration
  packages/cli-runner/sonar-project.properties
Due: none

chore(deps): update dependency typescript to v4.6.4
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency inquirer to v8.2.4
  packages/plugin-inquirer-cli/package.json
  pnpm-lock.yaml
Due: plugin-inquirer-cli

chore(deps): update dependency @rollup/plugin-node-resolve to v13.3.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @typescript-eslint/parser to v5.23.0
  package.json
  pnpm-lock.yaml
Due: none

feat: change plugins arguments
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/src/plugins/Plugins.js
  packages/core/test/plugins/Plugins.spec.js
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/src/Plugin.js
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  packages/plugin-proxy/src/Plugin.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/fixtures/config-file-with-plugins/TraceMocksPlugin.js
  test/core-e2e/src/fixtures/config-file-with-plugins/TraceRoutesPlugin.js
  test/core-e2e/src/plugins.spec.js
Due: core, plugin-inquirer-cli, plugin-proxy

chore: do not build branch
  .github/workflows/build.yml
Due: none

feat: add loadedFile getter to config
  packages/config/README.md
  packages/config/src/Config.js
  packages/config/src/Files.js
  packages/config/src/Namespace.js
  packages/config/test/src/files.spec.js
  packages/core/src/Core.js
Due: core

test: add loadedFile E2E test
  test/config-e2e/jest.config.js
  test/config-e2e/src/files-config.spec.js
  test/config-e2e/src/fixtures/js-config-empty/mocks.config.js
  test/config-e2e/src/fixtures/only-init.js
Due: none

chore(deps): update dependency cypress to v9.6.1
  package.json
  pnpm-lock.yaml
Due: none

feat: Create scaffold only if path does not exists neither config file
  packages/core/jest.config.js
  packages/core/scaffold/mocks/routes/middlewares.js
  packages/core/src/Core.js
  packages/core/src/Scaffold.js
  packages/core/src/files-loader/FilesLoader.js
  packages/core/test/Core.spec.js
  packages/core/test/Scaffold.mocks.js
  packages/core/test/Scaffold.spec.js
  packages/core/test/files-loader/FilesLoader.spec.js
Due: core

chore(deps): update dependency axios to v0.27.2
  mocks/admin-api-client-data-provider-e2e-vanilla-app/public/index.html
Due: none

chore(deps): update dependency cypress-fail-fast to v3.4.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency eslint to v8.15.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency lint-staged to v12.4.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency react-app-rewired to v2.2.1
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  core: any of: packages/core/**
  cypress-commands: any of: packages/cypress-commands/**
  main: any of: packages/main/**
  plugin-inquirer-cli: any of: packages/plugin-inquirer-cli/**
  plugin-proxy: any of: packages/plugin-proxy/**
