Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: admin-api-client-data-provider, admin-api-client, admin-api-paths, cli-runner, config, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

chore(release): Upgrade versions
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
Due: core, main

chore: Modifying dependencies of any package affected all packages
  nx.json
Due: none

feat(#351): Add an alert when plugins are defined as objects or functions
  packages/core/CHANGELOG.md
  packages/core/src/plugins/Plugins.js
  packages/core/test/plugins/Plugins.spec.js
  test/core-e2e/src/plugins-legacy-alerts.spec.js
  test/core-e2e/src/plugins-legacy-formats.spec.js
Due: core

feat: Add proxy-v4 routes handler
  .github/workflows/build.yml
  packages/plugin-proxy/CHANGELOG.md
  packages/plugin-proxy/README.md
  packages/plugin-proxy/package.json
  packages/plugin-proxy/src/Plugin.js
  packages/plugin-proxy/src/ProxyRoutesHandlerV4.js
  packages/plugin-proxy/test/fixtures/delay-legacy/mocks.js
  packages/plugin-proxy/test/fixtures/delay-legacy/routes/proxy.js
  packages/plugin-proxy/test/fixtures/delay/routes/proxy.js
  packages/plugin-proxy/test/fixtures/docs-example-legacy/mocks.js
  packages/plugin-proxy/test/fixtures/docs-example-legacy/routes/proxy.js
  packages/plugin-proxy/test/fixtures/docs-example/routes/proxy.js
  packages/plugin-proxy/test/fixtures/filters-legacy/mocks.js
  packages/plugin-proxy/test/fixtures/filters-legacy/routes/proxy.js
  packages/plugin-proxy/test/fixtures/filters-legacy/routes/users.js
  packages/plugin-proxy/test/fixtures/filters/routes/proxy.js
  packages/plugin-proxy/test/fixtures/host-function-legacy/mocks.js
  packages/plugin-proxy/test/fixtures/host-function-legacy/routes/proxy.js
  packages/plugin-proxy/test/fixtures/res-decorator-legacy/mocks.js
  packages/plugin-proxy/test/fixtures/res-decorator-legacy/routes/proxy.js
  packages/plugin-proxy/test/fixtures/res-decorator/routes/proxy.js
  packages/plugin-proxy/test/legacy/docsExample.spec.js
  packages/plugin-proxy/test/legacy/filters.spec.js
  packages/plugin-proxy/test/legacy/hostFunction.spec.js
  packages/plugin-proxy/test/legacy/optionDelay.spec.js
  packages/plugin-proxy/test/legacy/resDecorator.spec.js
  packages/plugin-proxy/test/legacy/variantDelay.spec.js
Due: plugin-proxy

feat: Use new handlers format in scaffold
  packages/core/src/scaffold/mocks/routes/middlewares.js
  packages/core/src/scaffold/mocks/routes/users.js
Due: core

chore: Build branch
  .github/workflows/build.yml
Due: none

chore: Update pnpm-lock
  pnpm-lock.yaml
Due: none

feat: Increase winston-array-transport maxEventListeners. Fix E2E tests
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/logger/src/Logger.ts
  pnpm-lock.yaml
  test/main-e2e/src/fixtures/proxy/mocks/routes/proxy.js
  test/main-e2e/src/proxy.spec.js
  test/main-e2e/src/scaffold.spec.js
  test/main-e2e/src/support/helpers.js
Due: none

feat: Deprecate default and proxy handlers. Add an alert whenever they are used
  packages/admin-api-client/test/index.spec.js
  packages/core/CHANGELOG.md
  packages/core/src/mocks/helpers.js
  packages/core/src/routes-handlers/handlers/Default.js
  packages/plugin-admin-api/test/alerts-api.spec.js
  packages/plugin-proxy/src/ProxyRoutesHandler.js
Due: admin-api-client, core, plugin-admin-api, plugin-proxy

test: do not use deprecated handlers in mocks
  mocks/admin-api-client-data-provider-e2e-mocks/mocks/routes/users.js
Due: none

test: fix tests
  mocks/admin-api-client-unit-mocks/mocks/routes/users.js
  packages/admin-api-client/test/index.spec.js
  packages/plugin-proxy/README.md
  test/admin-api-client-nodejs-e2e/src/index.spec.js
Due: admin-api-client, plugin-proxy

test: Adapt E2E tests to new handlers
  test/plugin-inquirer-cli-e2e/src/main/fixtures/files-error-mock/routes/user.js
  test/plugin-inquirer-cli-e2e/src/main/fixtures/files-error-mock/routes/users.js
  test/plugin-inquirer-cli-e2e/src/main/fixtures/web-tutorial-modified/routes/user.js
  test/plugin-inquirer-cli-e2e/src/main/fixtures/web-tutorial-modified/routes/users.js
  test/plugin-inquirer-cli-e2e/src/main/fixtures/web-tutorial/routes/user.js
  test/plugin-inquirer-cli-e2e/src/main/fixtures/web-tutorial/routes/users.js
Due: none

feat: support preview property only in v4 handlers
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/src/mocks/helpers.js
  packages/core/src/mocks/validations.js
  packages/core/src/routes-handlers/helpers.js
  packages/core/test/mocks/helpers.spec.js
  packages/plugin-proxy/src/ProxyRoutesHandlerV4.js
Due: core, plugin-proxy

chore: Update eslint dependency
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/src/entities.js
Due: admin-api-client

chore: Report affected packages before running lint in order to generate graph
  .github/workflows/build.yml
Due: none

chore: Generate graph
  .github/workflows/build.yml
Due: none

chore: Do not build branch
  .github/workflows/build.yml
Due: none

style: Fix Sonar smell
  packages/core/test/mocks/validations.spec.js
Due: core

chore(release): Upgrade versions
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/package.json
  packages/admin-api-client/sonar-project.properties
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/core/src/mocks/helpers.js
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/package.json
  packages/cypress-commands/sonar-project.properties
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/logger/sonar-project.properties
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/plugin-proxy/CHANGELOG.md
  packages/plugin-proxy/package.json
  packages/plugin-proxy/sonar-project.properties
Due: admin-api-client, core, cypress-commands, main, plugin-proxy

refactor: Move loaders into loaders folder
  packages/core/CHANGELOG.md
  packages/core/src/Core.js
  packages/core/src/loaders/Loaders.js
  packages/core/src/loaders/files/FilesLoaders.js
  packages/core/src/loaders/files/helpers.js
  packages/core/test/Core.spec.js
  packages/core/test/loaders/Loaders.mocks.js
  packages/core/test/loaders/Loaders.spec.js
  packages/core/test/loaders/files/FilesLoaders.mocks.js
  packages/core/test/loaders/files/FilesLoaders.spec.js
  packages/core/test/loaders/files/helpers.spec.js
Due: core

refactor: Move alerts modules into alerts folder
  packages/core/CHANGELOG.md
  packages/core/src/Core.js
  packages/core/src/alerts/Alerts.js
  packages/core/src/alerts/AlertsLegacy.js
  packages/core/test/Core.spec.js
  packages/core/test/UpdateNotifier.spec.js
  packages/core/test/alerts/Alerts.spec.js
  packages/core/test/alerts/AlertsLegacy.mocks.js
  packages/core/test/alerts/AlertsLegacy.spec.js
  packages/core/test/loaders/files/FilesLoaders.spec.js
  packages/core/test/mocks/Mocks.spec.js
  packages/core/test/mocks/helpers.spec.js
  packages/core/test/plugins/Plugins.spec.js
  packages/core/test/server/Server.spec.js
Due: core

refactor: Move support helpers to correspondent folders
  packages/core/CHANGELOG.md
  packages/core/src/Core.js
  packages/core/src/alerts/legacyHelpers.js
  packages/core/src/common/events.js
  packages/core/src/common/helpers.js
  packages/core/src/plugins/Plugins.js
  packages/core/test/alerts/legacyHelpers.spec.js
Due: core

refactor: Move classes in root folder to correspondent folders
  packages/core/CHANGELOG.md
  packages/core/src/Core.js
  packages/core/src/common/CoreApi.js
  packages/core/src/common/legacyTracer.js
  packages/core/src/mocks/helpers.js
  packages/core/src/plugins/Plugins.js
  packages/core/test/Core.spec.js
  packages/core/test/common/tracer.spec.js
Due: core

refactor: Move updateNotifier into a folder
  packages/core/src/Core.js
  packages/core/src/update-notifier/UpdateNotifier.js
  packages/core/test/Core.spec.js
  packages/core/test/update-notifier/UpdateNotifier.mock.js
  packages/core/test/update-notifier/UpdateNotifier.spec.js
Due: core

refactor: Move libs mocks to common folder
  packages/core/test/Core.spec.js
  packages/core/test/common/Config.mocks.js
  packages/core/test/common/Libs.mocks.js
  packages/core/test/loaders/files/FilesLoaders.spec.js
  packages/core/test/mocks/Mock.spec.js
  packages/core/test/mocks/Mocks.spec.js
  packages/core/test/plugins/Plugins.spec.js
  packages/core/test/scaffold/Scaffold.spec.js
  packages/core/test/server/Server.spec.js
Due: core

refactor: reorganize files
  packages/core/CHANGELOG.md
  packages/core/src/Core.js
  packages/core/src/files/FilesLoaders.js
  packages/core/src/files/helpers.js
  packages/core/src/routes/Collection.js
  packages/core/src/routes/Collections.js
  packages/core/src/routes/Loaders.js
  packages/core/src/routes/helpers.js
  packages/core/src/routes/validations.js
  packages/core/src/routes/variant-handlers/VariantHandlers.js
  packages/core/src/routes/variant-handlers/handlers/Default.js
  packages/core/src/routes/variant-handlers/handlers/Json.js
  packages/core/src/routes/variant-handlers/handlers/Middleware.js
  packages/core/src/routes/variant-handlers/helpers.js
  packages/core/test/Core.spec.js
  packages/core/test/files/FilesLoaders.mocks.js
  packages/core/test/files/FilesLoaders.spec.js
  packages/core/test/files/helpers.spec.js
  packages/core/test/routes/Collection.mock.js
  packages/core/test/routes/Collection.spec.js
  packages/core/test/routes/Collections.mock.js
  packages/core/test/routes/Collections.spec.js
  packages/core/test/routes/Loaders.mocks.js
  packages/core/test/routes/Loaders.spec.js
  packages/core/test/routes/helpers.spec.js
  packages/core/test/routes/validations.spec.js
  packages/core/test/routes/variant-handlers/handlers/Default.spec.js
  packages/core/test/routes/variant-handlers/handlers/Json.spec.js
  packages/core/test/routes/variant-handlers/handlers/Middleware.spec.js
Due: core

feat: Expose server API. Deprecate core methods related to server
  packages/core/CHANGELOG.md
  packages/core/src/Core.js
  packages/core/src/common/CoreApi.js
  packages/core/src/server/Server.js
  packages/core/test/Core.mocks.js
  packages/core/test/Core.spec.js
  packages/core/test/plugins/Plugins.spec.js
  packages/core/test/server/Server.mocks.js
  packages/core/test/server/Server.spec.js
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/src/Plugin.js
Due: core, plugin-admin-api

test: use new server API in E2E tests
  .github/workflows/build.yml
  test/core-e2e/src/custom-router.spec.js
  test/core-e2e/src/plugins.spec.js
Due: none

feat(#334): Add new option routes.delay. Deprecate mocks.delay
  packages/config/CHANGELOG.md
  packages/config/README.md
  packages/config/jest.config.js
  packages/config/src/Option.js
  packages/config/test/src/arguments.spec.js
  packages/config/test/src/environment.spec.js
  packages/config/test/src/files.spec.js
  packages/config/test/src/options.spec.js
  packages/config/test/src/programmatic.spec.js
  packages/config/test/src/set.spec.js
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/Core.js
  packages/core/src/common/CoreApi.js
  packages/core/src/routes/Routes.js
  packages/core/src/server/Server.js
  packages/core/test/Core.mocks.js
  packages/core/test/Core.spec.js
  packages/core/test/plugins/Plugins.spec.js
  packages/core/test/routes/Routes.mock.js
  packages/core/test/routes/Routes.spec.js
  test/core-e2e-legacy/src/files-error.spec.js
  test/core-e2e-legacy/src/json-files.spec.js
  test/core-e2e-legacy/src/mock-setting.spec.js
  test/core-e2e-legacy/src/plugins-legacy-alerts.spec.js
  test/core-e2e-legacy/src/scaffold.spec.js
  test/core-e2e-legacy/src/validations.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/delay-argument.spec.js
  test/core-e2e/src/delay-setting.spec.js
  test/core-e2e/src/files-error.spec.js
  test/core-e2e/src/json-files.spec.js
  test/core-e2e/src/mock-setting.spec.js
  test/core-e2e/src/scaffold.spec.js
  test/core-e2e/src/support/helpers.js
  test/core-e2e/src/validations.spec.js
Due: config, core

chore: Update deps
  pnpm-lock.yaml
Due: none

refactor: Move variant-handlers to the root
  packages/core/src/Core.js
  packages/core/src/mock/helpers.js
  packages/core/src/mock/validations.js
  packages/core/src/variant-handlers/VariantHandlers.js
  packages/core/src/variant-handlers/handlers/Default.js
  packages/core/src/variant-handlers/handlers/Json.js
  packages/core/src/variant-handlers/handlers/Middleware.js
  packages/core/src/variant-handlers/helpers.js
  packages/core/test/mock/Mock.spec.js
  packages/core/test/mock/helpers.spec.js
  packages/core/test/mock/validations.spec.js
  packages/core/test/variant-handlers/handlers/Default.spec.js
  packages/core/test/variant-handlers/handlers/Json.spec.js
  packages/core/test/variant-handlers/handlers/Middleware.spec.js
Due: core

refactor: move Collections to mock folder
  packages/core/src/mock/Collections.js
  packages/core/src/mock/Mock.js
Due: core

feat: Change mock.delay option to mock.routes.delay
  packages/admin-api-client-data-provider/README.md
  packages/admin-api-client/README.md
  packages/admin-api-client/test/index.spec.js
  packages/core/CHANGELOG.md
  packages/core/src/mock/Mock.js
  packages/core/src/mock/Routes.js
  packages/core/test/mock/Mock.spec.js
  packages/cypress-commands/README.md
  packages/cypress-commands/test/commands.spec.js
  packages/plugin-admin-api/README.md
  packages/plugin-admin-api/test/settings-api.spec.js
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-proxy/README.md
  packages/plugin-proxy/test/optionDelay.spec.js
  test/admin-api-client-data-provider-nodejs-e2e/src/index.spec.js
  test/admin-api-client-nodejs-e2e/src/index.spec.js
  test/core-e2e/src/delay-argument.spec.js
  test/core-e2e/src/delay-setting.spec.js
  test/core-e2e/src/plugins.spec.js
  test/core-e2e/src/scaffold.spec.js
  test/cypress-commands-e2e/cypress/integration/mocks.js
  test/plugin-inquirer-cli-e2e/src/main/arguments-legacy.spec.js
  test/plugin-inquirer-cli-e2e/src/main/arguments.spec.js
  test/plugin-inquirer-cli-e2e/src/main/disabled.spec.js
  test/plugin-inquirer-cli-e2e/src/main/fixtures/mocks.config.js
Due: admin-api-client-data-provider, admin-api-client, core, cypress-commands, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

feat: Add variantHandlers.register option. Expose variantHandlers API
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/config/scaffold/mocks.config.js
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/src/Core.js
  packages/core/src/common/CoreApi.js
  packages/core/src/mock/Mock.js
  packages/core/src/mock/validations.js
  packages/core/src/variant-handlers/VariantHandlers.js
  packages/core/test/Core.mocks.js
  packages/core/test/Core.spec.js
  packages/core/test/plugins/Plugins.spec.js
  packages/plugin-admin-api/test/settings-api.spec.js
  packages/plugin-proxy/CHANGELOG.md
  packages/plugin-proxy/jest.config.js
  packages/plugin-proxy/package.json
  packages/plugin-proxy/src/Plugin.js
  test/core-e2e/src/fixtures/config-file-with-routes-handler/mocks.config.js
  test/core-e2e/src/route-handler.spec.js
  test/plugin-inquirer-cli-e2e/src/main/fixtures/mocks.config.js
Due: config, core, plugin-admin-api, plugin-proxy

feat: Deprecate mock restoreRoutesVariants method
  packages/core/CHANGELOG.md
  packages/core/src/mock/Mock.js
  packages/core/test/Core.mocks.js
  packages/core/test/mock/Mock.spec.js
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/src/CustomRoutesVariants.js
  packages/plugin-inquirer-cli/CHANGELOG.md
  packages/plugin-inquirer-cli/src/Cli.js
  packages/plugin-inquirer-cli/test/Core.mocks.js
  packages/plugin-inquirer-cli/test/src/Cli.spec.js
  test/core-e2e/src/delay-setting.spec.js
  test/core-e2e/src/route-variants.spec.js
Due: core, plugin-admin-api, plugin-inquirer-cli

Path conditions:
  admin-api-client-data-provider: any of: packages/admin-api-client-data-provider/**
  admin-api-client: any of: packages/admin-api-client/**
  admin-api-paths: any of: packages/admin-api-paths/**
  cli-runner: any of: packages/cli-runner/**
  config: any of: packages/config/**
  core: any of: packages/core/**
  cypress-commands: any of: packages/cypress-commands/**
  main: any of: packages/main/**
  plugin-admin-api: any of: packages/plugin-admin-api/**
  plugin-inquirer-cli: any of: packages/plugin-inquirer-cli/**
  plugin-proxy: any of: packages/plugin-proxy/**
