Repository mocks-server/main: changes, and which Codecov flags are due for each by the changed paths.
All: admin-api-client-data-provider, admin-api-client, admin-api-paths, cli-runner, config, core, cypress-commands, main, plugin-admin-api, plugin-inquirer-cli, plugin-proxy

codecov.yml:

github_checks:
    annotations: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0%
        base: auto
      admin-api-client:
        flags:
          - admin-api-client
      admin-api-client-data-provider:
        flags:
          - admin-api-client-data-provider
      admin-api-paths:
        flags:
          - admin-api-paths
      cli-runner:
        flags:
          - cli-runner
      config:
        flags:
          - config
      core:
        flags:
          - core
      cypress-commands:
        flags:
          - cypress-commands
      main:
        flags:
          - main
      plugin-admin-api:
        flags:
          - plugin-admin-api
      plugin-inquirer-cli:
        flags:
          - plugin-inquirer-cli
      plugin-proxy:
        flags:
          - plugin-proxy
flags:
  admin-api-client-data-provider:
    paths:
      - packages/admin-api-client-data-provider/**
    carryforward: true
  admin-api-client:
    paths:
      - packages/admin-api-client/**
    carryforward: true
  admin-api-paths:
    paths:
      - packages/admin-api-paths/**
    carryforward: true
  cli-runner:
    paths:
      - packages/cli-runner/**
    carryforward: true
  config:
    paths:
      - packages/config/**
    carryforward: true
  core:
    paths:
      - packages/core/**
    carryforward: true
  cypress-commands:
    paths:
      - packages/cypress-commands/**
    carryforward: true
  main:
    paths:
      - packages/main/**
    carryforward: true
  plugin-admin-api:
    paths:
      - packages/plugin-admin-api/**
    carryforward: true
  plugin-inquirer-cli:
    paths:
      - packages/plugin-inquirer-cli/**
    carryforward: true
  plugin-proxy:
    paths:
      - packages/plugin-proxy/**
    carryforward: true

style: Remove commented code out
  packages/core/src/scaffold/Scaffold.js
Due: core

chore: Remove branch build
  .github/workflows/build.yml
Due: none

feat(#366): Add text variant handler
  packages/core/CHANGELOG.md
  packages/core/src/variant-handlers/VariantHandlers.js
  packages/core/src/variant-handlers/handlers/Text.js
  packages/core/test/Core.spec.js
  packages/core/test/variant-handlers/handlers/Text.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/load-collections-and-routes.spec.js
  test/core-e2e/src/support/helpers.js
  test/core-e2e/src/text-variant-handler.spec.js
Due: core

feat: Add check option to collections.select method
  packages/core/CHANGELOG.md
  packages/core/src/common/helpers.js
  packages/core/src/mock/Collections.js
  packages/core/test/mock/Mock.spec.js
  test/core-e2e/src/text-variant-handler.spec.js
Due: core

feat: Add static variant handler
  mocks/admin-api-client-unit-mocks/mocks.config.js
  mocks/admin-api-client-unit-mocks/static/collections.js
  mocks/admin-api-client-unit-mocks/static/routes/routes.js
  mocks/admin-api-client-unit-mocks/static/static/humans.txt
  mocks/admin-api-client-unit-mocks/static/static/index.html
  mocks/admin-api-client-unit-mocks/static/static/subfolder/foo.json
  packages/core/CHANGELOG.md
  packages/core/src/mock/Collection.js
  packages/core/src/mock/helpers.js
  packages/core/src/mock/validations.js
  packages/core/src/variant-handlers/VariantHandlers.js
  packages/core/src/variant-handlers/handlers/Static.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/fixtures/static/collections.js
  test/core-e2e/src/fixtures/static/routes/routes.js
  test/core-e2e/src/fixtures/static/static/humans.txt
  test/core-e2e/src/fixtures/static/static/index.html
  test/core-e2e/src/fixtures/static/static/subfolder/foo.json
  test/core-e2e/src/static.spec.js
  test/core-e2e/src/text-variant-handler.spec.js
Due: core

chore: Run all core E2E tests
  test/core-e2e/jest.config.js
Due: none

feat: Add new variants property to openapi
  mocks/admin-api-client-unit-mocks/mocks.config.js
  mocks/admin-api-client-unit-mocks/static/collections.js
  mocks/admin-api-client-unit-mocks/static/routes/routes.js
  mocks/admin-api-client-unit-mocks/static/static/humans.txt
  mocks/admin-api-client-unit-mocks/static/static/index.html
  mocks/admin-api-client-unit-mocks/static/static/subfolder/foo.json
  packages/admin-api-client/test/index.spec.js
  packages/core/src/mock/helpers.js
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/src/Api.js
  packages/plugin-admin-api/src/swagger/openapi.js
  packages/plugin-admin-api/test/route-variants-api.spec.js
  test/admin-api-client-nodejs-e2e/src/index.spec.js
  test/core-e2e/src/delay-setting.spec.js
  test/core-e2e/src/multi-methods.spec.js
  test/core-e2e/src/plain-mocks-and-routes.spec.js
Due: admin-api-client, core, plugin-admin-api

test: Add core unit tests
  packages/core/jest.config.js
  packages/core/src/mock/Collection.js
  packages/core/src/variant-handlers/handlers/Static.js
  packages/core/test/Core.spec.js
  packages/core/test/common/Libs.mocks.js
  packages/core/test/mock/Collection.spec.js
  packages/core/test/mock/helpers.spec.js
  packages/core/test/variant-handlers/handlers/Json.spec.js
  packages/core/test/variant-handlers/handlers/Middleware.spec.js
  packages/core/test/variant-handlers/handlers/Static.spec.js
  packages/core/test/variant-handlers/handlers/Text.spec.js
Due: core

feat: Support * as route method. Return methods always in lowercase in plainRoutes
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/src/mock/Collection.js
  packages/core/src/mock/helpers.js
  packages/core/src/mock/validations.js
  packages/core/test/mock/Collection.spec.js
  packages/core/test/mock/helpers.spec.js
  packages/plugin-admin-api/jest.config.js
  packages/plugin-admin-api/src/Api.js
  packages/plugin-admin-api/test/fixtures/static/collections.js
  packages/plugin-admin-api/test/fixtures/static/routes/routes.js
  packages/plugin-admin-api/test/legacy/routes-api.spec.js
  packages/plugin-admin-api/test/variants-static.spec.js
  test/core-e2e-legacy/src/load-mocks-and-routes.spec.js
  test/core-e2e-legacy/src/multi-methods.spec.js
  test/core-e2e-legacy/src/plain-mocks-and-routes.spec.js
  test/core-e2e/src/load-collections-and-routes.spec.js
  test/core-e2e/src/multi-methods.spec.js
  test/core-e2e/src/plain-mocks-and-routes.spec.js
  test/main-e2e/src/createServer.spec.js
  test/main-e2e/src/proxy.spec.js
  test/main-e2e/src/scaffold.spec.js
Due: core, plugin-admin-api

docs: Ad missing changes to changelog
  packages/core/CHANGELOG.md
Due: core

style: Remove empty line
  packages/core/CHANGELOG.md
Due: core

chore: Fix Sonar smell
  test/core-e2e/src/support/helpers.js
Due: none

chore(release): Upgrade versions
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
Due: core, main, plugin-admin-api

refactor: Migrate to TypeScript
  packages/cypress-commands/.eslintrc.cjs
  packages/cypress-commands/.gitignore
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/babel.config.js
  packages/cypress-commands/index.js
  packages/cypress-commands/jest.config.js
  packages/cypress-commands/package.json
  packages/cypress-commands/sonar-project.properties
  packages/cypress-commands/src/.eslintrc.json
  packages/cypress-commands/src/admin-api-client.d.ts
  packages/cypress-commands/src/commands.js
  packages/cypress-commands/src/commands.ts
  packages/cypress-commands/src/helpers.js
  packages/cypress-commands/src/helpers.ts
  packages/cypress-commands/src/index.ts
  packages/cypress-commands/src/register.js
  packages/cypress-commands/src/register.ts
  packages/cypress-commands/src/types.ts
  packages/cypress-commands/test/Cypress.mock.js
  packages/cypress-commands/test/commands.spec.js
  packages/cypress-commands/test/register.spec.js
  packages/cypress-commands/tsconfig.json
Due: cypress-commands

test: Add cypress-commands E2E tests using TypeScript in Cypress
  pnpm-lock.yaml
  test/cypress-commands-typescript-e2e/.eslintrc.json
  test/cypress-commands-typescript-e2e/.gitignore
  test/cypress-commands-typescript-e2e/README.md
  test/cypress-commands-typescript-e2e/cypress.json
  test/cypress-commands-typescript-e2e/cypress/.eslintrc.json
  test/cypress-commands-typescript-e2e/cypress/integration/commands.ts
  test/cypress-commands-typescript-e2e/cypress/plugins/cy-ts-preprocessor.js
  test/cypress-commands-typescript-e2e/cypress/plugins/index.js
  test/cypress-commands-typescript-e2e/cypress/support/index.ts
  test/cypress-commands-typescript-e2e/mocks.config.js
  test/cypress-commands-typescript-e2e/mocks/collections.json
  test/cypress-commands-typescript-e2e/mocks/routes/responses.json
  test/cypress-commands-typescript-e2e/package.json
  test/cypress-commands-typescript-e2e/project.json
  test/cypress-commands-typescript-e2e/tsconfig.json
  workspace.json
Due: none

docs: Add TypeScript docs
  packages/cypress-commands/README.md
Due: cypress-commands

feat(#229): Support creating multiple Api clients
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/index.js
  packages/admin-api-client/src/entities.js
  packages/admin-api-client/src/methods.js
  packages/admin-api-client/test/index.spec.js
  packages/admin-api-client/test/support/helpers.js
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/README.md
  packages/cypress-commands/src/MocksServerApiClient.ts
  packages/cypress-commands/src/admin-api-client.d.ts
  packages/cypress-commands/src/commands.ts
  packages/cypress-commands/src/helpers.ts
  packages/cypress-commands/src/types.ts
  packages/cypress-commands/test/commands.spec.js
Due: admin-api-client, cypress-commands

feat: Export MocksServerApiClient. Add unit tests
  packages/cypress-commands/README.md
  packages/cypress-commands/src/MocksServerApiClient.ts
  packages/cypress-commands/src/commands.ts
  packages/cypress-commands/src/index.ts
  packages/cypress-commands/test/commands.spec.js
Due: cypress-commands

test: Add unit and E2E tests about multiple clients
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/package.json
  packages/admin-api-client/test/client.spec.js
  packages/cypress-commands/CHANGELOG.md
  test/cypress-commands-e2e/cypress/integration/commands.js
  test/cypress-commands-e2e/cypress/support/commands.js
  test/cypress-commands-e2e/package.json
  test/cypress-commands-typescript-e2e/cypress/support/index.ts
Due: admin-api-client, cypress-commands

feat: rename cypress-commands exported class. Add docs and E2E tests
  packages/admin-api-client/README.md
  packages/cypress-commands/README.md
  packages/cypress-commands/src/AdminApiClient.ts
  packages/cypress-commands/src/commands.ts
  packages/cypress-commands/src/index.ts
  packages/cypress-commands/src/register.ts
  packages/cypress-commands/src/types.ts
  packages/cypress-commands/test/commands.spec.js
  test/cypress-commands-e2e/cypress/integration/commands.js
  test/cypress-commands-typescript-e2e/cypress/integration/commands.ts
  test/cypress-commands-typescript-e2e/package.json
Due: admin-api-client, cypress-commands

refactor: Migrate admin-api-paths to TypeScript
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/src/config.js
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/README.md
  packages/admin-api-client/src/entities.js
  packages/admin-api-paths/.gitignore
  packages/admin-api-paths/CHANGELOG.md
  packages/admin-api-paths/README.md
  packages/admin-api-paths/package.json
  packages/admin-api-paths/rollup.config.js
  packages/admin-api-paths/src/.eslintrc.json
  packages/admin-api-paths/src/index.ts
  packages/admin-api-paths/test/index.spec.js
  packages/admin-api-paths/tsconfig.json
  packages/cypress-commands/src/types.ts
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/src/server/Server.js
Due: admin-api-client-data-provider, admin-api-client, admin-api-paths, cypress-commands, plugin-admin-api

refactor: migrate admin-api-client to TypeScript
  mocks/admin-api-client-e2e-vanilla-app/.eslintrc.json
  mocks/admin-api-client-e2e-vanilla-app/.gitignore
  mocks/admin-api-client-e2e-vanilla-app/package.json
  mocks/admin-api-client-e2e-vanilla-app/project.json
  mocks/admin-api-client-e2e-vanilla-app/public/index.html
  mocks/admin-api-client-e2e-vanilla-app/public/main.js
  mocks/admin-api-client-e2e-vanilla-app/public/styles.css
  mocks/admin-api-client-e2e-vanilla-app/scripts/copyLibrary.js
  mocks/admin-api-client-e2e-vanilla-app/serve.json
  package.json
  packages/admin-api-client/.babelrc
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/babel.config.js
  packages/admin-api-client/index.js
  packages/admin-api-client/jest.config.js
  packages/admin-api-client/jest.init.js
  packages/admin-api-client/package.json
  packages/admin-api-client/rollup.config.js
  packages/admin-api-client/src/.eslintrc.json
  packages/admin-api-client/src/entities.ts
  packages/admin-api-client/src/index.ts
  packages/admin-api-client/src/methods.ts
  packages/admin-api-client/src/types.ts
  packages/admin-api-client/test/client.spec.js
  packages/admin-api-client/test/index.spec.js
  packages/admin-api-client/test/support/helpers.js
  packages/admin-api-client/tsconfig.json
  packages/admin-api-paths/rollup.config.js
  packages/cypress-commands/src/admin-api-client.d.ts
  packages/cypress-commands/src/types.ts
  pnpm-lock.yaml
  test/admin-api-client-vanilla-app-e2e/package.json
  test/admin-api-client-vanilla-app-e2e/project.json
  workspace.json
Due: admin-api-client, admin-api-paths, cypress-commands

refactor: migrate admin-api-client to TypeScript
  .github/workflows/build.yml
Due: none

feat(#230): Add Cypress logs when running commands and MOCKS_SERVER_LOGS environment variable for disabling them
  packages/admin-api-client/src/entities.ts
  packages/admin-api-client/src/types.ts
  packages/admin-api-paths/CHANGELOG.md
  packages/admin-api-paths/src/index.ts
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/README.md
  packages/cypress-commands/package.json
  packages/cypress-commands/src/AdminApiClient.ts
  packages/cypress-commands/src/commands.ts
  packages/cypress-commands/src/helpers.ts
  packages/cypress-commands/src/index.ts
  packages/cypress-commands/src/register.ts
  packages/cypress-commands/src/types.ts
  packages/cypress-commands/test/Cypress.mock.js
  packages/cypress-commands/test/commands.spec.js
  packages/cypress-commands/test/register.spec.js
  pnpm-lock.yaml
  test/cypress-commands-typescript-e2e/cypress.json
Due: admin-api-client, admin-api-paths, cypress-commands

feat(#389): Add status variant handler
  packages/core/CHANGELOG.md
  packages/core/src/variant-handlers/VariantHandlers.js
  packages/core/src/variant-handlers/handlers/Status.js
  packages/core/test/Core.spec.js
  packages/core/test/variant-handlers/handlers/Status.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/status-variant-handler.spec.js
Due: core

feat(#388): Add file Variant Handler
  packages/core/CHANGELOG.md
  packages/core/src/variant-handlers/VariantHandlers.js
  packages/core/src/variant-handlers/handlers/File.js
  packages/core/test/Core.spec.js
  packages/core/test/variant-handlers/handlers/File.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/file-handler.spec.js
  test/core-e2e/src/fixtures/file-handler/collections.js
  test/core-e2e/src/fixtures/file-handler/files/error.txt
  test/core-e2e/src/fixtures/file-handler/files/user.json
  test/core-e2e/src/fixtures/file-handler/files/users.json
  test/core-e2e/src/fixtures/file-handler/files/web.html
  test/core-e2e/src/fixtures/file-handler/routes/routes.js
Due: core

feat: Change scaffold to use disabled variant
  packages/core/src/scaffold/mocks/routes/common.js
Due: core

test: Fix E2E test
  test/main-e2e/src/createServer.spec.js
  test/main-e2e/src/scaffold.spec.js
Due: none

style: Add empty lines at the end of files
  .github/workflows/build.yml
  mocks/admin-api-client-e2e-vanilla-app/public/index.html
  mocks/admin-api-client-e2e-vanilla-app/public/styles.css
  test/core-e2e/jest.config.js
  test/core-e2e/src/file-handler.spec.js
  test/core-e2e/src/fixtures/file-handler/files/error.txt
  test/core-e2e/src/fixtures/file-handler/files/user.json
  test/core-e2e/src/fixtures/file-handler/files/users.json
Due: none

docs: Add change to changelog
  packages/main/CHANGELOG.md
Due: main

chore: Fix admin-api-paths coverage. Improve status handler logs
  packages/admin-api-paths/jest.config.js
  packages/core/src/variant-handlers/handlers/Status.js
Due: admin-api-paths, core

chore(release): Upgrade versions
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/package.json
  packages/admin-api-client-data-provider/sonar-project.properties
  packages/admin-api-client/CHANGELOG.md
  packages/admin-api-client/package.json
  packages/admin-api-client/sonar-project.properties
  packages/admin-api-paths/CHANGELOG.md
  packages/admin-api-paths/package.json
  packages/admin-api-paths/sonar-project.properties
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/cypress-commands/CHANGELOG.md
  packages/cypress-commands/package.json
  packages/cypress-commands/sonar-project.properties
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/main/sonar-project.properties
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
Due: admin-api-client-data-provider, admin-api-client, admin-api-paths, core, cypress-commands, main, plugin-admin-api

chore: Change versions
  packages/admin-api-client-data-provider/CHANGELOG.md
  packages/admin-api-client-data-provider/package.json
  packages/admin-api-client-data-provider/sonar-project.properties
  packages/plugin-admin-api/CHANGELOG.md
  packages/plugin-admin-api/package.json
  packages/plugin-admin-api/sonar-project.properties
Due: admin-api-client-data-provider, plugin-admin-api

refactor(#371): Separate logic about loading files from logic about loading routes and collections from files
  packages/admin-api-client/package.json
  packages/admin-api-client/test/client.spec.js
  packages/admin-api-client/test/index.spec.js
  packages/core/CHANGELOG.md
  packages/core/jest.config.js
  packages/core/src/files/FilesLoaders.js
  packages/core/src/files/Loader.js
  packages/core/src/files/helpers.js
  packages/core/src/files/loaders/Collections.js
  packages/core/src/files/loaders/Routes.js
  packages/core/src/variant-handlers/VariantHandlers.js
  packages/core/test/files/FilesLoaders.spec.js
  packages/core/test/files/helpers.spec.js
  packages/main/CHANGELOG.md
  packages/main/src/start.js
  packages/plugin-admin-api/jest.config.js
  packages/plugin-admin-api/test/alerts-api.spec.js
  packages/plugin-admin-api/test/legacy/alerts-api.spec.js
  test/core-e2e-legacy/src/files-error.spec.js
  test/core-e2e-legacy/src/validations.spec.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/files-error.spec.js
  test/core-e2e/src/validations.spec.js
Due: admin-api-client, core, main, plugin-admin-api

feat(#371): Add yaml support
  packages/core/package.json
  packages/core/src/files/FilesLoaders.js
  packages/core/src/files/helpers.js
  pnpm-lock.yaml
  test/core-e2e/jest.config.js
  test/core-e2e/src/fixtures/yaml-files/collections.yml
  test/core-e2e/src/fixtures/yaml-files/routes/users.yaml
  test/core-e2e/src/yaml-files.spec.js
Due: core

feat(#371): Load files asynchronously
  packages/core/src/files/FilesLoaders.js
  packages/core/src/files/Loader.js
  packages/core/src/files/helpers.js
  packages/core/test/files/FilesLoaders.spec.js
  packages/core/test/files/helpers.spec.js
  test/admin-api-client-nodejs-e2e/src/index.spec.js
  test/plugin-inquirer-cli-e2e/src/main/files-watch.spec.js
Due: core

feat: Expose files API in core
  packages/core/CHANGELOG.md
  packages/core/src/Core.js
  packages/core/src/common/CoreApi.js
  packages/core/src/files/FilesLoaders.js
  packages/core/test/Core.mocks.js
  packages/core/test/Core.spec.js
  packages/core/test/plugins/Plugins.spec.js
Due: core

test(e2e): Add files.createLoader and files.reload E2E tests
  packages/core/src/files/FilesLoaders.js
  packages/core/src/files/Loader.js
  packages/core/src/files/loaders/Collections.js
  packages/core/src/files/loaders/Routes.js
  test/core-e2e/jest.config.js
  test/core-e2e/src/files-loaders.spec.js
  test/core-e2e/src/fixtures/web-tutorial-modified/routes/foo.js
Due: core

docs: Improve main readme file
  README.md
Due: none

docs: Update changelog
  packages/main/CHANGELOG.md
Due: main
